@import '../_utilities';
@import 'textAlign';
@import 'justifyContent';
@import 'float';
@import 'display';
@import 'width';
@import 'height';
@import 'width';
@import 'height';
@import 'alignContent';
@import 'alignItems';
@import 'alignSelf';
@import 'backfaceVisibility';
@import 'backgroundRepeat';
@import 'backgroundAttachment';
@import 'backgroundPosition';
@import 'flexDirection';
@import 'flexWrap';
@import 'float';
@import 'justifyContent';
@import 'textTransform';
@import 'listStyleType';
@import 'overflow';
@import 'pointerEvents';
@import 'textAlign';
@import 'visibility';
@import '../theme/_all';

$configuration: map-merge($display, $float);
$configuration: map-merge($configuration, $textAlign);
$configuration: map-merge($configuration, $height);
$configuration: map-merge($configuration, $width);
$configuration: map-merge($configuration, $boxShadow);
$configuration: map-merge($configuration, $color);
$configuration: map-merge($configuration, $fontSize);
$configuration: map-merge($configuration, $alignContent);
$configuration: map-merge($configuration, $alignItems);
$configuration: map-merge($configuration, $alignSelf);
$configuration: map-merge($configuration, $backgroundAttachment);
$configuration: map-merge($configuration, $backgroundPosition);
$configuration: map-merge($configuration, $backgroundRepeat);
$configuration: map-merge($configuration, $flexDirection);
$configuration: map-merge($configuration, $flexWrap);
$configuration: map-merge($configuration, $justifyContent);
$configuration: map-merge($configuration, $listStyleType);
$configuration: map-merge($configuration, $overflow);
$configuration: map-merge($configuration, $pointerEvents);
$configuration: map-merge($configuration, $visibility);
$configuration: map-merge($configuration, $fontWeight);
$configuration: map-merge($configuration, $letterSpacing);
$configuration: map-merge($configuration, $textTransform);
// $configuration: map-merge($configuration, $backgroundClip);
// $configuration: map-merge($configuration, $backgroundColor);
// $configuration: map-merge($configuration, $backgroundOrigin);
// $configuration: map-merge($configuration, $borderCollapse);
// $configuration: map-merge($configuration, $borderImageWidth);
// $configuration: map-merge($configuration, $borderRadius);
// $configuration: map-merge($configuration, $boxDecorationBreak);
// $configuration: map-merge($configuration, $boxShadow);
// $configuration: map-merge($configuration, $boxSizing);
// $configuration: map-merge($configuration, $captionSide);
// $configuration: map-merge($configuration, $clear);
// $configuration: map-merge($configuration, $counterReset);
// $configuration: map-merge($configuration, $cursor);
// $configuration: map-merge($configuration, $direction);
// $configuration: map-merge($configuration, $display);
// $configuration: map-merge($configuration, $emptyCells);
// $configuration: map-merge($configuration, $flexFlow);
// $configuration: map-merge($configuration, $flexGrow);
// $configuration: map-merge($configuration, $flexShrink);
// $configuration: map-merge($configuration, $float);
// $configuration: map-merge($configuration, $fontFamilty);
// $configuration: map-merge($configuration, $fontKerning);
// $configuration: map-merge($configuration, $fontSizeAdjust);
// $configuration: map-merge($configuration, $fontStrech);
// $configuration: map-merge($configuration, $fontStyle);
// $configuration: map-merge($configuration, $fontfontVariant);
// $configuration: map-merge($configuration, $fontWeight);
// $configuration: map-merge($configuration, $grid);
// $configuration: map-merge($configuration, $gridArea);
// $configuration: map-merge($configuration, $gridAutoColumns);
// $configuration: map-merge($configuration, $gridAutoFlow);
// $configuration: map-merge($configuration, $gridAutoRows);
// $configuration: map-merge($configuration, $gridColumm);
// $configuration: map-merge($configuration, $gridColumnEnd);
// $configuration: map-merge($configuration, $gridColumnGap);
// $configuration: map-merge($configuration, $gridColumnStart);
// $configuration: map-merge($configuration, $gridGap);
// $configuration: map-merge($configuration, $gridRow);
// $configuration: map-merge($configuration, $gridRowGap);
// $configuration: map-merge($configuration, $gridRowEnd);
// $configuration: map-merge($configuration, $gridRowStart);
// $configuration: map-merge($configuration, $gridTemplate);
// $configuration: map-merge($configuration, $gridTemplateAreas);
// $configuration: map-merge($configuration, $gridTemplateColumns);
// $configuration: map-merge($configuration, $hangingPunctuation);
// $configuration: map-merge($configuration, $hyphens);
// $configuration: map-merge($configuration, $height);
// $configuration: map-merge($configuration, $isolation);
// $configuration: map-merge($configuration, $left);
// $configuration: map-merge($configuration, $letterSpacing);
// $configuration: map-merge($configuration, $lineHeight);
// $configuration: map-merge($configuration, $listStyleImage);
// $configuration: map-merge($configuration, $listStylePosition);
// $configuration: map-merge($configuration, $listStyleType);
// $configuration: map-merge($configuration, $margin);
// $configuration: map-merge($configuration, $marginLeft);
// $configuration: map-merge($configuration, $marginRight);
// $configuration: map-merge($configuration, $marginTop);
// $configuration: map-merge($configuration, $marginBottom);
// $configuration: map-merge($configuration, $maxHeight);
// $configuration: map-merge($configuration, $maxWidth);
// $configuration: map-merge($configuration, $minHeight);
// $configuration: map-merge($configuration, $minWidth);
// $configuration: map-merge($configuration, $mixBlendMode);
// $configuration: map-merge($configuration, $objectFit);
// $configuration: map-merge($configuration, $objectPosition);
// $configuration: map-merge($configuration, $opacity);
// $configuration: map-merge($configuration, $order);
// $configuration: map-merge($configuration, $outline);
// $configuration: map-merge($configuration, $outlineColor);
// $configuration: map-merge($configuration, $outlineStyle);
// $configuration: map-merge($configuration, $outlineWidth);
// $configuration: map-merge($configuration, $overflowY);
// $configuration: map-merge($configuration, $padding);
// $configuration: map-merge($configuration, $paddingBottom);
// $configuration: map-merge($configuration, $paddingLeft);
// $configuration: map-merge($configuration, $paddingRight);
// $configuration: map-merge($configuration, $paddingTop);
// $configuration: map-merge($configuration, $pageBreakAfter);
// $configuration: map-merge($configuration, $pageBrealBefore);
// $configuration: map-merge($configuration, $pageBreakInside);
// $configuration: map-merge($configuration, $perspective);
// $configuration: map-merge($configuration, $perspectiveOrigin);
// $configuration: map-merge($configuration, $position);
// $configuration: map-merge($configuration, $quotes);
// $configuration: map-merge($configuration, $resize);
// $configuration: map-merge($configuration, $right);
// $configuration: map-merge($configuration, $scrollBehavior);
// $configuration: map-merge($configuration, $tableLayout);
// $configuration: map-merge($configuration, $tabSize);
// $configuration: map-merge($configuration, $textAlign);
// $configuration: map-merge($configuration, $textAlignLast);
// $configuration: map-merge($configuration, $textDecoration);
// $configuration: map-merge($configuration, $textDecorationColor);
// $configuration: map-merge($configuration, $textDecorationLine);
// $configuration: map-merge($configuration, $textDecorationStyle);
// $configuration: map-merge($configuration, $textIndent);
// $configuration: map-merge($configuration, $textJustify);
// $configuration: map-merge($configuration, $textOverflow);
// $configuration: map-merge($configuration, $textTransform);
// $configuration: map-merge($configuration, $top);

// $configuration: map-merge($configuration, $transformOrigin);
// $configuration: map-merge($configuration, $transformStyle);
// $configuration: map-merge($configuration, $transition);
// $configuration: map-merge($configuration, $transitionDelay);
// $configuration: map-merge($configuration, $transitionDuration);
// $configuration: map-merge($configuration, $transitionProperty);
// $configuration: map-merge($configuration, $transitionTimingFunction);
// $configuration: map-merge($configuration, $unicodeBidi);
// $configuration: map-merge($configuration, $userSelect);
// $configuration: map-merge($configuration, $verticalAlign);
// $configuration: map-merge($configuration, $whiteSpace);
// $configuration: map-merge($configuration, $wordBreak);
// $configuration: map-merge($configuration, $wordSpacing);
// $configuration: map-merge($configuration, $wordWrap);
// $configuration: map-merge($configuration, $writingMode);
// $configuration: map-merge($configuration, $zIndex);
