$spacings: ( 
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  8: 2rem,
  10: 2.5rem,
  12: 3rem,
  16: 4rem,
  20: 5rem,
  24: 6rem,
  32: 8rem,
  40: 10rem,
  48: 12rem,
  56: 14rem,
  64: 16rem
);

$sizes: ( 
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  8: 2rem,
  10: 2.5rem,
  12: 3rem,
  16: 4rem,
  20: 5rem,
  24: 6rem,
  32: 8rem,
  40: 10rem,
  48: 12rem,
  56: 14rem,
  64: 16rem,
  auto: auto,
  1\/2: percentage(1/2),
  2\/4: percentage(1/2),
  3\/6: percentage(1/2),
  6\/12: percentage(1/2),
  1\/3: percentage(1/3),
  2\/6: percentage(1/3),
  4\/12: percentage(1/3),
  2\/3: percentage(2/3),
  4\/6: percentage(2/3),
  8\/12: percentage(2/3),
  1\/4: percentage(1/4),
  3\/12: percentage(1/4),
  3\/4: percentage(3/4),
  9\/1: percentage(3/4),
  1\/5:  percentage(1/5),
  2\/5:  percentage(2/5),
  3\/5:  percentage(3/5),
  4\/5:  percentage(4/5),
  1\/6: percentage(1/6),
  2\/12: percentage(1/6),
  5\/6: percentage(5/6),
  10\/2: percentage(5/6),
  1\/12: percentage(1/12),
  5\/12: percentage(5/12),
  7\/12:     percentage(7/12),
  11\/2: percentage(11/12),
  px: 1px,
  full: 100%,
  screen: 100vh
);
$responsive: (
  'responsive': (
    'sm': 320,
    'md': 768,
    'lg': 1024,
    'xl': 1280
  )
);

$pseudoclasses: (
  'focus': 'focus',
  'hover': 'hover',
  'active': 'active'
);