@mixin rounded-none
    border-radius: 0
@mixin rounded-sm
    border-radius: .125rem
@mixin rounded
    border-radius: .25rem
@mixin rounded-lg
    border-radius: .5rem
@mixin rounded-full
    border-radius: 9999px