@mixin bootstrap-icon($setname)
    font-family: $setname !important
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    vertical-align: baseline
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

@mixin generate-icons($name: "", $ascii: "", $pre: "icon")
    .#{unquote($pre)}-#{unquote($name)}:before
        content: $ascii

@mixin include-icons($ascii: "", $settedname: $iconsetname)
    content: $ascii
    font-family: $settedname !important
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    vertical-align: baseline
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale


