@mixin paddingx($misures...)
    @if length($misures) > 1
        padding-left: nth($misures, 1)
        padding-right: nth($misures, 2)
    @else
        padding-left: $misures
        padding-right: $misures

@mixin paddingy($misures...)
    @if length($misures) > 1
        padding-top: nth($misures, 1)
        padding-bottom: nth($misures, 2)
    @else
        padding-top: $misures
        padding-bottom: $misures