@mixin focuses ($kind)
    &
        background-color: red
@mixin hovered ($kind)
    &
        background-color: red
@mixin pressed ($kind)
    &
        background-color: red
@mixin selected ($kind)
    &
        background-color: red
@mixin highlighted ($kind)
    &
        background-color: red


        