/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */
/**
 * 1. Prevent padding and border from affecting element width
 * https://goo.gl/pYtbK7
 * 2. Change the default font family in all browsers (opinionated)
 */
html {
  box-sizing: border-box;
  /* 1 */
  font-family: sans-serif;
  /* 2 */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Removes the default spacing and border for appropriate elements.
 */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background: transparent;
  padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */
/**
 * 1. Use the system font stack as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 * to override it to ensure consistency even when using the default theme.
 */
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 1 */
  line-height: 1.5;
  /* 2 */
}

/**
 * Allow adding a border to an element by just adding a border-width.
 *
 * By default, the way the browser specifies that an element should have no
 * border is by setting it's border-style to `none` in the user-agent
 * stylesheet.
 *
 * In order to easily add borders to elements by just setting the `border-width`
 * property, we change the default border-style for all elements to `solid`, and
 * use border-width to hide them instead. This way our `border` utilities only
 * need to set the `border-width` property instead of the entire `border`
 * shorthand, making our border utilities much more straightforward to compose.
 *
 * https://github.com/tailwindcss/tailwindcss/pull/116
 */
*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.default", currentColor);
}

/*
 * Ensure horizontal rules are visible by default
 */
hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */
img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  color: #a0aec0;
}

button,
[role=button] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */
a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */
pre,
code,
kbd,
samp {
  font-family: theme("fontFamily.mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
}

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their instrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */
img,
video {
  max-width: 100%;
  height: auto;
}

/*
  convert a camelcase in string separate by -
  ex: textAlign _> text-align
*/
/* this mixin is used for create the placeholder */
/* this mixin is used for take value and extend an element */
/*
  understand if is used?!

  extend it or add values?

  now: 
*/
/*
  If value don't have unit the fallback is px
*/
/*
  for create the placeholders i need all values
  so for every key i need to create
*/
.flex {
  display: "flex";
}

.block {
  display: "block";
}

.inline {
  display: "inline";
}

.flex-inline {
  display: "flex-inline";
}

.inline-block {
  display: "inline-block";
}

.table {
  display: "table";
}

.table-cell {
  display: "table-cell";
}

.table-row {
  display: "table-row";
}

.float-left {
  float: "left";
}

.float-right {
  float: "right";
}

.float-none {
  float: "center";
}

.align-left {
  text-align: "left";
}

.align-right {
  text-align: "right";
}

.align-center {
  text-align: "center";
}

.align-justify {
  text-align: "justify";
}

.h-0 {
  height: 0;
}

.h-1 {
  height: 0.25rem;
}

.h-2 {
  height: 0.5rem;
}

.h-3 {
  height: 0.75rem;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-10 {
  height: 2.5rem;
}

.h-12 {
  height: 3rem;
}

.h-16 {
  height: 4rem;
}

.h-20 {
  height: 5rem;
}

.h-24 {
  height: 6rem;
}

.h-32 {
  height: 8rem;
}

.h-40 {
  height: 10rem;
}

.h-48 {
  height: 12rem;
}

.h-56 {
  height: 14rem;
}

.h-64 {
  height: 16rem;
}

.h-auto {
  height: auto;
}

.h-1\/2 {
  height: 50%;
}

.h-2\/4 {
  height: 50%;
}

.h-3\/6 {
  height: 50%;
}

.h-6\/12 {
  height: 50%;
}

.h-1\/3 {
  height: 33.3333333333%;
}

.h-2\/6 {
  height: 33.3333333333%;
}

.h-4\/12 {
  height: 33.3333333333%;
}

.h-2\/3 {
  height: 66.6666666667%;
}

.h-4\/6 {
  height: 66.6666666667%;
}

.h-8\/12 {
  height: 66.6666666667%;
}

.h-1\/4 {
  height: 25%;
}

.h-3\/12 {
  height: 25%;
}

.h-3\/4 {
  height: 75%;
}

.h-9\/1 {
  height: 75%;
}

.h-1\/5 {
  height: 20%;
}

.h-2\/5 {
  height: 40%;
}

.h-3\/5 {
  height: 60%;
}

.h-4\/5 {
  height: 80%;
}

.h-1\/6 {
  height: 16.6666666667%;
}

.h-2\/12 {
  height: 16.6666666667%;
}

.h-5\/6 {
  height: 83.3333333333%;
}

.h-10\/2 {
  height: 83.3333333333%;
}

.h-1\/12 {
  height: 8.3333333333%;
}

.h-5\/12 {
  height: 41.6666666667%;
}

.h-7\/12 {
  height: 58.3333333333%;
}

.h-11\/2 {
  height: 91.6666666667%;
}

.h-px {
  height: 1px;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.w-0 {
  width: 0;
}

.w-1 {
  width: 0.25rem;
}

.w-2 {
  width: 0.5rem;
}

.w-3 {
  width: 0.75rem;
}

.w-4 {
  width: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-8 {
  width: 2rem;
}

.w-10 {
  width: 2.5rem;
}

.w-12 {
  width: 3rem;
}

.w-16 {
  width: 4rem;
}

.w-20 {
  width: 5rem;
}

.w-24 {
  width: 6rem;
}

.w-32 {
  width: 8rem;
}

.w-40 {
  width: 10rem;
}

.w-48 {
  width: 12rem;
}

.w-56 {
  width: 14rem;
}

.w-64 {
  width: 16rem;
}

.w-auto {
  width: auto;
}

.w-1\/2 {
  width: 50%;
}

.w-2\/4 {
  width: 50%;
}

.w-3\/6 {
  width: 50%;
}

.w-6\/12 {
  width: 50%;
}

.w-1\/3 {
  width: 33.3333333333%;
}

.w-2\/6 {
  width: 33.3333333333%;
}

.w-4\/12 {
  width: 33.3333333333%;
}

.w-2\/3 {
  width: 66.6666666667%;
}

.w-4\/6 {
  width: 66.6666666667%;
}

.w-8\/12 {
  width: 66.6666666667%;
}

.w-1\/4 {
  width: 25%;
}

.w-3\/12 {
  width: 25%;
}

.w-3\/4 {
  width: 75%;
}

.w-9\/1 {
  width: 75%;
}

.w-1\/5 {
  width: 20%;
}

.w-2\/5 {
  width: 40%;
}

.w-3\/5 {
  width: 60%;
}

.w-4\/5 {
  width: 80%;
}

.w-1\/6 {
  width: 16.6666666667%;
}

.w-2\/12 {
  width: 16.6666666667%;
}

.w-5\/6 {
  width: 83.3333333333%;
}

.w-10\/2 {
  width: 83.3333333333%;
}

.w-1\/12 {
  width: 8.3333333333%;
}

.w-5\/12 {
  width: 41.6666666667%;
}

.w-7\/12 {
  width: 58.3333333333%;
}

.w-11\/2 {
  width: 91.6666666667%;
}

.w-px {
  width: 1px;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vh;
}

.shadow-l1 {
  box-shadow: 0 2px 1px -1px rgba(33, 41, 52, 0.2), 0 1px 1px 0 rgba(33, 41, 52, 0.14), 0 1px 3px 0 rgba(33, 41, 52, 0.12);
}

.shadow-l2 {
  box-shadow: 0 2px 4px -1px rgba(33, 41, 52, 0.2), 0 4px 5px 0 rgba(33, 41, 52, 0.14), 0 1px 10px 0 rgba(33, 41, 52, 0.12);
}

.shadow-l3 {
  box-shadow: 0 5px 5px -3px rgba(33, 41, 52, 0.2), 0 8px 10px 1px rgba(33, 41, 52, 0.14), 0 3px 14px 2px rgba(33, 41, 52, 0.12);
}

.shadow-l4 {
  box-shadow: 0 7px 8px -4px rgba(33, 41, 52, 0.2), 0 12px 17px 2px rgba(33, 41, 52, 0.14), 0 5px 22px 4px rgba(33, 41, 52, 0.12);
}

.shadow-l5 {
  box-shadow: 0 8px 10px -5px rgba(33, 41, 52, 0.2), 0 16px 24px 2px rgba(33, 41, 52, 0.14), 0 6px 30px 5px rgba(33, 41, 52, 0.12);
}

.shadow-l6 {
  box-shadow: 0 10px 13px -6px rgba(33, 41, 52, 0.2), 0 20px 31px 3px rgba(33, 41, 52, 0.14), 0 8px 38px 7px rgba(33, 41, 52, 0.12);
}

.grey-700 {
  color: #212934;
}

.grey-600 {
  color: #5F6B79;
}

.grey-500 {
  color: #8895A6;
}

.grey-400 {
  color: #B8C4CD;
}

.grey-300 {
  color: #CFD6DE;
}

.grey-200 {
  color: #E1E7EC;
}

.grey-100 {
  color: #F8F9FA;
}

.red-700 {
  color: #620708;
}

.red-600 {
  color: #861415;
}

.red-500 {
  color: #DB292B;
}

.red-400 {
  color: #FB4C4E;
}

.red-300 {
  color: #FC8081;
}

.red-200 {
  color: #FEB8B8;
}

.red-100 {
  color: #FFF2F2;
}

.green-700 {
  color: #064408;
}

.green-600 {
  color: #206B23;
}

.green-500 {
  color: #3A913E;
}

.green-400 {
  color: #67CB6B;
}

.green-300 {
  color: #9DDF9F;
}

.green-200 {
  color: #BEF3C0;
}

.green-100 {
  color: #EFFDEF;
}

.yellow-700 {
  color: #624409;
}

.yellow-600 {
  color: #926E11;
}

.yellow-500 {
  color: #BC8908;
}

.yellow-400 {
  color: #DAAC09;
}

.yellow-300 {
  color: #F1BF0F;
}

.yellow-200 {
  color: #FADC41;
}

.yellow-100 {
  color: #FEF7D3;
}

.t-h1 {
  font-size: 64px;
}

.t-h2 {
  font-size: 50px;
}

.t-h3 {
  font-size: 37px;
}

.t-h4 {
  font-size: 28px;
}

.t-h5 {
  font-size: 21px;
}

.t-h6 {
  font-size: 16px;
}

.t-1 {
  font-size: 21px;
}

.t-2 {
  font-size: 14px;
}

.t-3 {
  font-size: 12px;
}

.content-stretch {
  align-content: "stretch";
}

.content-center {
  align-content: "center";
}

.content-start {
  align-content: "flex-start";
}

.content-end {
  align-content: "flex-end";
}

.content-between {
  align-content: "space-between";
}

.content-around {
  align-content: "space-around";
}

.content-initial {
  align-content: "initial";
}

.content-inherit {
  align-content: "inherit";
}

.items-stretch {
  align-items: "stretch";
}

.items-center {
  align-items: "center";
}

.items-start {
  align-items: "flex-start";
}

.items-end {
  align-items: "flex-end";
}

.items-baseline {
  align-items: "baseline";
}

.items-initial {
  align-items: "initial";
}

.items-inherit {
  align-items: "inherit";
}

.self-auto {
  align-self: "auto";
}

.self-stretch {
  align-self: "stretch";
}

.self-center {
  align-self: "center";
}

.self-start {
  align-self: "flex-start";
}

.self-end {
  align-self: "flex-end";
}

.self-baseline {
  align-self: "baseline";
}

.self-initial {
  align-self: "initial";
}

.self-inherit {
  align-self: "inherit";
}

.bg-scroll {
  background-attachment: "scroll";
}

.bg-fixed {
  background-attachment: "fixed";
}

.bg-center {
  background-position: "center center";
}

.bg-left {
  background-position: "left center";
}

.bg-right {
  background-position: "right center";
}

.bg-top {
  background-position: "top center";
}

.bg-bottom {
  background-position: "bottom center";
}

.bg-topleft {
  background-position: "top left";
}

.bg-topright {
  background-position: "top right";
}

.bg-bottomleft {
  background-position: "bottom left";
}

.bg-bottomright {
  background-position: "bottom right";
}

.bg-repeat {
  background-repeat: "repeat";
}

.bg-repeat-x {
  background-repeat: "repeat-x";
}

.bg-repeat-y {
  background-repeat: "repeat-y";
}

.bg-no-repeat {
  background-repeat: "no-repeat	";
}

.bg-space {
  background-repeat: "space";
}

.bg-round {
  background-repeat: "round";
}

.bg-initial {
  background-repeat: "initial";
}

.bg-inherit {
  background-repeat: "inherit";
}

.flex-row {
  flex-direction: "row";
}

.flex-row-reverse {
  flex-direction: "row-reverse";
}

.flex-column {
  flex-direction: "column";
}

.flex-column-reverse {
  flex-direction: "column-reverse";
}

.flex-nowrap {
  flex-wrap: "nowrap";
}

.flex-wrap {
  flex-wrap: "wrap";
}

.flex-wrap-reverse {
  flex-wrap: "wrap-reverse";
}

.justify-start {
  justify-content: "flex-start";
}

.justify-end {
  justify-content: "flex-end";
}

.justify-center {
  justify-content: "center";
}

.justify-between {
  justify-content: "space-between";
}

.justify-around {
  justify-content: "space-around";
}

.list-none {
  list-style-type: "none";
}

.overflow-visible {
  overflow: "visible";
}

.overflow-hidden {
  overflow: "hidden";
}

.overflow-scroll {
  overflow: "scroll";
}

.overflow-auto {
  overflow: "auto";
}

.events-none {
  pointer-events: "none";
}

.visible {
  visibility: "visible";
}

.hidden {
  visibility: "hidden";
}

.collapse {
  visibility: "collapse";
}

.bold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.ls-1 {
  letter-spacing: -1.5px;
}

.ls-2 {
  letter-spacing: -0.5px;
}

.ls-3 {
  letter-spacing: 0.1px;
}

.ls-4 {
  letter-spacing: 0.15px;
}

.ls-5 {
  letter-spacing: 0.25px;
}

.ls-6 {
  letter-spacing: 0.5px;
}

.ls-7 {
  letter-spacing: 1.25px;
}

.ls-8 {
  letter-spacing: 1.5px;
}

.normal {
  text-transform: "none";
}

.capitalize {
  text-transform: "capitalize";
}

.lowercase {
  text-transform: "lowercase";
}

.uppercase {
  text-transform: "uppercase";
}

@media (min-width: 320px) {
  .sm\:align-left {
    text-align: "left";
  }

  .sm\:align-right {
    text-align: "right";
  }

  .sm\:align-center {
    text-align: "center";
  }

  .sm\:align-justify {
    text-align: "justify";
  }

  .sm\:float-left {
    float: "left";
  }

  .sm\:float-right {
    float: "right";
  }

  .sm\:float-none {
    float: "center";
  }

  .sm\:h-0 {
    height: 0;
  }

  .sm\:h-1 {
    height: 0.25rem;
  }

  .sm\:h-2 {
    height: 0.5rem;
  }

  .sm\:h-3 {
    height: 0.75rem;
  }

  .sm\:h-4 {
    height: 1rem;
  }

  .sm\:h-5 {
    height: 1.25rem;
  }

  .sm\:h-6 {
    height: 1.5rem;
  }

  .sm\:h-8 {
    height: 2rem;
  }

  .sm\:h-10 {
    height: 2.5rem;
  }

  .sm\:h-12 {
    height: 3rem;
  }

  .sm\:h-16 {
    height: 4rem;
  }

  .sm\:h-20 {
    height: 5rem;
  }

  .sm\:h-24 {
    height: 6rem;
  }

  .sm\:h-32 {
    height: 8rem;
  }

  .sm\:h-40 {
    height: 10rem;
  }

  .sm\:h-48 {
    height: 12rem;
  }

  .sm\:h-56 {
    height: 14rem;
  }

  .sm\:h-64 {
    height: 16rem;
  }

  .sm\:h-auto {
    height: auto;
  }

  .sm\:h-1\/2 {
    height: 50%;
  }

  .sm\:h-2\/4 {
    height: 50%;
  }

  .sm\:h-3\/6 {
    height: 50%;
  }

  .sm\:h-6\/12 {
    height: 50%;
  }

  .sm\:h-1\/3 {
    height: 33.3333333333%;
  }

  .sm\:h-2\/6 {
    height: 33.3333333333%;
  }

  .sm\:h-4\/12 {
    height: 33.3333333333%;
  }

  .sm\:h-2\/3 {
    height: 66.6666666667%;
  }

  .sm\:h-4\/6 {
    height: 66.6666666667%;
  }

  .sm\:h-8\/12 {
    height: 66.6666666667%;
  }

  .sm\:h-1\/4 {
    height: 25%;
  }

  .sm\:h-3\/12 {
    height: 25%;
  }

  .sm\:h-3\/4 {
    height: 75%;
  }

  .sm\:h-9\/1 {
    height: 75%;
  }

  .sm\:h-1\/5 {
    height: 20%;
  }

  .sm\:h-2\/5 {
    height: 40%;
  }

  .sm\:h-3\/5 {
    height: 60%;
  }

  .sm\:h-4\/5 {
    height: 80%;
  }

  .sm\:h-1\/6 {
    height: 16.6666666667%;
  }

  .sm\:h-2\/12 {
    height: 16.6666666667%;
  }

  .sm\:h-5\/6 {
    height: 83.3333333333%;
  }

  .sm\:h-10\/2 {
    height: 83.3333333333%;
  }

  .sm\:h-1\/12 {
    height: 8.3333333333%;
  }

  .sm\:h-5\/12 {
    height: 41.6666666667%;
  }

  .sm\:h-7\/12 {
    height: 58.3333333333%;
  }

  .sm\:h-11\/2 {
    height: 91.6666666667%;
  }

  .sm\:h-px {
    height: 1px;
  }

  .sm\:h-full {
    height: 100%;
  }

  .sm\:h-screen {
    height: 100vh;
  }

  .sm\:w-0 {
    width: 0;
  }

  .sm\:w-1 {
    width: 0.25rem;
  }

  .sm\:w-2 {
    width: 0.5rem;
  }

  .sm\:w-3 {
    width: 0.75rem;
  }

  .sm\:w-4 {
    width: 1rem;
  }

  .sm\:w-5 {
    width: 1.25rem;
  }

  .sm\:w-6 {
    width: 1.5rem;
  }

  .sm\:w-8 {
    width: 2rem;
  }

  .sm\:w-10 {
    width: 2.5rem;
  }

  .sm\:w-12 {
    width: 3rem;
  }

  .sm\:w-16 {
    width: 4rem;
  }

  .sm\:w-20 {
    width: 5rem;
  }

  .sm\:w-24 {
    width: 6rem;
  }

  .sm\:w-32 {
    width: 8rem;
  }

  .sm\:w-40 {
    width: 10rem;
  }

  .sm\:w-48 {
    width: 12rem;
  }

  .sm\:w-56 {
    width: 14rem;
  }

  .sm\:w-64 {
    width: 16rem;
  }

  .sm\:w-auto {
    width: auto;
  }

  .sm\:w-1\/2 {
    width: 50%;
  }

  .sm\:w-2\/4 {
    width: 50%;
  }

  .sm\:w-3\/6 {
    width: 50%;
  }

  .sm\:w-6\/12 {
    width: 50%;
  }

  .sm\:w-1\/3 {
    width: 33.3333333333%;
  }

  .sm\:w-2\/6 {
    width: 33.3333333333%;
  }

  .sm\:w-4\/12 {
    width: 33.3333333333%;
  }

  .sm\:w-2\/3 {
    width: 66.6666666667%;
  }

  .sm\:w-4\/6 {
    width: 66.6666666667%;
  }

  .sm\:w-8\/12 {
    width: 66.6666666667%;
  }

  .sm\:w-1\/4 {
    width: 25%;
  }

  .sm\:w-3\/12 {
    width: 25%;
  }

  .sm\:w-3\/4 {
    width: 75%;
  }

  .sm\:w-9\/1 {
    width: 75%;
  }

  .sm\:w-1\/5 {
    width: 20%;
  }

  .sm\:w-2\/5 {
    width: 40%;
  }

  .sm\:w-3\/5 {
    width: 60%;
  }

  .sm\:w-4\/5 {
    width: 80%;
  }

  .sm\:w-1\/6 {
    width: 16.6666666667%;
  }

  .sm\:w-2\/12 {
    width: 16.6666666667%;
  }

  .sm\:w-5\/6 {
    width: 83.3333333333%;
  }

  .sm\:w-10\/2 {
    width: 83.3333333333%;
  }

  .sm\:w-1\/12 {
    width: 8.3333333333%;
  }

  .sm\:w-5\/12 {
    width: 41.6666666667%;
  }

  .sm\:w-7\/12 {
    width: 58.3333333333%;
  }

  .sm\:w-11\/2 {
    width: 91.6666666667%;
  }

  .sm\:w-px {
    width: 1px;
  }

  .sm\:w-full {
    width: 100%;
  }

  .sm\:w-screen {
    width: 100vh;
  }

  .sm\:shadow-l1 {
    box-shadow: 0 2px 1px -1px rgba(33, 41, 52, 0.2), 0 1px 1px 0 rgba(33, 41, 52, 0.14), 0 1px 3px 0 rgba(33, 41, 52, 0.12);
  }

  .sm\:shadow-l2 {
    box-shadow: 0 2px 4px -1px rgba(33, 41, 52, 0.2), 0 4px 5px 0 rgba(33, 41, 52, 0.14), 0 1px 10px 0 rgba(33, 41, 52, 0.12);
  }

  .sm\:shadow-l3 {
    box-shadow: 0 5px 5px -3px rgba(33, 41, 52, 0.2), 0 8px 10px 1px rgba(33, 41, 52, 0.14), 0 3px 14px 2px rgba(33, 41, 52, 0.12);
  }

  .sm\:shadow-l4 {
    box-shadow: 0 7px 8px -4px rgba(33, 41, 52, 0.2), 0 12px 17px 2px rgba(33, 41, 52, 0.14), 0 5px 22px 4px rgba(33, 41, 52, 0.12);
  }

  .sm\:shadow-l5 {
    box-shadow: 0 8px 10px -5px rgba(33, 41, 52, 0.2), 0 16px 24px 2px rgba(33, 41, 52, 0.14), 0 6px 30px 5px rgba(33, 41, 52, 0.12);
  }

  .sm\:shadow-l6 {
    box-shadow: 0 10px 13px -6px rgba(33, 41, 52, 0.2), 0 20px 31px 3px rgba(33, 41, 52, 0.14), 0 8px 38px 7px rgba(33, 41, 52, 0.12);
  }

  .sm\:grey-700 {
    color: #212934;
  }

  .sm\:grey-600 {
    color: #5F6B79;
  }

  .sm\:grey-500 {
    color: #8895A6;
  }

  .sm\:grey-400 {
    color: #B8C4CD;
  }

  .sm\:grey-300 {
    color: #CFD6DE;
  }

  .sm\:grey-200 {
    color: #E1E7EC;
  }

  .sm\:grey-100 {
    color: #F8F9FA;
  }

  .sm\:red-700 {
    color: #620708;
  }

  .sm\:red-600 {
    color: #861415;
  }

  .sm\:red-500 {
    color: #DB292B;
  }

  .sm\:red-400 {
    color: #FB4C4E;
  }

  .sm\:red-300 {
    color: #FC8081;
  }

  .sm\:red-200 {
    color: #FEB8B8;
  }

  .sm\:red-100 {
    color: #FFF2F2;
  }

  .sm\:green-700 {
    color: #064408;
  }

  .sm\:green-600 {
    color: #206B23;
  }

  .sm\:green-500 {
    color: #3A913E;
  }

  .sm\:green-400 {
    color: #67CB6B;
  }

  .sm\:green-300 {
    color: #9DDF9F;
  }

  .sm\:green-200 {
    color: #BEF3C0;
  }

  .sm\:green-100 {
    color: #EFFDEF;
  }

  .sm\:yellow-700 {
    color: #624409;
  }

  .sm\:yellow-600 {
    color: #926E11;
  }

  .sm\:yellow-500 {
    color: #BC8908;
  }

  .sm\:yellow-400 {
    color: #DAAC09;
  }

  .sm\:yellow-300 {
    color: #F1BF0F;
  }

  .sm\:yellow-200 {
    color: #FADC41;
  }

  .sm\:yellow-100 {
    color: #FEF7D3;
  }

  .sm\:t-h1 {
    font-size: 64px;
  }

  .sm\:t-h2 {
    font-size: 50px;
  }

  .sm\:t-h3 {
    font-size: 37px;
  }

  .sm\:t-h4 {
    font-size: 28px;
  }

  .sm\:t-h5 {
    font-size: 21px;
  }

  .sm\:t-h6 {
    font-size: 16px;
  }

  .sm\:t-1 {
    font-size: 21px;
  }

  .sm\:t-2 {
    font-size: 14px;
  }

  .sm\:t-3 {
    font-size: 12px;
  }

  .sm\:content-stretch {
    align-content: "stretch";
  }

  .sm\:content-center {
    align-content: "center";
  }

  .sm\:content-start {
    align-content: "flex-start";
  }

  .sm\:content-end {
    align-content: "flex-end";
  }

  .sm\:content-between {
    align-content: "space-between";
  }

  .sm\:content-around {
    align-content: "space-around";
  }

  .sm\:content-initial {
    align-content: "initial";
  }

  .sm\:content-inherit {
    align-content: "inherit";
  }

  .sm\:items-stretch {
    align-items: "stretch";
  }

  .sm\:items-center {
    align-items: "center";
  }

  .sm\:items-start {
    align-items: "flex-start";
  }

  .sm\:items-end {
    align-items: "flex-end";
  }

  .sm\:items-baseline {
    align-items: "baseline";
  }

  .sm\:items-initial {
    align-items: "initial";
  }

  .sm\:items-inherit {
    align-items: "inherit";
  }

  .sm\:self-auto {
    align-self: "auto";
  }

  .sm\:self-stretch {
    align-self: "stretch";
  }

  .sm\:self-center {
    align-self: "center";
  }

  .sm\:self-start {
    align-self: "flex-start";
  }

  .sm\:self-end {
    align-self: "flex-end";
  }

  .sm\:self-baseline {
    align-self: "baseline";
  }

  .sm\:self-initial {
    align-self: "initial";
  }

  .sm\:self-inherit {
    align-self: "inherit";
  }

  .sm\:bg-scroll {
    background-attachment: "scroll";
  }

  .sm\:bg-fixed {
    background-attachment: "fixed";
  }

  .sm\:bg-center {
    background-position: "center center";
  }

  .sm\:bg-left {
    background-position: "left center";
  }

  .sm\:bg-right {
    background-position: "right center";
  }

  .sm\:bg-top {
    background-position: "top center";
  }

  .sm\:bg-bottom {
    background-position: "bottom center";
  }

  .sm\:bg-topleft {
    background-position: "top left";
  }

  .sm\:bg-topright {
    background-position: "top right";
  }

  .sm\:bg-bottomleft {
    background-position: "bottom left";
  }

  .sm\:bg-bottomright {
    background-position: "bottom right";
  }

  .sm\:bg-repeat {
    background-repeat: "repeat";
  }

  .sm\:bg-repeat-x {
    background-repeat: "repeat-x";
  }

  .sm\:bg-repeat-y {
    background-repeat: "repeat-y";
  }

  .sm\:bg-no-repeat {
    background-repeat: "no-repeat	";
  }

  .sm\:bg-space {
    background-repeat: "space";
  }

  .sm\:bg-round {
    background-repeat: "round";
  }

  .sm\:bg-initial {
    background-repeat: "initial";
  }

  .sm\:bg-inherit {
    background-repeat: "inherit";
  }

  .sm\:flex-row {
    flex-direction: "row";
  }

  .sm\:flex-row-reverse {
    flex-direction: "row-reverse";
  }

  .sm\:flex-column {
    flex-direction: "column";
  }

  .sm\:flex-column-reverse {
    flex-direction: "column-reverse";
  }

  .sm\:flex-nowrap {
    flex-wrap: "nowrap";
  }

  .sm\:flex-wrap {
    flex-wrap: "wrap";
  }

  .sm\:flex-wrap-reverse {
    flex-wrap: "wrap-reverse";
  }

  .sm\:justify-start {
    justify-content: "flex-start";
  }

  .sm\:justify-end {
    justify-content: "flex-end";
  }

  .sm\:justify-center {
    justify-content: "center";
  }

  .sm\:justify-between {
    justify-content: "space-between";
  }

  .sm\:justify-around {
    justify-content: "space-around";
  }

  .sm\:list-none {
    list-style-type: "none";
  }

  .sm\:overflow-visible {
    overflow: "visible";
  }

  .sm\:overflow-hidden {
    overflow: "hidden";
  }

  .sm\:overflow-scroll {
    overflow: "scroll";
  }

  .sm\:overflow-auto {
    overflow: "auto";
  }

  .sm\:events-none {
    pointer-events: "none";
  }

  .sm\:visible {
    visibility: "visible";
  }

  .sm\:hidden {
    visibility: "hidden";
  }

  .sm\:collapse {
    visibility: "collapse";
  }
}
@media (min-width: 768px) {
  .md\:align-left {
    text-align: "left";
  }

  .md\:align-right {
    text-align: "right";
  }

  .md\:align-center {
    text-align: "center";
  }

  .md\:align-justify {
    text-align: "justify";
  }

  .md\:float-left {
    float: "left";
  }

  .md\:float-right {
    float: "right";
  }

  .md\:float-none {
    float: "center";
  }

  .md\:h-0 {
    height: 0;
  }

  .md\:h-1 {
    height: 0.25rem;
  }

  .md\:h-2 {
    height: 0.5rem;
  }

  .md\:h-3 {
    height: 0.75rem;
  }

  .md\:h-4 {
    height: 1rem;
  }

  .md\:h-5 {
    height: 1.25rem;
  }

  .md\:h-6 {
    height: 1.5rem;
  }

  .md\:h-8 {
    height: 2rem;
  }

  .md\:h-10 {
    height: 2.5rem;
  }

  .md\:h-12 {
    height: 3rem;
  }

  .md\:h-16 {
    height: 4rem;
  }

  .md\:h-20 {
    height: 5rem;
  }

  .md\:h-24 {
    height: 6rem;
  }

  .md\:h-32 {
    height: 8rem;
  }

  .md\:h-40 {
    height: 10rem;
  }

  .md\:h-48 {
    height: 12rem;
  }

  .md\:h-56 {
    height: 14rem;
  }

  .md\:h-64 {
    height: 16rem;
  }

  .md\:h-auto {
    height: auto;
  }

  .md\:h-1\/2 {
    height: 50%;
  }

  .md\:h-2\/4 {
    height: 50%;
  }

  .md\:h-3\/6 {
    height: 50%;
  }

  .md\:h-6\/12 {
    height: 50%;
  }

  .md\:h-1\/3 {
    height: 33.3333333333%;
  }

  .md\:h-2\/6 {
    height: 33.3333333333%;
  }

  .md\:h-4\/12 {
    height: 33.3333333333%;
  }

  .md\:h-2\/3 {
    height: 66.6666666667%;
  }

  .md\:h-4\/6 {
    height: 66.6666666667%;
  }

  .md\:h-8\/12 {
    height: 66.6666666667%;
  }

  .md\:h-1\/4 {
    height: 25%;
  }

  .md\:h-3\/12 {
    height: 25%;
  }

  .md\:h-3\/4 {
    height: 75%;
  }

  .md\:h-9\/1 {
    height: 75%;
  }

  .md\:h-1\/5 {
    height: 20%;
  }

  .md\:h-2\/5 {
    height: 40%;
  }

  .md\:h-3\/5 {
    height: 60%;
  }

  .md\:h-4\/5 {
    height: 80%;
  }

  .md\:h-1\/6 {
    height: 16.6666666667%;
  }

  .md\:h-2\/12 {
    height: 16.6666666667%;
  }

  .md\:h-5\/6 {
    height: 83.3333333333%;
  }

  .md\:h-10\/2 {
    height: 83.3333333333%;
  }

  .md\:h-1\/12 {
    height: 8.3333333333%;
  }

  .md\:h-5\/12 {
    height: 41.6666666667%;
  }

  .md\:h-7\/12 {
    height: 58.3333333333%;
  }

  .md\:h-11\/2 {
    height: 91.6666666667%;
  }

  .md\:h-px {
    height: 1px;
  }

  .md\:h-full {
    height: 100%;
  }

  .md\:h-screen {
    height: 100vh;
  }

  .md\:w-0 {
    width: 0;
  }

  .md\:w-1 {
    width: 0.25rem;
  }

  .md\:w-2 {
    width: 0.5rem;
  }

  .md\:w-3 {
    width: 0.75rem;
  }

  .md\:w-4 {
    width: 1rem;
  }

  .md\:w-5 {
    width: 1.25rem;
  }

  .md\:w-6 {
    width: 1.5rem;
  }

  .md\:w-8 {
    width: 2rem;
  }

  .md\:w-10 {
    width: 2.5rem;
  }

  .md\:w-12 {
    width: 3rem;
  }

  .md\:w-16 {
    width: 4rem;
  }

  .md\:w-20 {
    width: 5rem;
  }

  .md\:w-24 {
    width: 6rem;
  }

  .md\:w-32 {
    width: 8rem;
  }

  .md\:w-40 {
    width: 10rem;
  }

  .md\:w-48 {
    width: 12rem;
  }

  .md\:w-56 {
    width: 14rem;
  }

  .md\:w-64 {
    width: 16rem;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:w-2\/4 {
    width: 50%;
  }

  .md\:w-3\/6 {
    width: 50%;
  }

  .md\:w-6\/12 {
    width: 50%;
  }

  .md\:w-1\/3 {
    width: 33.3333333333%;
  }

  .md\:w-2\/6 {
    width: 33.3333333333%;
  }

  .md\:w-4\/12 {
    width: 33.3333333333%;
  }

  .md\:w-2\/3 {
    width: 66.6666666667%;
  }

  .md\:w-4\/6 {
    width: 66.6666666667%;
  }

  .md\:w-8\/12 {
    width: 66.6666666667%;
  }

  .md\:w-1\/4 {
    width: 25%;
  }

  .md\:w-3\/12 {
    width: 25%;
  }

  .md\:w-3\/4 {
    width: 75%;
  }

  .md\:w-9\/1 {
    width: 75%;
  }

  .md\:w-1\/5 {
    width: 20%;
  }

  .md\:w-2\/5 {
    width: 40%;
  }

  .md\:w-3\/5 {
    width: 60%;
  }

  .md\:w-4\/5 {
    width: 80%;
  }

  .md\:w-1\/6 {
    width: 16.6666666667%;
  }

  .md\:w-2\/12 {
    width: 16.6666666667%;
  }

  .md\:w-5\/6 {
    width: 83.3333333333%;
  }

  .md\:w-10\/2 {
    width: 83.3333333333%;
  }

  .md\:w-1\/12 {
    width: 8.3333333333%;
  }

  .md\:w-5\/12 {
    width: 41.6666666667%;
  }

  .md\:w-7\/12 {
    width: 58.3333333333%;
  }

  .md\:w-11\/2 {
    width: 91.6666666667%;
  }

  .md\:w-px {
    width: 1px;
  }

  .md\:w-full {
    width: 100%;
  }

  .md\:w-screen {
    width: 100vh;
  }

  .md\:shadow-l1 {
    box-shadow: 0 2px 1px -1px rgba(33, 41, 52, 0.2), 0 1px 1px 0 rgba(33, 41, 52, 0.14), 0 1px 3px 0 rgba(33, 41, 52, 0.12);
  }

  .md\:shadow-l2 {
    box-shadow: 0 2px 4px -1px rgba(33, 41, 52, 0.2), 0 4px 5px 0 rgba(33, 41, 52, 0.14), 0 1px 10px 0 rgba(33, 41, 52, 0.12);
  }

  .md\:shadow-l3 {
    box-shadow: 0 5px 5px -3px rgba(33, 41, 52, 0.2), 0 8px 10px 1px rgba(33, 41, 52, 0.14), 0 3px 14px 2px rgba(33, 41, 52, 0.12);
  }

  .md\:shadow-l4 {
    box-shadow: 0 7px 8px -4px rgba(33, 41, 52, 0.2), 0 12px 17px 2px rgba(33, 41, 52, 0.14), 0 5px 22px 4px rgba(33, 41, 52, 0.12);
  }

  .md\:shadow-l5 {
    box-shadow: 0 8px 10px -5px rgba(33, 41, 52, 0.2), 0 16px 24px 2px rgba(33, 41, 52, 0.14), 0 6px 30px 5px rgba(33, 41, 52, 0.12);
  }

  .md\:shadow-l6 {
    box-shadow: 0 10px 13px -6px rgba(33, 41, 52, 0.2), 0 20px 31px 3px rgba(33, 41, 52, 0.14), 0 8px 38px 7px rgba(33, 41, 52, 0.12);
  }

  .md\:grey-700 {
    color: #212934;
  }

  .md\:grey-600 {
    color: #5F6B79;
  }

  .md\:grey-500 {
    color: #8895A6;
  }

  .md\:grey-400 {
    color: #B8C4CD;
  }

  .md\:grey-300 {
    color: #CFD6DE;
  }

  .md\:grey-200 {
    color: #E1E7EC;
  }

  .md\:grey-100 {
    color: #F8F9FA;
  }

  .md\:red-700 {
    color: #620708;
  }

  .md\:red-600 {
    color: #861415;
  }

  .md\:red-500 {
    color: #DB292B;
  }

  .md\:red-400 {
    color: #FB4C4E;
  }

  .md\:red-300 {
    color: #FC8081;
  }

  .md\:red-200 {
    color: #FEB8B8;
  }

  .md\:red-100 {
    color: #FFF2F2;
  }

  .md\:green-700 {
    color: #064408;
  }

  .md\:green-600 {
    color: #206B23;
  }

  .md\:green-500 {
    color: #3A913E;
  }

  .md\:green-400 {
    color: #67CB6B;
  }

  .md\:green-300 {
    color: #9DDF9F;
  }

  .md\:green-200 {
    color: #BEF3C0;
  }

  .md\:green-100 {
    color: #EFFDEF;
  }

  .md\:yellow-700 {
    color: #624409;
  }

  .md\:yellow-600 {
    color: #926E11;
  }

  .md\:yellow-500 {
    color: #BC8908;
  }

  .md\:yellow-400 {
    color: #DAAC09;
  }

  .md\:yellow-300 {
    color: #F1BF0F;
  }

  .md\:yellow-200 {
    color: #FADC41;
  }

  .md\:yellow-100 {
    color: #FEF7D3;
  }

  .md\:t-h1 {
    font-size: 64px;
  }

  .md\:t-h2 {
    font-size: 50px;
  }

  .md\:t-h3 {
    font-size: 37px;
  }

  .md\:t-h4 {
    font-size: 28px;
  }

  .md\:t-h5 {
    font-size: 21px;
  }

  .md\:t-h6 {
    font-size: 16px;
  }

  .md\:t-1 {
    font-size: 21px;
  }

  .md\:t-2 {
    font-size: 14px;
  }

  .md\:t-3 {
    font-size: 12px;
  }

  .md\:content-stretch {
    align-content: "stretch";
  }

  .md\:content-center {
    align-content: "center";
  }

  .md\:content-start {
    align-content: "flex-start";
  }

  .md\:content-end {
    align-content: "flex-end";
  }

  .md\:content-between {
    align-content: "space-between";
  }

  .md\:content-around {
    align-content: "space-around";
  }

  .md\:content-initial {
    align-content: "initial";
  }

  .md\:content-inherit {
    align-content: "inherit";
  }

  .md\:items-stretch {
    align-items: "stretch";
  }

  .md\:items-center {
    align-items: "center";
  }

  .md\:items-start {
    align-items: "flex-start";
  }

  .md\:items-end {
    align-items: "flex-end";
  }

  .md\:items-baseline {
    align-items: "baseline";
  }

  .md\:items-initial {
    align-items: "initial";
  }

  .md\:items-inherit {
    align-items: "inherit";
  }

  .md\:self-auto {
    align-self: "auto";
  }

  .md\:self-stretch {
    align-self: "stretch";
  }

  .md\:self-center {
    align-self: "center";
  }

  .md\:self-start {
    align-self: "flex-start";
  }

  .md\:self-end {
    align-self: "flex-end";
  }

  .md\:self-baseline {
    align-self: "baseline";
  }

  .md\:self-initial {
    align-self: "initial";
  }

  .md\:self-inherit {
    align-self: "inherit";
  }

  .md\:bg-scroll {
    background-attachment: "scroll";
  }

  .md\:bg-fixed {
    background-attachment: "fixed";
  }

  .md\:bg-center {
    background-position: "center center";
  }

  .md\:bg-left {
    background-position: "left center";
  }

  .md\:bg-right {
    background-position: "right center";
  }

  .md\:bg-top {
    background-position: "top center";
  }

  .md\:bg-bottom {
    background-position: "bottom center";
  }

  .md\:bg-topleft {
    background-position: "top left";
  }

  .md\:bg-topright {
    background-position: "top right";
  }

  .md\:bg-bottomleft {
    background-position: "bottom left";
  }

  .md\:bg-bottomright {
    background-position: "bottom right";
  }

  .md\:bg-repeat {
    background-repeat: "repeat";
  }

  .md\:bg-repeat-x {
    background-repeat: "repeat-x";
  }

  .md\:bg-repeat-y {
    background-repeat: "repeat-y";
  }

  .md\:bg-no-repeat {
    background-repeat: "no-repeat	";
  }

  .md\:bg-space {
    background-repeat: "space";
  }

  .md\:bg-round {
    background-repeat: "round";
  }

  .md\:bg-initial {
    background-repeat: "initial";
  }

  .md\:bg-inherit {
    background-repeat: "inherit";
  }

  .md\:flex-row {
    flex-direction: "row";
  }

  .md\:flex-row-reverse {
    flex-direction: "row-reverse";
  }

  .md\:flex-column {
    flex-direction: "column";
  }

  .md\:flex-column-reverse {
    flex-direction: "column-reverse";
  }

  .md\:flex-nowrap {
    flex-wrap: "nowrap";
  }

  .md\:flex-wrap {
    flex-wrap: "wrap";
  }

  .md\:flex-wrap-reverse {
    flex-wrap: "wrap-reverse";
  }

  .md\:justify-start {
    justify-content: "flex-start";
  }

  .md\:justify-end {
    justify-content: "flex-end";
  }

  .md\:justify-center {
    justify-content: "center";
  }

  .md\:justify-between {
    justify-content: "space-between";
  }

  .md\:justify-around {
    justify-content: "space-around";
  }

  .md\:list-none {
    list-style-type: "none";
  }

  .md\:overflow-visible {
    overflow: "visible";
  }

  .md\:overflow-hidden {
    overflow: "hidden";
  }

  .md\:overflow-scroll {
    overflow: "scroll";
  }

  .md\:overflow-auto {
    overflow: "auto";
  }

  .md\:events-none {
    pointer-events: "none";
  }

  .md\:visible {
    visibility: "visible";
  }

  .md\:hidden {
    visibility: "hidden";
  }

  .md\:collapse {
    visibility: "collapse";
  }
}
@media (min-width: 1024px) and (max-width: 56px) {
  .lg\:align-left {
    text-align: "left";
  }

  .lg\:align-right {
    text-align: "right";
  }

  .lg\:align-center {
    text-align: "center";
  }

  .lg\:align-justify {
    text-align: "justify";
  }

  .lg\:float-left {
    float: "left";
  }

  .lg\:float-right {
    float: "right";
  }

  .lg\:float-none {
    float: "center";
  }

  .lg\:h-0 {
    height: 0;
  }

  .lg\:h-1 {
    height: 0.25rem;
  }

  .lg\:h-2 {
    height: 0.5rem;
  }

  .lg\:h-3 {
    height: 0.75rem;
  }

  .lg\:h-4 {
    height: 1rem;
  }

  .lg\:h-5 {
    height: 1.25rem;
  }

  .lg\:h-6 {
    height: 1.5rem;
  }

  .lg\:h-8 {
    height: 2rem;
  }

  .lg\:h-10 {
    height: 2.5rem;
  }

  .lg\:h-12 {
    height: 3rem;
  }

  .lg\:h-16 {
    height: 4rem;
  }

  .lg\:h-20 {
    height: 5rem;
  }

  .lg\:h-24 {
    height: 6rem;
  }

  .lg\:h-32 {
    height: 8rem;
  }

  .lg\:h-40 {
    height: 10rem;
  }

  .lg\:h-48 {
    height: 12rem;
  }

  .lg\:h-56 {
    height: 14rem;
  }

  .lg\:h-64 {
    height: 16rem;
  }

  .lg\:h-auto {
    height: auto;
  }

  .lg\:h-1\/2 {
    height: 50%;
  }

  .lg\:h-2\/4 {
    height: 50%;
  }

  .lg\:h-3\/6 {
    height: 50%;
  }

  .lg\:h-6\/12 {
    height: 50%;
  }

  .lg\:h-1\/3 {
    height: 33.3333333333%;
  }

  .lg\:h-2\/6 {
    height: 33.3333333333%;
  }

  .lg\:h-4\/12 {
    height: 33.3333333333%;
  }

  .lg\:h-2\/3 {
    height: 66.6666666667%;
  }

  .lg\:h-4\/6 {
    height: 66.6666666667%;
  }

  .lg\:h-8\/12 {
    height: 66.6666666667%;
  }

  .lg\:h-1\/4 {
    height: 25%;
  }

  .lg\:h-3\/12 {
    height: 25%;
  }

  .lg\:h-3\/4 {
    height: 75%;
  }

  .lg\:h-9\/1 {
    height: 75%;
  }

  .lg\:h-1\/5 {
    height: 20%;
  }

  .lg\:h-2\/5 {
    height: 40%;
  }

  .lg\:h-3\/5 {
    height: 60%;
  }

  .lg\:h-4\/5 {
    height: 80%;
  }

  .lg\:h-1\/6 {
    height: 16.6666666667%;
  }

  .lg\:h-2\/12 {
    height: 16.6666666667%;
  }

  .lg\:h-5\/6 {
    height: 83.3333333333%;
  }

  .lg\:h-10\/2 {
    height: 83.3333333333%;
  }

  .lg\:h-1\/12 {
    height: 8.3333333333%;
  }

  .lg\:h-5\/12 {
    height: 41.6666666667%;
  }

  .lg\:h-7\/12 {
    height: 58.3333333333%;
  }

  .lg\:h-11\/2 {
    height: 91.6666666667%;
  }

  .lg\:h-px {
    height: 1px;
  }

  .lg\:h-full {
    height: 100%;
  }

  .lg\:h-screen {
    height: 100vh;
  }

  .lg\:w-0 {
    width: 0;
  }

  .lg\:w-1 {
    width: 0.25rem;
  }

  .lg\:w-2 {
    width: 0.5rem;
  }

  .lg\:w-3 {
    width: 0.75rem;
  }

  .lg\:w-4 {
    width: 1rem;
  }

  .lg\:w-5 {
    width: 1.25rem;
  }

  .lg\:w-6 {
    width: 1.5rem;
  }

  .lg\:w-8 {
    width: 2rem;
  }

  .lg\:w-10 {
    width: 2.5rem;
  }

  .lg\:w-12 {
    width: 3rem;
  }

  .lg\:w-16 {
    width: 4rem;
  }

  .lg\:w-20 {
    width: 5rem;
  }

  .lg\:w-24 {
    width: 6rem;
  }

  .lg\:w-32 {
    width: 8rem;
  }

  .lg\:w-40 {
    width: 10rem;
  }

  .lg\:w-48 {
    width: 12rem;
  }

  .lg\:w-56 {
    width: 14rem;
  }

  .lg\:w-64 {
    width: 16rem;
  }

  .lg\:w-auto {
    width: auto;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-2\/4 {
    width: 50%;
  }

  .lg\:w-3\/6 {
    width: 50%;
  }

  .lg\:w-6\/12 {
    width: 50%;
  }

  .lg\:w-1\/3 {
    width: 33.3333333333%;
  }

  .lg\:w-2\/6 {
    width: 33.3333333333%;
  }

  .lg\:w-4\/12 {
    width: 33.3333333333%;
  }

  .lg\:w-2\/3 {
    width: 66.6666666667%;
  }

  .lg\:w-4\/6 {
    width: 66.6666666667%;
  }

  .lg\:w-8\/12 {
    width: 66.6666666667%;
  }

  .lg\:w-1\/4 {
    width: 25%;
  }

  .lg\:w-3\/12 {
    width: 25%;
  }

  .lg\:w-3\/4 {
    width: 75%;
  }

  .lg\:w-9\/1 {
    width: 75%;
  }

  .lg\:w-1\/5 {
    width: 20%;
  }

  .lg\:w-2\/5 {
    width: 40%;
  }

  .lg\:w-3\/5 {
    width: 60%;
  }

  .lg\:w-4\/5 {
    width: 80%;
  }

  .lg\:w-1\/6 {
    width: 16.6666666667%;
  }

  .lg\:w-2\/12 {
    width: 16.6666666667%;
  }

  .lg\:w-5\/6 {
    width: 83.3333333333%;
  }

  .lg\:w-10\/2 {
    width: 83.3333333333%;
  }

  .lg\:w-1\/12 {
    width: 8.3333333333%;
  }

  .lg\:w-5\/12 {
    width: 41.6666666667%;
  }

  .lg\:w-7\/12 {
    width: 58.3333333333%;
  }

  .lg\:w-11\/2 {
    width: 91.6666666667%;
  }

  .lg\:w-px {
    width: 1px;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:w-screen {
    width: 100vh;
  }

  .lg\:shadow-l1 {
    box-shadow: 0 2px 1px -1px rgba(33, 41, 52, 0.2), 0 1px 1px 0 rgba(33, 41, 52, 0.14), 0 1px 3px 0 rgba(33, 41, 52, 0.12);
  }

  .lg\:shadow-l2 {
    box-shadow: 0 2px 4px -1px rgba(33, 41, 52, 0.2), 0 4px 5px 0 rgba(33, 41, 52, 0.14), 0 1px 10px 0 rgba(33, 41, 52, 0.12);
  }

  .lg\:shadow-l3 {
    box-shadow: 0 5px 5px -3px rgba(33, 41, 52, 0.2), 0 8px 10px 1px rgba(33, 41, 52, 0.14), 0 3px 14px 2px rgba(33, 41, 52, 0.12);
  }

  .lg\:shadow-l4 {
    box-shadow: 0 7px 8px -4px rgba(33, 41, 52, 0.2), 0 12px 17px 2px rgba(33, 41, 52, 0.14), 0 5px 22px 4px rgba(33, 41, 52, 0.12);
  }

  .lg\:shadow-l5 {
    box-shadow: 0 8px 10px -5px rgba(33, 41, 52, 0.2), 0 16px 24px 2px rgba(33, 41, 52, 0.14), 0 6px 30px 5px rgba(33, 41, 52, 0.12);
  }

  .lg\:shadow-l6 {
    box-shadow: 0 10px 13px -6px rgba(33, 41, 52, 0.2), 0 20px 31px 3px rgba(33, 41, 52, 0.14), 0 8px 38px 7px rgba(33, 41, 52, 0.12);
  }

  .lg\:grey-700 {
    color: #212934;
  }

  .lg\:grey-600 {
    color: #5F6B79;
  }

  .lg\:grey-500 {
    color: #8895A6;
  }

  .lg\:grey-400 {
    color: #B8C4CD;
  }

  .lg\:grey-300 {
    color: #CFD6DE;
  }

  .lg\:grey-200 {
    color: #E1E7EC;
  }

  .lg\:grey-100 {
    color: #F8F9FA;
  }

  .lg\:red-700 {
    color: #620708;
  }

  .lg\:red-600 {
    color: #861415;
  }

  .lg\:red-500 {
    color: #DB292B;
  }

  .lg\:red-400 {
    color: #FB4C4E;
  }

  .lg\:red-300 {
    color: #FC8081;
  }

  .lg\:red-200 {
    color: #FEB8B8;
  }

  .lg\:red-100 {
    color: #FFF2F2;
  }

  .lg\:green-700 {
    color: #064408;
  }

  .lg\:green-600 {
    color: #206B23;
  }

  .lg\:green-500 {
    color: #3A913E;
  }

  .lg\:green-400 {
    color: #67CB6B;
  }

  .lg\:green-300 {
    color: #9DDF9F;
  }

  .lg\:green-200 {
    color: #BEF3C0;
  }

  .lg\:green-100 {
    color: #EFFDEF;
  }

  .lg\:yellow-700 {
    color: #624409;
  }

  .lg\:yellow-600 {
    color: #926E11;
  }

  .lg\:yellow-500 {
    color: #BC8908;
  }

  .lg\:yellow-400 {
    color: #DAAC09;
  }

  .lg\:yellow-300 {
    color: #F1BF0F;
  }

  .lg\:yellow-200 {
    color: #FADC41;
  }

  .lg\:yellow-100 {
    color: #FEF7D3;
  }

  .lg\:t-h1 {
    font-size: 64px;
  }

  .lg\:t-h2 {
    font-size: 50px;
  }

  .lg\:t-h3 {
    font-size: 37px;
  }

  .lg\:t-h4 {
    font-size: 28px;
  }

  .lg\:t-h5 {
    font-size: 21px;
  }

  .lg\:t-h6 {
    font-size: 16px;
  }

  .lg\:t-1 {
    font-size: 21px;
  }

  .lg\:t-2 {
    font-size: 14px;
  }

  .lg\:t-3 {
    font-size: 12px;
  }

  .lg\:content-stretch {
    align-content: "stretch";
  }

  .lg\:content-center {
    align-content: "center";
  }

  .lg\:content-start {
    align-content: "flex-start";
  }

  .lg\:content-end {
    align-content: "flex-end";
  }

  .lg\:content-between {
    align-content: "space-between";
  }

  .lg\:content-around {
    align-content: "space-around";
  }

  .lg\:content-initial {
    align-content: "initial";
  }

  .lg\:content-inherit {
    align-content: "inherit";
  }

  .lg\:items-stretch {
    align-items: "stretch";
  }

  .lg\:items-center {
    align-items: "center";
  }

  .lg\:items-start {
    align-items: "flex-start";
  }

  .lg\:items-end {
    align-items: "flex-end";
  }

  .lg\:items-baseline {
    align-items: "baseline";
  }

  .lg\:items-initial {
    align-items: "initial";
  }

  .lg\:items-inherit {
    align-items: "inherit";
  }

  .lg\:self-auto {
    align-self: "auto";
  }

  .lg\:self-stretch {
    align-self: "stretch";
  }

  .lg\:self-center {
    align-self: "center";
  }

  .lg\:self-start {
    align-self: "flex-start";
  }

  .lg\:self-end {
    align-self: "flex-end";
  }

  .lg\:self-baseline {
    align-self: "baseline";
  }

  .lg\:self-initial {
    align-self: "initial";
  }

  .lg\:self-inherit {
    align-self: "inherit";
  }

  .lg\:bg-scroll {
    background-attachment: "scroll";
  }

  .lg\:bg-fixed {
    background-attachment: "fixed";
  }

  .lg\:bg-center {
    background-position: "center center";
  }

  .lg\:bg-left {
    background-position: "left center";
  }

  .lg\:bg-right {
    background-position: "right center";
  }

  .lg\:bg-top {
    background-position: "top center";
  }

  .lg\:bg-bottom {
    background-position: "bottom center";
  }

  .lg\:bg-topleft {
    background-position: "top left";
  }

  .lg\:bg-topright {
    background-position: "top right";
  }

  .lg\:bg-bottomleft {
    background-position: "bottom left";
  }

  .lg\:bg-bottomright {
    background-position: "bottom right";
  }

  .lg\:bg-repeat {
    background-repeat: "repeat";
  }

  .lg\:bg-repeat-x {
    background-repeat: "repeat-x";
  }

  .lg\:bg-repeat-y {
    background-repeat: "repeat-y";
  }

  .lg\:bg-no-repeat {
    background-repeat: "no-repeat	";
  }

  .lg\:bg-space {
    background-repeat: "space";
  }

  .lg\:bg-round {
    background-repeat: "round";
  }

  .lg\:bg-initial {
    background-repeat: "initial";
  }

  .lg\:bg-inherit {
    background-repeat: "inherit";
  }

  .lg\:flex-row {
    flex-direction: "row";
  }

  .lg\:flex-row-reverse {
    flex-direction: "row-reverse";
  }

  .lg\:flex-column {
    flex-direction: "column";
  }

  .lg\:flex-column-reverse {
    flex-direction: "column-reverse";
  }

  .lg\:flex-nowrap {
    flex-wrap: "nowrap";
  }

  .lg\:flex-wrap {
    flex-wrap: "wrap";
  }

  .lg\:flex-wrap-reverse {
    flex-wrap: "wrap-reverse";
  }

  .lg\:justify-start {
    justify-content: "flex-start";
  }

  .lg\:justify-end {
    justify-content: "flex-end";
  }

  .lg\:justify-center {
    justify-content: "center";
  }

  .lg\:justify-between {
    justify-content: "space-between";
  }

  .lg\:justify-around {
    justify-content: "space-around";
  }

  .lg\:list-none {
    list-style-type: "none";
  }

  .lg\:overflow-visible {
    overflow: "visible";
  }

  .lg\:overflow-hidden {
    overflow: "hidden";
  }

  .lg\:overflow-scroll {
    overflow: "scroll";
  }

  .lg\:overflow-auto {
    overflow: "auto";
  }

  .lg\:events-none {
    pointer-events: "none";
  }

  .lg\:visible {
    visibility: "visible";
  }

  .lg\:hidden {
    visibility: "hidden";
  }

  .lg\:collapse {
    visibility: "collapse";
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  .xl\:align-left {
    text-align: "left";
  }

  .xl\:align-right {
    text-align: "right";
  }

  .xl\:align-center {
    text-align: "center";
  }

  .xl\:align-justify {
    text-align: "justify";
  }

  .xl\:float-left {
    float: "left";
  }

  .xl\:float-right {
    float: "right";
  }

  .xl\:float-none {
    float: "center";
  }

  .xl\:h-0 {
    height: 0;
  }

  .xl\:h-1 {
    height: 0.25rem;
  }

  .xl\:h-2 {
    height: 0.5rem;
  }

  .xl\:h-3 {
    height: 0.75rem;
  }

  .xl\:h-4 {
    height: 1rem;
  }

  .xl\:h-5 {
    height: 1.25rem;
  }

  .xl\:h-6 {
    height: 1.5rem;
  }

  .xl\:h-8 {
    height: 2rem;
  }

  .xl\:h-10 {
    height: 2.5rem;
  }

  .xl\:h-12 {
    height: 3rem;
  }

  .xl\:h-16 {
    height: 4rem;
  }

  .xl\:h-20 {
    height: 5rem;
  }

  .xl\:h-24 {
    height: 6rem;
  }

  .xl\:h-32 {
    height: 8rem;
  }

  .xl\:h-40 {
    height: 10rem;
  }

  .xl\:h-48 {
    height: 12rem;
  }

  .xl\:h-56 {
    height: 14rem;
  }

  .xl\:h-64 {
    height: 16rem;
  }

  .xl\:h-auto {
    height: auto;
  }

  .xl\:h-1\/2 {
    height: 50%;
  }

  .xl\:h-2\/4 {
    height: 50%;
  }

  .xl\:h-3\/6 {
    height: 50%;
  }

  .xl\:h-6\/12 {
    height: 50%;
  }

  .xl\:h-1\/3 {
    height: 33.3333333333%;
  }

  .xl\:h-2\/6 {
    height: 33.3333333333%;
  }

  .xl\:h-4\/12 {
    height: 33.3333333333%;
  }

  .xl\:h-2\/3 {
    height: 66.6666666667%;
  }

  .xl\:h-4\/6 {
    height: 66.6666666667%;
  }

  .xl\:h-8\/12 {
    height: 66.6666666667%;
  }

  .xl\:h-1\/4 {
    height: 25%;
  }

  .xl\:h-3\/12 {
    height: 25%;
  }

  .xl\:h-3\/4 {
    height: 75%;
  }

  .xl\:h-9\/1 {
    height: 75%;
  }

  .xl\:h-1\/5 {
    height: 20%;
  }

  .xl\:h-2\/5 {
    height: 40%;
  }

  .xl\:h-3\/5 {
    height: 60%;
  }

  .xl\:h-4\/5 {
    height: 80%;
  }

  .xl\:h-1\/6 {
    height: 16.6666666667%;
  }

  .xl\:h-2\/12 {
    height: 16.6666666667%;
  }

  .xl\:h-5\/6 {
    height: 83.3333333333%;
  }

  .xl\:h-10\/2 {
    height: 83.3333333333%;
  }

  .xl\:h-1\/12 {
    height: 8.3333333333%;
  }

  .xl\:h-5\/12 {
    height: 41.6666666667%;
  }

  .xl\:h-7\/12 {
    height: 58.3333333333%;
  }

  .xl\:h-11\/2 {
    height: 91.6666666667%;
  }

  .xl\:h-px {
    height: 1px;
  }

  .xl\:h-full {
    height: 100%;
  }

  .xl\:h-screen {
    height: 100vh;
  }

  .xl\:w-0 {
    width: 0;
  }

  .xl\:w-1 {
    width: 0.25rem;
  }

  .xl\:w-2 {
    width: 0.5rem;
  }

  .xl\:w-3 {
    width: 0.75rem;
  }

  .xl\:w-4 {
    width: 1rem;
  }

  .xl\:w-5 {
    width: 1.25rem;
  }

  .xl\:w-6 {
    width: 1.5rem;
  }

  .xl\:w-8 {
    width: 2rem;
  }

  .xl\:w-10 {
    width: 2.5rem;
  }

  .xl\:w-12 {
    width: 3rem;
  }

  .xl\:w-16 {
    width: 4rem;
  }

  .xl\:w-20 {
    width: 5rem;
  }

  .xl\:w-24 {
    width: 6rem;
  }

  .xl\:w-32 {
    width: 8rem;
  }

  .xl\:w-40 {
    width: 10rem;
  }

  .xl\:w-48 {
    width: 12rem;
  }

  .xl\:w-56 {
    width: 14rem;
  }

  .xl\:w-64 {
    width: 16rem;
  }

  .xl\:w-auto {
    width: auto;
  }

  .xl\:w-1\/2 {
    width: 50%;
  }

  .xl\:w-2\/4 {
    width: 50%;
  }

  .xl\:w-3\/6 {
    width: 50%;
  }

  .xl\:w-6\/12 {
    width: 50%;
  }

  .xl\:w-1\/3 {
    width: 33.3333333333%;
  }

  .xl\:w-2\/6 {
    width: 33.3333333333%;
  }

  .xl\:w-4\/12 {
    width: 33.3333333333%;
  }

  .xl\:w-2\/3 {
    width: 66.6666666667%;
  }

  .xl\:w-4\/6 {
    width: 66.6666666667%;
  }

  .xl\:w-8\/12 {
    width: 66.6666666667%;
  }

  .xl\:w-1\/4 {
    width: 25%;
  }

  .xl\:w-3\/12 {
    width: 25%;
  }

  .xl\:w-3\/4 {
    width: 75%;
  }

  .xl\:w-9\/1 {
    width: 75%;
  }

  .xl\:w-1\/5 {
    width: 20%;
  }

  .xl\:w-2\/5 {
    width: 40%;
  }

  .xl\:w-3\/5 {
    width: 60%;
  }

  .xl\:w-4\/5 {
    width: 80%;
  }

  .xl\:w-1\/6 {
    width: 16.6666666667%;
  }

  .xl\:w-2\/12 {
    width: 16.6666666667%;
  }

  .xl\:w-5\/6 {
    width: 83.3333333333%;
  }

  .xl\:w-10\/2 {
    width: 83.3333333333%;
  }

  .xl\:w-1\/12 {
    width: 8.3333333333%;
  }

  .xl\:w-5\/12 {
    width: 41.6666666667%;
  }

  .xl\:w-7\/12 {
    width: 58.3333333333%;
  }

  .xl\:w-11\/2 {
    width: 91.6666666667%;
  }

  .xl\:w-px {
    width: 1px;
  }

  .xl\:w-full {
    width: 100%;
  }

  .xl\:w-screen {
    width: 100vh;
  }

  .xl\:shadow-l1 {
    box-shadow: 0 2px 1px -1px rgba(33, 41, 52, 0.2), 0 1px 1px 0 rgba(33, 41, 52, 0.14), 0 1px 3px 0 rgba(33, 41, 52, 0.12);
  }

  .xl\:shadow-l2 {
    box-shadow: 0 2px 4px -1px rgba(33, 41, 52, 0.2), 0 4px 5px 0 rgba(33, 41, 52, 0.14), 0 1px 10px 0 rgba(33, 41, 52, 0.12);
  }

  .xl\:shadow-l3 {
    box-shadow: 0 5px 5px -3px rgba(33, 41, 52, 0.2), 0 8px 10px 1px rgba(33, 41, 52, 0.14), 0 3px 14px 2px rgba(33, 41, 52, 0.12);
  }

  .xl\:shadow-l4 {
    box-shadow: 0 7px 8px -4px rgba(33, 41, 52, 0.2), 0 12px 17px 2px rgba(33, 41, 52, 0.14), 0 5px 22px 4px rgba(33, 41, 52, 0.12);
  }

  .xl\:shadow-l5 {
    box-shadow: 0 8px 10px -5px rgba(33, 41, 52, 0.2), 0 16px 24px 2px rgba(33, 41, 52, 0.14), 0 6px 30px 5px rgba(33, 41, 52, 0.12);
  }

  .xl\:shadow-l6 {
    box-shadow: 0 10px 13px -6px rgba(33, 41, 52, 0.2), 0 20px 31px 3px rgba(33, 41, 52, 0.14), 0 8px 38px 7px rgba(33, 41, 52, 0.12);
  }

  .xl\:grey-700 {
    color: #212934;
  }

  .xl\:grey-600 {
    color: #5F6B79;
  }

  .xl\:grey-500 {
    color: #8895A6;
  }

  .xl\:grey-400 {
    color: #B8C4CD;
  }

  .xl\:grey-300 {
    color: #CFD6DE;
  }

  .xl\:grey-200 {
    color: #E1E7EC;
  }

  .xl\:grey-100 {
    color: #F8F9FA;
  }

  .xl\:red-700 {
    color: #620708;
  }

  .xl\:red-600 {
    color: #861415;
  }

  .xl\:red-500 {
    color: #DB292B;
  }

  .xl\:red-400 {
    color: #FB4C4E;
  }

  .xl\:red-300 {
    color: #FC8081;
  }

  .xl\:red-200 {
    color: #FEB8B8;
  }

  .xl\:red-100 {
    color: #FFF2F2;
  }

  .xl\:green-700 {
    color: #064408;
  }

  .xl\:green-600 {
    color: #206B23;
  }

  .xl\:green-500 {
    color: #3A913E;
  }

  .xl\:green-400 {
    color: #67CB6B;
  }

  .xl\:green-300 {
    color: #9DDF9F;
  }

  .xl\:green-200 {
    color: #BEF3C0;
  }

  .xl\:green-100 {
    color: #EFFDEF;
  }

  .xl\:yellow-700 {
    color: #624409;
  }

  .xl\:yellow-600 {
    color: #926E11;
  }

  .xl\:yellow-500 {
    color: #BC8908;
  }

  .xl\:yellow-400 {
    color: #DAAC09;
  }

  .xl\:yellow-300 {
    color: #F1BF0F;
  }

  .xl\:yellow-200 {
    color: #FADC41;
  }

  .xl\:yellow-100 {
    color: #FEF7D3;
  }

  .xl\:t-h1 {
    font-size: 64px;
  }

  .xl\:t-h2 {
    font-size: 50px;
  }

  .xl\:t-h3 {
    font-size: 37px;
  }

  .xl\:t-h4 {
    font-size: 28px;
  }

  .xl\:t-h5 {
    font-size: 21px;
  }

  .xl\:t-h6 {
    font-size: 16px;
  }

  .xl\:t-1 {
    font-size: 21px;
  }

  .xl\:t-2 {
    font-size: 14px;
  }

  .xl\:t-3 {
    font-size: 12px;
  }

  .xl\:content-stretch {
    align-content: "stretch";
  }

  .xl\:content-center {
    align-content: "center";
  }

  .xl\:content-start {
    align-content: "flex-start";
  }

  .xl\:content-end {
    align-content: "flex-end";
  }

  .xl\:content-between {
    align-content: "space-between";
  }

  .xl\:content-around {
    align-content: "space-around";
  }

  .xl\:content-initial {
    align-content: "initial";
  }

  .xl\:content-inherit {
    align-content: "inherit";
  }

  .xl\:items-stretch {
    align-items: "stretch";
  }

  .xl\:items-center {
    align-items: "center";
  }

  .xl\:items-start {
    align-items: "flex-start";
  }

  .xl\:items-end {
    align-items: "flex-end";
  }

  .xl\:items-baseline {
    align-items: "baseline";
  }

  .xl\:items-initial {
    align-items: "initial";
  }

  .xl\:items-inherit {
    align-items: "inherit";
  }

  .xl\:self-auto {
    align-self: "auto";
  }

  .xl\:self-stretch {
    align-self: "stretch";
  }

  .xl\:self-center {
    align-self: "center";
  }

  .xl\:self-start {
    align-self: "flex-start";
  }

  .xl\:self-end {
    align-self: "flex-end";
  }

  .xl\:self-baseline {
    align-self: "baseline";
  }

  .xl\:self-initial {
    align-self: "initial";
  }

  .xl\:self-inherit {
    align-self: "inherit";
  }

  .xl\:bg-scroll {
    background-attachment: "scroll";
  }

  .xl\:bg-fixed {
    background-attachment: "fixed";
  }

  .xl\:bg-center {
    background-position: "center center";
  }

  .xl\:bg-left {
    background-position: "left center";
  }

  .xl\:bg-right {
    background-position: "right center";
  }

  .xl\:bg-top {
    background-position: "top center";
  }

  .xl\:bg-bottom {
    background-position: "bottom center";
  }

  .xl\:bg-topleft {
    background-position: "top left";
  }

  .xl\:bg-topright {
    background-position: "top right";
  }

  .xl\:bg-bottomleft {
    background-position: "bottom left";
  }

  .xl\:bg-bottomright {
    background-position: "bottom right";
  }

  .xl\:bg-repeat {
    background-repeat: "repeat";
  }

  .xl\:bg-repeat-x {
    background-repeat: "repeat-x";
  }

  .xl\:bg-repeat-y {
    background-repeat: "repeat-y";
  }

  .xl\:bg-no-repeat {
    background-repeat: "no-repeat	";
  }

  .xl\:bg-space {
    background-repeat: "space";
  }

  .xl\:bg-round {
    background-repeat: "round";
  }

  .xl\:bg-initial {
    background-repeat: "initial";
  }

  .xl\:bg-inherit {
    background-repeat: "inherit";
  }

  .xl\:flex-row {
    flex-direction: "row";
  }

  .xl\:flex-row-reverse {
    flex-direction: "row-reverse";
  }

  .xl\:flex-column {
    flex-direction: "column";
  }

  .xl\:flex-column-reverse {
    flex-direction: "column-reverse";
  }

  .xl\:flex-nowrap {
    flex-wrap: "nowrap";
  }

  .xl\:flex-wrap {
    flex-wrap: "wrap";
  }

  .xl\:flex-wrap-reverse {
    flex-wrap: "wrap-reverse";
  }

  .xl\:justify-start {
    justify-content: "flex-start";
  }

  .xl\:justify-end {
    justify-content: "flex-end";
  }

  .xl\:justify-center {
    justify-content: "center";
  }

  .xl\:justify-between {
    justify-content: "space-between";
  }

  .xl\:justify-around {
    justify-content: "space-around";
  }

  .xl\:list-none {
    list-style-type: "none";
  }

  .xl\:overflow-visible {
    overflow: "visible";
  }

  .xl\:overflow-hidden {
    overflow: "hidden";
  }

  .xl\:overflow-scroll {
    overflow: "scroll";
  }

  .xl\:overflow-auto {
    overflow: "auto";
  }

  .xl\:events-none {
    pointer-events: "none";
  }

  .xl\:visible {
    visibility: "visible";
  }

  .xl\:hidden {
    visibility: "hidden";
  }

  .xl\:collapse {
    visibility: "collapse";
  }
}
.hover\:flex {
  display: "flex";
}

.hover\:block {
  display: "block";
}

.hover\:inline {
  display: "inline";
}

.hover\:flex-inline {
  display: "flex-inline";
}

.hover\:inline-block {
  display: "inline-block";
}

.hover\:table {
  display: "table";
}

.hover\:table-cell {
  display: "table-cell";
}

.hover\:table-row {
  display: "table-row";
}

.hover\:float-left {
  float: "left";
}

.hover\:float-right {
  float: "right";
}

.hover\:float-none {
  float: "center";
}

.hover\:align-left {
  text-align: "left";
}

.hover\:align-right {
  text-align: "right";
}

.hover\:align-center {
  text-align: "center";
}

.hover\:align-justify {
  text-align: "justify";
}

.hover\:h-0 {
  height: 0;
}

.hover\:h-1 {
  height: 0.25rem;
}

.hover\:h-2 {
  height: 0.5rem;
}

.hover\:h-3 {
  height: 0.75rem;
}

.hover\:h-4 {
  height: 1rem;
}

.hover\:h-5 {
  height: 1.25rem;
}

.hover\:h-6 {
  height: 1.5rem;
}

.hover\:h-8 {
  height: 2rem;
}

.hover\:h-10 {
  height: 2.5rem;
}

.hover\:h-12 {
  height: 3rem;
}

.hover\:h-16 {
  height: 4rem;
}

.hover\:h-20 {
  height: 5rem;
}

.hover\:h-24 {
  height: 6rem;
}

.hover\:h-32 {
  height: 8rem;
}

.hover\:h-40 {
  height: 10rem;
}

.hover\:h-48 {
  height: 12rem;
}

.hover\:h-56 {
  height: 14rem;
}

.hover\:h-64 {
  height: 16rem;
}

.hover\:h-auto {
  height: auto;
}

.hover\:h-1\/2 {
  height: 50%;
}

.hover\:h-2\/4 {
  height: 50%;
}

.hover\:h-3\/6 {
  height: 50%;
}

.hover\:h-6\/12 {
  height: 50%;
}

.hover\:h-1\/3 {
  height: 33.3333333333%;
}

.hover\:h-2\/6 {
  height: 33.3333333333%;
}

.hover\:h-4\/12 {
  height: 33.3333333333%;
}

.hover\:h-2\/3 {
  height: 66.6666666667%;
}

.hover\:h-4\/6 {
  height: 66.6666666667%;
}

.hover\:h-8\/12 {
  height: 66.6666666667%;
}

.hover\:h-1\/4 {
  height: 25%;
}

.hover\:h-3\/12 {
  height: 25%;
}

.hover\:h-3\/4 {
  height: 75%;
}

.hover\:h-9\/1 {
  height: 75%;
}

.hover\:h-1\/5 {
  height: 20%;
}

.hover\:h-2\/5 {
  height: 40%;
}

.hover\:h-3\/5 {
  height: 60%;
}

.hover\:h-4\/5 {
  height: 80%;
}

.hover\:h-1\/6 {
  height: 16.6666666667%;
}

.hover\:h-2\/12 {
  height: 16.6666666667%;
}

.hover\:h-5\/6 {
  height: 83.3333333333%;
}

.hover\:h-10\/2 {
  height: 83.3333333333%;
}

.hover\:h-1\/12 {
  height: 8.3333333333%;
}

.hover\:h-5\/12 {
  height: 41.6666666667%;
}

.hover\:h-7\/12 {
  height: 58.3333333333%;
}

.hover\:h-11\/2 {
  height: 91.6666666667%;
}

.hover\:h-px {
  height: 1px;
}

.hover\:h-full {
  height: 100%;
}

.hover\:h-screen {
  height: 100vh;
}

.hover\:w-0 {
  width: 0;
}

.hover\:w-1 {
  width: 0.25rem;
}

.hover\:w-2 {
  width: 0.5rem;
}

.hover\:w-3 {
  width: 0.75rem;
}

.hover\:w-4 {
  width: 1rem;
}

.hover\:w-5 {
  width: 1.25rem;
}

.hover\:w-6 {
  width: 1.5rem;
}

.hover\:w-8 {
  width: 2rem;
}

.hover\:w-10 {
  width: 2.5rem;
}

.hover\:w-12 {
  width: 3rem;
}

.hover\:w-16 {
  width: 4rem;
}

.hover\:w-20 {
  width: 5rem;
}

.hover\:w-24 {
  width: 6rem;
}

.hover\:w-32 {
  width: 8rem;
}

.hover\:w-40 {
  width: 10rem;
}

.hover\:w-48 {
  width: 12rem;
}

.hover\:w-56 {
  width: 14rem;
}

.hover\:w-64 {
  width: 16rem;
}

.hover\:w-auto {
  width: auto;
}

.hover\:w-1\/2 {
  width: 50%;
}

.hover\:w-2\/4 {
  width: 50%;
}

.hover\:w-3\/6 {
  width: 50%;
}

.hover\:w-6\/12 {
  width: 50%;
}

.hover\:w-1\/3 {
  width: 33.3333333333%;
}

.hover\:w-2\/6 {
  width: 33.3333333333%;
}

.hover\:w-4\/12 {
  width: 33.3333333333%;
}

.hover\:w-2\/3 {
  width: 66.6666666667%;
}

.hover\:w-4\/6 {
  width: 66.6666666667%;
}

.hover\:w-8\/12 {
  width: 66.6666666667%;
}

.hover\:w-1\/4 {
  width: 25%;
}

.hover\:w-3\/12 {
  width: 25%;
}

.hover\:w-3\/4 {
  width: 75%;
}

.hover\:w-9\/1 {
  width: 75%;
}

.hover\:w-1\/5 {
  width: 20%;
}

.hover\:w-2\/5 {
  width: 40%;
}

.hover\:w-3\/5 {
  width: 60%;
}

.hover\:w-4\/5 {
  width: 80%;
}

.hover\:w-1\/6 {
  width: 16.6666666667%;
}

.hover\:w-2\/12 {
  width: 16.6666666667%;
}

.hover\:w-5\/6 {
  width: 83.3333333333%;
}

.hover\:w-10\/2 {
  width: 83.3333333333%;
}

.hover\:w-1\/12 {
  width: 8.3333333333%;
}

.hover\:w-5\/12 {
  width: 41.6666666667%;
}

.hover\:w-7\/12 {
  width: 58.3333333333%;
}

.hover\:w-11\/2 {
  width: 91.6666666667%;
}

.hover\:w-px {
  width: 1px;
}

.hover\:w-full {
  width: 100%;
}

.hover\:w-screen {
  width: 100vh;
}

.hover\:shadow-l1 {
  box-shadow: 0 2px 1px -1px rgba(33, 41, 52, 0.2), 0 1px 1px 0 rgba(33, 41, 52, 0.14), 0 1px 3px 0 rgba(33, 41, 52, 0.12);
}

.hover\:shadow-l2 {
  box-shadow: 0 2px 4px -1px rgba(33, 41, 52, 0.2), 0 4px 5px 0 rgba(33, 41, 52, 0.14), 0 1px 10px 0 rgba(33, 41, 52, 0.12);
}

.hover\:shadow-l3 {
  box-shadow: 0 5px 5px -3px rgba(33, 41, 52, 0.2), 0 8px 10px 1px rgba(33, 41, 52, 0.14), 0 3px 14px 2px rgba(33, 41, 52, 0.12);
}

.hover\:shadow-l4 {
  box-shadow: 0 7px 8px -4px rgba(33, 41, 52, 0.2), 0 12px 17px 2px rgba(33, 41, 52, 0.14), 0 5px 22px 4px rgba(33, 41, 52, 0.12);
}

.hover\:shadow-l5 {
  box-shadow: 0 8px 10px -5px rgba(33, 41, 52, 0.2), 0 16px 24px 2px rgba(33, 41, 52, 0.14), 0 6px 30px 5px rgba(33, 41, 52, 0.12);
}

.hover\:shadow-l6 {
  box-shadow: 0 10px 13px -6px rgba(33, 41, 52, 0.2), 0 20px 31px 3px rgba(33, 41, 52, 0.14), 0 8px 38px 7px rgba(33, 41, 52, 0.12);
}

.hover\:grey-700 {
  color: #212934;
}

.hover\:grey-600 {
  color: #5F6B79;
}

.hover\:grey-500 {
  color: #8895A6;
}

.hover\:grey-400 {
  color: #B8C4CD;
}

.hover\:grey-300 {
  color: #CFD6DE;
}

.hover\:grey-200 {
  color: #E1E7EC;
}

.hover\:grey-100 {
  color: #F8F9FA;
}

.hover\:red-700 {
  color: #620708;
}

.hover\:red-600 {
  color: #861415;
}

.hover\:red-500 {
  color: #DB292B;
}

.hover\:red-400 {
  color: #FB4C4E;
}

.hover\:red-300 {
  color: #FC8081;
}

.hover\:red-200 {
  color: #FEB8B8;
}

.hover\:red-100 {
  color: #FFF2F2;
}

.hover\:green-700 {
  color: #064408;
}

.hover\:green-600 {
  color: #206B23;
}

.hover\:green-500 {
  color: #3A913E;
}

.hover\:green-400 {
  color: #67CB6B;
}

.hover\:green-300 {
  color: #9DDF9F;
}

.hover\:green-200 {
  color: #BEF3C0;
}

.hover\:green-100 {
  color: #EFFDEF;
}

.hover\:yellow-700 {
  color: #624409;
}

.hover\:yellow-600 {
  color: #926E11;
}

.hover\:yellow-500 {
  color: #BC8908;
}

.hover\:yellow-400 {
  color: #DAAC09;
}

.hover\:yellow-300 {
  color: #F1BF0F;
}

.hover\:yellow-200 {
  color: #FADC41;
}

.hover\:yellow-100 {
  color: #FEF7D3;
}

.hover\:t-h1 {
  font-size: 64px;
}

.hover\:t-h2 {
  font-size: 50px;
}

.hover\:t-h3 {
  font-size: 37px;
}

.hover\:t-h4 {
  font-size: 28px;
}

.hover\:t-h5 {
  font-size: 21px;
}

.hover\:t-h6 {
  font-size: 16px;
}

.hover\:t-1 {
  font-size: 21px;
}

.hover\:t-2 {
  font-size: 14px;
}

.hover\:t-3 {
  font-size: 12px;
}

.hover\:content-stretch {
  align-content: "stretch";
}

.hover\:content-center {
  align-content: "center";
}

.hover\:content-start {
  align-content: "flex-start";
}

.hover\:content-end {
  align-content: "flex-end";
}

.hover\:content-between {
  align-content: "space-between";
}

.hover\:content-around {
  align-content: "space-around";
}

.hover\:content-initial {
  align-content: "initial";
}

.hover\:content-inherit {
  align-content: "inherit";
}

.hover\:items-stretch {
  align-items: "stretch";
}

.hover\:items-center {
  align-items: "center";
}

.hover\:items-start {
  align-items: "flex-start";
}

.hover\:items-end {
  align-items: "flex-end";
}

.hover\:items-baseline {
  align-items: "baseline";
}

.hover\:items-initial {
  align-items: "initial";
}

.hover\:items-inherit {
  align-items: "inherit";
}

.hover\:self-auto {
  align-self: "auto";
}

.hover\:self-stretch {
  align-self: "stretch";
}

.hover\:self-center {
  align-self: "center";
}

.hover\:self-start {
  align-self: "flex-start";
}

.hover\:self-end {
  align-self: "flex-end";
}

.hover\:self-baseline {
  align-self: "baseline";
}

.hover\:self-initial {
  align-self: "initial";
}

.hover\:self-inherit {
  align-self: "inherit";
}

.hover\:bg-scroll {
  background-attachment: "scroll";
}

.hover\:bg-fixed {
  background-attachment: "fixed";
}

.hover\:bg-center {
  background-position: "center center";
}

.hover\:bg-left {
  background-position: "left center";
}

.hover\:bg-right {
  background-position: "right center";
}

.hover\:bg-top {
  background-position: "top center";
}

.hover\:bg-bottom {
  background-position: "bottom center";
}

.hover\:bg-topleft {
  background-position: "top left";
}

.hover\:bg-topright {
  background-position: "top right";
}

.hover\:bg-bottomleft {
  background-position: "bottom left";
}

.hover\:bg-bottomright {
  background-position: "bottom right";
}

.hover\:bg-repeat {
  background-repeat: "repeat";
}

.hover\:bg-repeat-x {
  background-repeat: "repeat-x";
}

.hover\:bg-repeat-y {
  background-repeat: "repeat-y";
}

.hover\:bg-no-repeat {
  background-repeat: "no-repeat	";
}

.hover\:bg-space {
  background-repeat: "space";
}

.hover\:bg-round {
  background-repeat: "round";
}

.hover\:bg-initial {
  background-repeat: "initial";
}

.hover\:bg-inherit {
  background-repeat: "inherit";
}

.hover\:flex-row {
  flex-direction: "row";
}

.hover\:flex-row-reverse {
  flex-direction: "row-reverse";
}

.hover\:flex-column {
  flex-direction: "column";
}

.hover\:flex-column-reverse {
  flex-direction: "column-reverse";
}

.hover\:flex-nowrap {
  flex-wrap: "nowrap";
}

.hover\:flex-wrap {
  flex-wrap: "wrap";
}

.hover\:flex-wrap-reverse {
  flex-wrap: "wrap-reverse";
}

.hover\:justify-start {
  justify-content: "flex-start";
}

.hover\:justify-end {
  justify-content: "flex-end";
}

.hover\:justify-center {
  justify-content: "center";
}

.hover\:justify-between {
  justify-content: "space-between";
}

.hover\:justify-around {
  justify-content: "space-around";
}

.hover\:list-none {
  list-style-type: "none";
}

.hover\:overflow-visible {
  overflow: "visible";
}

.hover\:overflow-hidden {
  overflow: "hidden";
}

.hover\:overflow-scroll {
  overflow: "scroll";
}

.hover\:overflow-auto {
  overflow: "auto";
}

.hover\:events-none {
  pointer-events: "none";
}

.hover\:visible {
  visibility: "visible";
}

.hover\:hidden {
  visibility: "hidden";
}

.hover\:collapse {
  visibility: "collapse";
}

.hover\:bold {
  font-weight: 600;
}

.hover\:medium {
  font-weight: 500;
}

.hover\:regular {
  font-weight: 400;
}

.hover\:light {
  font-weight: 300;
}

.hover\:ls-1 {
  letter-spacing: -1.5px;
}

.hover\:ls-2 {
  letter-spacing: -0.5px;
}

.hover\:ls-3 {
  letter-spacing: 0.1px;
}

.hover\:ls-4 {
  letter-spacing: 0.15px;
}

.hover\:ls-5 {
  letter-spacing: 0.25px;
}

.hover\:ls-6 {
  letter-spacing: 0.5px;
}

.hover\:ls-7 {
  letter-spacing: 1.25px;
}

.hover\:ls-8 {
  letter-spacing: 1.5px;
}

.hover\:normal {
  text-transform: "none";
}

.hover\:capitalize {
  text-transform: "capitalize";
}

.hover\:lowercase {
  text-transform: "lowercase";
}

.hover\:uppercase {
  text-transform: "uppercase";
}

.focus\:flex {
  display: "flex";
}

.focus\:block {
  display: "block";
}

.focus\:inline {
  display: "inline";
}

.focus\:flex-inline {
  display: "flex-inline";
}

.focus\:inline-block {
  display: "inline-block";
}

.focus\:table {
  display: "table";
}

.focus\:table-cell {
  display: "table-cell";
}

.focus\:table-row {
  display: "table-row";
}

.focus\:float-left {
  float: "left";
}

.focus\:float-right {
  float: "right";
}

.focus\:float-none {
  float: "center";
}

.focus\:align-left {
  text-align: "left";
}

.focus\:align-right {
  text-align: "right";
}

.focus\:align-center {
  text-align: "center";
}

.focus\:align-justify {
  text-align: "justify";
}

.focus\:h-0 {
  height: 0;
}

.focus\:h-1 {
  height: 0.25rem;
}

.focus\:h-2 {
  height: 0.5rem;
}

.focus\:h-3 {
  height: 0.75rem;
}

.focus\:h-4 {
  height: 1rem;
}

.focus\:h-5 {
  height: 1.25rem;
}

.focus\:h-6 {
  height: 1.5rem;
}

.focus\:h-8 {
  height: 2rem;
}

.focus\:h-10 {
  height: 2.5rem;
}

.focus\:h-12 {
  height: 3rem;
}

.focus\:h-16 {
  height: 4rem;
}

.focus\:h-20 {
  height: 5rem;
}

.focus\:h-24 {
  height: 6rem;
}

.focus\:h-32 {
  height: 8rem;
}

.focus\:h-40 {
  height: 10rem;
}

.focus\:h-48 {
  height: 12rem;
}

.focus\:h-56 {
  height: 14rem;
}

.focus\:h-64 {
  height: 16rem;
}

.focus\:h-auto {
  height: auto;
}

.focus\:h-1\/2 {
  height: 50%;
}

.focus\:h-2\/4 {
  height: 50%;
}

.focus\:h-3\/6 {
  height: 50%;
}

.focus\:h-6\/12 {
  height: 50%;
}

.focus\:h-1\/3 {
  height: 33.3333333333%;
}

.focus\:h-2\/6 {
  height: 33.3333333333%;
}

.focus\:h-4\/12 {
  height: 33.3333333333%;
}

.focus\:h-2\/3 {
  height: 66.6666666667%;
}

.focus\:h-4\/6 {
  height: 66.6666666667%;
}

.focus\:h-8\/12 {
  height: 66.6666666667%;
}

.focus\:h-1\/4 {
  height: 25%;
}

.focus\:h-3\/12 {
  height: 25%;
}

.focus\:h-3\/4 {
  height: 75%;
}

.focus\:h-9\/1 {
  height: 75%;
}

.focus\:h-1\/5 {
  height: 20%;
}

.focus\:h-2\/5 {
  height: 40%;
}

.focus\:h-3\/5 {
  height: 60%;
}

.focus\:h-4\/5 {
  height: 80%;
}

.focus\:h-1\/6 {
  height: 16.6666666667%;
}

.focus\:h-2\/12 {
  height: 16.6666666667%;
}

.focus\:h-5\/6 {
  height: 83.3333333333%;
}

.focus\:h-10\/2 {
  height: 83.3333333333%;
}

.focus\:h-1\/12 {
  height: 8.3333333333%;
}

.focus\:h-5\/12 {
  height: 41.6666666667%;
}

.focus\:h-7\/12 {
  height: 58.3333333333%;
}

.focus\:h-11\/2 {
  height: 91.6666666667%;
}

.focus\:h-px {
  height: 1px;
}

.focus\:h-full {
  height: 100%;
}

.focus\:h-screen {
  height: 100vh;
}

.focus\:w-0 {
  width: 0;
}

.focus\:w-1 {
  width: 0.25rem;
}

.focus\:w-2 {
  width: 0.5rem;
}

.focus\:w-3 {
  width: 0.75rem;
}

.focus\:w-4 {
  width: 1rem;
}

.focus\:w-5 {
  width: 1.25rem;
}

.focus\:w-6 {
  width: 1.5rem;
}

.focus\:w-8 {
  width: 2rem;
}

.focus\:w-10 {
  width: 2.5rem;
}

.focus\:w-12 {
  width: 3rem;
}

.focus\:w-16 {
  width: 4rem;
}

.focus\:w-20 {
  width: 5rem;
}

.focus\:w-24 {
  width: 6rem;
}

.focus\:w-32 {
  width: 8rem;
}

.focus\:w-40 {
  width: 10rem;
}

.focus\:w-48 {
  width: 12rem;
}

.focus\:w-56 {
  width: 14rem;
}

.focus\:w-64 {
  width: 16rem;
}

.focus\:w-auto {
  width: auto;
}

.focus\:w-1\/2 {
  width: 50%;
}

.focus\:w-2\/4 {
  width: 50%;
}

.focus\:w-3\/6 {
  width: 50%;
}

.focus\:w-6\/12 {
  width: 50%;
}

.focus\:w-1\/3 {
  width: 33.3333333333%;
}

.focus\:w-2\/6 {
  width: 33.3333333333%;
}

.focus\:w-4\/12 {
  width: 33.3333333333%;
}

.focus\:w-2\/3 {
  width: 66.6666666667%;
}

.focus\:w-4\/6 {
  width: 66.6666666667%;
}

.focus\:w-8\/12 {
  width: 66.6666666667%;
}

.focus\:w-1\/4 {
  width: 25%;
}

.focus\:w-3\/12 {
  width: 25%;
}

.focus\:w-3\/4 {
  width: 75%;
}

.focus\:w-9\/1 {
  width: 75%;
}

.focus\:w-1\/5 {
  width: 20%;
}

.focus\:w-2\/5 {
  width: 40%;
}

.focus\:w-3\/5 {
  width: 60%;
}

.focus\:w-4\/5 {
  width: 80%;
}

.focus\:w-1\/6 {
  width: 16.6666666667%;
}

.focus\:w-2\/12 {
  width: 16.6666666667%;
}

.focus\:w-5\/6 {
  width: 83.3333333333%;
}

.focus\:w-10\/2 {
  width: 83.3333333333%;
}

.focus\:w-1\/12 {
  width: 8.3333333333%;
}

.focus\:w-5\/12 {
  width: 41.6666666667%;
}

.focus\:w-7\/12 {
  width: 58.3333333333%;
}

.focus\:w-11\/2 {
  width: 91.6666666667%;
}

.focus\:w-px {
  width: 1px;
}

.focus\:w-full {
  width: 100%;
}

.focus\:w-screen {
  width: 100vh;
}

.focus\:shadow-l1 {
  box-shadow: 0 2px 1px -1px rgba(33, 41, 52, 0.2), 0 1px 1px 0 rgba(33, 41, 52, 0.14), 0 1px 3px 0 rgba(33, 41, 52, 0.12);
}

.focus\:shadow-l2 {
  box-shadow: 0 2px 4px -1px rgba(33, 41, 52, 0.2), 0 4px 5px 0 rgba(33, 41, 52, 0.14), 0 1px 10px 0 rgba(33, 41, 52, 0.12);
}

.focus\:shadow-l3 {
  box-shadow: 0 5px 5px -3px rgba(33, 41, 52, 0.2), 0 8px 10px 1px rgba(33, 41, 52, 0.14), 0 3px 14px 2px rgba(33, 41, 52, 0.12);
}

.focus\:shadow-l4 {
  box-shadow: 0 7px 8px -4px rgba(33, 41, 52, 0.2), 0 12px 17px 2px rgba(33, 41, 52, 0.14), 0 5px 22px 4px rgba(33, 41, 52, 0.12);
}

.focus\:shadow-l5 {
  box-shadow: 0 8px 10px -5px rgba(33, 41, 52, 0.2), 0 16px 24px 2px rgba(33, 41, 52, 0.14), 0 6px 30px 5px rgba(33, 41, 52, 0.12);
}

.focus\:shadow-l6 {
  box-shadow: 0 10px 13px -6px rgba(33, 41, 52, 0.2), 0 20px 31px 3px rgba(33, 41, 52, 0.14), 0 8px 38px 7px rgba(33, 41, 52, 0.12);
}

.focus\:grey-700 {
  color: #212934;
}

.focus\:grey-600 {
  color: #5F6B79;
}

.focus\:grey-500 {
  color: #8895A6;
}

.focus\:grey-400 {
  color: #B8C4CD;
}

.focus\:grey-300 {
  color: #CFD6DE;
}

.focus\:grey-200 {
  color: #E1E7EC;
}

.focus\:grey-100 {
  color: #F8F9FA;
}

.focus\:red-700 {
  color: #620708;
}

.focus\:red-600 {
  color: #861415;
}

.focus\:red-500 {
  color: #DB292B;
}

.focus\:red-400 {
  color: #FB4C4E;
}

.focus\:red-300 {
  color: #FC8081;
}

.focus\:red-200 {
  color: #FEB8B8;
}

.focus\:red-100 {
  color: #FFF2F2;
}

.focus\:green-700 {
  color: #064408;
}

.focus\:green-600 {
  color: #206B23;
}

.focus\:green-500 {
  color: #3A913E;
}

.focus\:green-400 {
  color: #67CB6B;
}

.focus\:green-300 {
  color: #9DDF9F;
}

.focus\:green-200 {
  color: #BEF3C0;
}

.focus\:green-100 {
  color: #EFFDEF;
}

.focus\:yellow-700 {
  color: #624409;
}

.focus\:yellow-600 {
  color: #926E11;
}

.focus\:yellow-500 {
  color: #BC8908;
}

.focus\:yellow-400 {
  color: #DAAC09;
}

.focus\:yellow-300 {
  color: #F1BF0F;
}

.focus\:yellow-200 {
  color: #FADC41;
}

.focus\:yellow-100 {
  color: #FEF7D3;
}

.focus\:t-h1 {
  font-size: 64px;
}

.focus\:t-h2 {
  font-size: 50px;
}

.focus\:t-h3 {
  font-size: 37px;
}

.focus\:t-h4 {
  font-size: 28px;
}

.focus\:t-h5 {
  font-size: 21px;
}

.focus\:t-h6 {
  font-size: 16px;
}

.focus\:t-1 {
  font-size: 21px;
}

.focus\:t-2 {
  font-size: 14px;
}

.focus\:t-3 {
  font-size: 12px;
}

.focus\:content-stretch {
  align-content: "stretch";
}

.focus\:content-center {
  align-content: "center";
}

.focus\:content-start {
  align-content: "flex-start";
}

.focus\:content-end {
  align-content: "flex-end";
}

.focus\:content-between {
  align-content: "space-between";
}

.focus\:content-around {
  align-content: "space-around";
}

.focus\:content-initial {
  align-content: "initial";
}

.focus\:content-inherit {
  align-content: "inherit";
}

.focus\:items-stretch {
  align-items: "stretch";
}

.focus\:items-center {
  align-items: "center";
}

.focus\:items-start {
  align-items: "flex-start";
}

.focus\:items-end {
  align-items: "flex-end";
}

.focus\:items-baseline {
  align-items: "baseline";
}

.focus\:items-initial {
  align-items: "initial";
}

.focus\:items-inherit {
  align-items: "inherit";
}

.focus\:self-auto {
  align-self: "auto";
}

.focus\:self-stretch {
  align-self: "stretch";
}

.focus\:self-center {
  align-self: "center";
}

.focus\:self-start {
  align-self: "flex-start";
}

.focus\:self-end {
  align-self: "flex-end";
}

.focus\:self-baseline {
  align-self: "baseline";
}

.focus\:self-initial {
  align-self: "initial";
}

.focus\:self-inherit {
  align-self: "inherit";
}

.focus\:bg-scroll {
  background-attachment: "scroll";
}

.focus\:bg-fixed {
  background-attachment: "fixed";
}

.focus\:bg-center {
  background-position: "center center";
}

.focus\:bg-left {
  background-position: "left center";
}

.focus\:bg-right {
  background-position: "right center";
}

.focus\:bg-top {
  background-position: "top center";
}

.focus\:bg-bottom {
  background-position: "bottom center";
}

.focus\:bg-topleft {
  background-position: "top left";
}

.focus\:bg-topright {
  background-position: "top right";
}

.focus\:bg-bottomleft {
  background-position: "bottom left";
}

.focus\:bg-bottomright {
  background-position: "bottom right";
}

.focus\:bg-repeat {
  background-repeat: "repeat";
}

.focus\:bg-repeat-x {
  background-repeat: "repeat-x";
}

.focus\:bg-repeat-y {
  background-repeat: "repeat-y";
}

.focus\:bg-no-repeat {
  background-repeat: "no-repeat	";
}

.focus\:bg-space {
  background-repeat: "space";
}

.focus\:bg-round {
  background-repeat: "round";
}

.focus\:bg-initial {
  background-repeat: "initial";
}

.focus\:bg-inherit {
  background-repeat: "inherit";
}

.focus\:flex-row {
  flex-direction: "row";
}

.focus\:flex-row-reverse {
  flex-direction: "row-reverse";
}

.focus\:flex-column {
  flex-direction: "column";
}

.focus\:flex-column-reverse {
  flex-direction: "column-reverse";
}

.focus\:flex-nowrap {
  flex-wrap: "nowrap";
}

.focus\:flex-wrap {
  flex-wrap: "wrap";
}

.focus\:flex-wrap-reverse {
  flex-wrap: "wrap-reverse";
}

.focus\:justify-start {
  justify-content: "flex-start";
}

.focus\:justify-end {
  justify-content: "flex-end";
}

.focus\:justify-center {
  justify-content: "center";
}

.focus\:justify-between {
  justify-content: "space-between";
}

.focus\:justify-around {
  justify-content: "space-around";
}

.focus\:list-none {
  list-style-type: "none";
}

.focus\:overflow-visible {
  overflow: "visible";
}

.focus\:overflow-hidden {
  overflow: "hidden";
}

.focus\:overflow-scroll {
  overflow: "scroll";
}

.focus\:overflow-auto {
  overflow: "auto";
}

.focus\:events-none {
  pointer-events: "none";
}

.focus\:visible {
  visibility: "visible";
}

.focus\:hidden {
  visibility: "hidden";
}

.focus\:collapse {
  visibility: "collapse";
}

.focus\:bold {
  font-weight: 600;
}

.focus\:medium {
  font-weight: 500;
}

.focus\:regular {
  font-weight: 400;
}

.focus\:light {
  font-weight: 300;
}

.focus\:ls-1 {
  letter-spacing: -1.5px;
}

.focus\:ls-2 {
  letter-spacing: -0.5px;
}

.focus\:ls-3 {
  letter-spacing: 0.1px;
}

.focus\:ls-4 {
  letter-spacing: 0.15px;
}

.focus\:ls-5 {
  letter-spacing: 0.25px;
}

.focus\:ls-6 {
  letter-spacing: 0.5px;
}

.focus\:ls-7 {
  letter-spacing: 1.25px;
}

.focus\:ls-8 {
  letter-spacing: 1.5px;
}

.focus\:normal {
  text-transform: "none";
}

.focus\:capitalize {
  text-transform: "capitalize";
}

.focus\:lowercase {
  text-transform: "lowercase";
}

.focus\:uppercase {
  text-transform: "uppercase";
}

.alert, .alert-grey {
  height: 1rem;
  color: #CFD6DE;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 50px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 37px;
  font-weight: 400;
}

h4 {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.25px;
}

h5 {
  font-size: 21px;
  font-weight: 400;
}

h6 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.15px;
}

.subtitle-1 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15px;
}

.subtitle-2 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.body-1 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.body-2 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.25px;
}

.caption {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.overline {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
