.border
    border: 1px solid
    &-0
        border: 0
    &-1
        border: 1px solid
    &-2
        border: 2px solid
    &-4
        border: 4px solid
    &-8
        border: 8px solid

.border-l
    &-0
        border-left: 0
    &-1
        border-left: 1px solid
    &-2
        border-left: 2px solid
    &-4
        border-left: 4px solid
    &-8
        border-left: 8px solid

.border-r
    &-0
        border-right: 0
    &-1
        border-right: 1px solid
    &-2
        border-right: 2px solid
    &-4
        border-right: 4px solid
    &-8
        border-right: 8px solid

.border-t
    &-0
        border-top: 0
    &-1
        border-top: 1px solid
    &-2
        border-top: 2px solid
    &-4
        border-top: 4px solid
    &-8
        border-top: 8px solid

.border-b
    &-0
        border-bottom: 1px solid
    &-1
        border-bottom: 1px solid
    &-2
        border-bottom: 1px solid
    &-4
        border-bottom: 1px solid
    &-8
        border-bottom: 1px solid

.rounded-none
    @include rounded-none
.rounded-sm
    @include rounded-sm
.rounded
    @include rounded
.rounded-lg
    @include rounded-lg
.rounded-full
    @include rounded-full
    