.w-50
    width: 50px
.w-70
    width: 70px
.w-100
    width: 100px
.d-viewport
    top: 0
    left: 0
    width: 100vw
    height: 100vh
.faker
    pointer-events: none

.w-half
    width: percentage(1/2)
.w-one-third
    width: percentage(1/3)
.w-two-third
    width: percentage(2/3)
.w-one-quarter
    width: percentage(1/4)
.w-three-quarter
    width: percentage(3/4)
.w-one-fifth
    width: percentage(1/5)
.w-two-fifth
    width: percentage(2/5)
.w-three-fifth
    width: percentage(3/5)
.w-four-fifth
    width: percentage(4/5)
.w-one-twelve
    width: percentage(1/12)
.w-one-sixth
    width: percentage(1/6)
.w-one-quarter
    width: percentage(1/4)
.w-one-third
    width: percentage(1/3)
.w-five-twelve
    width: percentage(5/12)
.w-seven-twelve
    width: percentage(7/12) 
.w-five-sixth
    width: percentage(5/6)
.w-eleven-twelve
    width: percentage(11/12)
.w-full
    width: 100%
.w-auto
    width: auto