// padding
// increments

$i: 0
@each $size in $lineheight
    .lh
        &-#{$i}
            line-height: $size
    $i: $i + 1
// $map_modification: ( ('0': 0) , ('1': 0.25) , ('2': 0.5) , ('3': 0.75) , ('4': 1) , ('5': 1.25) , ('6': 1.5) , ('7': 2) , ('8': 2.5) , ('9': 3) , ('10': 4) , ('11': 5) , ('12': 6) , ('13': 8) , ('auto': auto) )


$i: 0
@each $size in $modification
    .p
        &-#{$i}
            padding: #{$size}rem
    .px
        &-#{$i}
            @include paddingx(#{$size}rem)

    .py
        &-#{$i}
            @include paddingy(#{$size}rem, #{$size}rem)

    .pt
        &-#{$i}
            padding-top: #{$size}rem
    .pb
        &-#{$i}
            padding-bottom: #{$size}rem
    .pl
        &-#{$i}
            padding-left: #{$size}rem
    .pr
        &-#{$i}
            padding-right: #{$size}rem
    .m
        &-#{$i}
            margin: #{$size}rem
    .mx
        &-#{$i}
            margin-right: #{$size}rem
            margin-left: #{$size}rem
    .my
        &-#{$i}
            margin-top: #{$size}rem
            margin-bottom: #{$size}rem
    .mt
        &-#{$i}
            margin-top: #{$size}rem
    .mb
        &-#{$i}
            margin-bottom: #{$size}rem
    .ml
        &-#{$i}
            margin-left: #{$size}rem
    .mr
        &-#{$i}
            margin-right: #{$size}rem
    .\-m
        &-#{$i}
            margin: -#{$size}rem
    .\-mx
        &-#{$i}
            margin-right: -#{$size}rem
            margin-left: -#{$size}rem
    .\-my
        &-#{$i}
            margin-top: -#{$size}rem
            margin-bottom: -#{$size}rem
    .\-mt
        &-#{$i}
            margin-top: -#{$size}rem
    .\-mb
        &-#{$i}
            margin-bottom: -#{$size}rem
    .\-ml
        &-#{$i}
            margin-left: -#{$size}rem
    .\-mr
        &-#{$i}
            margin-right: -#{$size}rem
    $i: $i + 1
.my-0
    margin-top: 0rem
    margin-bottom: 0rem
.mx-0
    margin-left: 0rem
    margin-right: 0rem
.mx-auto
    margin-left: auto
    margin-right: auto
.my-auto
    margin-top: auto
    margin-bottom: auto
.ml-auto
    margin-left: auto
.mr-auto
    margin-right: auto
.mt-auto
    margin-top: auto
.mb-auto
    margin-bottom: auto

.separator
    border: 0
    height: 1px
    background-color: #e1e7ec
