$startSize: 16px

@function calculateRem($size)
  $remSize: $size / 16
  @return #{$remSize}rem

@function calculateLetterSpacing($size)
  $remSize: $size / 1000
  @return #{$remSize}em

@mixin whitespace-normal
    white-space: normal

@mixin whitespace-no-wrap
    white-space: nowrap

@mixin whitespace-pre
    white-space: pre

@mixin whitespace-pre-line
    white-space: pre-line

@mixin whitespace-pre-wrap
    white-space: pre-wrap

@mixin break-words
    word-wrap: break-word

@mixin break-normal
    word-wrap: normal

@mixin text-align($value)
    text-align: #{$value}


@mixin text-transform($value)
    text-transform: #{$value}

@mixin f-italic
    font-style: italic

@mixin f-normal
    font-style: normal

@mixin no-decoration
    text-decoration: none

@mixin font-style($value)
    font-style: #{$value}

@mixin truncate-ellipsis()
    display: block
    overflow: hidden
    width: 100%
    white-space: nowrap
    text-overflow: ellipsis

@mixin f-light()
    font-weight: 300

@mixin f-normal()
    font-weight: 400

@mixin f-medium()
    font-weight: 500

@mixin f-bold()
    font-weight: 600

@mixin whitespace($type)
    white-space: #{$type}

@mixin word-wrap($type)
    word-wrap: #{$type}

@mixin title-h1
    @include f-light
    font-size: calculateRem(96)
    letter-spacing: -1.5px

@mixin title-h2
    @include f-light
    font-size: calculateRem(60)
    letter-spacing: -0.5px

@mixin title-h3
    font-size: calculateRem(48)
    letter-spacing: 0px

@mixin title-h4
    font-size: calculateRem(34)
    letter-spacing: 0.25px

@mixin title-h5
    font-size: calculateRem(24)
    letter-spacing: 0px

@mixin title-h6
    @include f-medium
    font-size: calculateRem(20)
    letter-spacing: 0.15px

@mixin subtitle-1
    font-size: calculateRem(16)
    letter-spacing: 0.15px

@mixin subtitle-2
    @include f-medium
    font-size: calculateRem(14)
    letter-spacing: 0.1px

@mixin subtitle-3
    @include f-bold
    font-size: calculateRem(11)
    letter-spacing: 1.5px
    text-transform: uppercase

@mixin body-1
    font-size: calculateRem(14)
    letter-spacing: 0.13px


@mixin body-2
    font-size: calculateRem(16)
    letter-spacing: 0.5px

@mixin body-3
    font-size: calculateRem(14)
    letter-spacing: 0.25px

@mixin caption
    font-size: calculateRem(12)
    letter-spacing: 0.4px

@mixin overline
    font-size: calculateRem(10)
    letter-spacing: 1.5px
    text-transform: uppercase

@mixin label
    @include f-medium
    color: $grey-500
    display: block
    font-size: calculateRem(11)
    margin-bottom: calculateRem(8)
    letter-spacing: 0.33px
    text-transform: uppercase

@mixin buttons
    @include f-medium
    font-size: calculateRem(11)
    letter-spacing: 1.25px
    text-transform: uppercase

@mixin table-header
    @include f-bold
    font-size: calculateRem(12)
    letter-spacing: 0.5px
    text-transform: uppercase

@mixin table-text ($selected: false)
    display: block
    font-size: calculateRem(12)
    letter-spacing: 0.5px
    width: 100%
    overflow: hidden
    text-align: inherit
    text-overflow: ellipsis
    @if $selected
        @include f-bold

@mixin o-ellipsis
    @include truncate-ellipsis