app-profile-page
    display: grid
    // grid-template-columns: minmax(2fr , 18.75rem) minmax(1fr , 12.5rem) 10fr
    // grid-auto-columns: minmax(2fr , 18.75rem) minmax(1fr , 12.5rem) 10fr
    // grid-auto-columns: minmax(100px, auto) minmax(max-content, 2fr) minmax(20%, 80vmax);
    grid-auto-columns: minmax(18.75rem, auto) minmax(7.5rem, 2fr) minmax(60%, auto)
    grid-template-rows: 1fr
    .sidebar
        grid-column: 1/2
    .secodnary-sidebar
        grid-column: 2/3
    .l-content
        grid-column: 3/4