/* this mixin is used for create the placeholder */
@mixin make($name, $property, $values){

  @if (type-of($values) == 'map' ){
    @each $key in map-keys($values){
      @if ($property == 'margin' or $property == 'padding') {
        @debug $key;
      }
      $value: map-get($values, $key);
      .#{prependSuffix($name, $key)} {
        #{$property}: $value;
      }
    }
  }

  @else{
    .#{prependSuffix($name, nth($values, 1))} {
      #{$property}: nth($values, 2);
    }
    %#{nth($values, 1)}{
      #{$property}: nth($values, 2)
    }
  }
}

/* this mixin is used for take value and extend an element */
/*
  understand if is used?!

  extend it or add values?

  now: 
*/

// deprecated
@mixin _apply($args...) {
  @each $arg in $args {
    @extend %#{$arg}!optional;
  }
}

// @mixin responsive($list, $breakpoint) {
//   @debug $breakpoint;
//   @debug type-of($breakpoint) == 'string';
//   @media #{createbreakpoint($breakpoint)} {
//     @content;
//   }
// }

// @function createbreakpoint($breakpoint) {
  
//   @return $breakpoint;
// }

// create properties behaviour like
// property: name: value
// <string>: <map>

// use list of string for naming = name -> index

@mixin apply($args...) {
  & {
    @each $arg in $args{
      @each $prop in $properties {
        @if (type-of($prop) == 'list') {
          @each $item in $prop {

            @if (type-of($item) == 'map') {
              $current: if( map-has-key($item, $arg), $item, false);
              @if $current {
                $value: map-get($item, $arg);
                $property: str-Cc-separator( nth($prop, 1) );
                #{$property}: #{$value};
              }
            };
          }
        };

        // $result: index(map-values($prop), $arg);
        
      }
    }
  }
}