.flex-mansory
    display: flex
    // height: calc(100vh - 130px)
    flex-wrap: wrap
    overflow: auto
    max-height: 80vh
    > *
        flex-shrink: 0
        flex-grow: 0
        // flex-basis: 190px
        height: 220px
        display: block
        width: calc(50% - 32px)
        margin: 16px
        position: relative
    .graph__title
        text-align: center
        position: absolute
        bottom: 0
        width: 100%
.block
    display: block !important
.inline-block
    display: inline-block !important
.inline
    display: inline !important
.table
    display: table !important
.table-row
    display: table-row !important
.table-cell
    display: table-cell !important
.hidden
    display: none !important
.flex
    display: flex !important
.flex-inline
    display: flex-inline !important
.flex-row
    flex-direction: row
    &-reverse
        flex-direction: row-reverse
.flex-column
    flex-direction: column
    &-reverse
        flex-direction: column-reverse
.space-between,
.space-b,
.between
    justify-content: space-between
.content-start
    justify-content: flex-start
.content-end
    justify-content: flex-end
.content-center
    justify-content: center
.around,
.space-around
    justify-content: space-around
.inline-flex
    display: inline-flex
.items-start
    align-items: flex-start
.items-end
    align-items: flex-end
.items-center
    align-items: center

.h-0
    width: 0
.h-1
    width: 0.25rem
.h-2
    width: 0.5rem
.h-3
    width: 0.75rem
.h-4
    width: 1rem
.h-5
    width: 1.25rem
.h-6
    width: 1.5rem
.h-8
    width: 2rem
.h-10
    width: 2.5rem
.h-12
    width: 3rem
.h-16
    width: 4rem
.h-20
    width: 5rem
.h-24
    width: 6rem
.h-32
    width: 8rem
.h-40
    width: 10rem
.h-48
    width: 12rem
.h-56
    width: 14rem
.h-64
    width: 16rem
.h-auto
    width: auto
.h-px
    width: 1px

.w-0
    width: 0
.w-1
    width: 0.25rem
.w-2
    width: 0.5rem
.w-3
    width: 0.75rem
.w-4
    width: 1rem
.w-5
    width: 1.25rem
.w-6
    width: 1.5rem
.w-8
    width: 2rem
.w-10
    width: 2.5rem
.w-12
    width: 3rem
.w-16
    width: 4rem
.w-20
    width: 5rem
.w-24
    width: 6rem
.w-32
    width: 8rem
.w-40
    width: 10rem
.w-48
    width: 12rem
.w-56
    width: 14rem
.w-64
    width: 16rem
.w-auto
    width: auto
.w-px
    width: 1px

.w-1\/2,
.w-2\/4,
.w-3\/6,
.w-6\/12
    width: percentage(1/2)
.w-1\/3,
.w-2\/6,
.w-4\/12
    width: percentage(1/3)
.w-2\/3,
.w-4\/6,
.w-8\/12
    width: percentage(2/3)
.w-1\/4,
.w-3\/12
    width: percentage(1/4)
.w-3\/4,
.w-9\/1
    width: percentage(3/4)
.w-1\/5 
    width: percentage(1/5)
.w-2\/5 
    width: percentage(2/5)
.w-3\/5 
    width: percentage(3/5)
.w-4\/5 
    width: percentage(4/5)
.w-1\/6,
.w-2\/12
    width: percentage(1/6)
.w-5\/6,
.w-10\/12
    width: percentage(5/6)
.w-1\/12
    width: percentage(1/12)
.w-5\/12
    width: percentage(5/12)
.w-7\/12    
    width: percentage(7/12)
.w-11\/12
    width: percentage(11/12)
/* tablet 600 */
/* tablet 900 */
/* tablet 1200 */

@media screen and (min-width: 600px)
    .sm\:w-1\/2,
    .sm\:w-2\/4,
    .sm\:w-3\/6,
    .sm\:w-6\/12
        width: percentage(1/2)
    .sm\:w-1\/3,
    .sm\:w-2\/6,
    .sm\:w-4\/12
        width: percentage(1/3)
    .sm\:w-2\/3,
    .sm\:w-4\/6,
    .sm\:w-8\/12
        width: percentage(2/3)
    .sm\:w-1\/4,
    .sm\:w-3\/12
        width: percentage(1/4)
    .sm\:w-3\/4,
    .sm\:w-9\/1
        width: percentage(3/4)
    .sm\:w-1\/5 
        width: percentage(1/5)
    .sm\:w-2\/5 
        width: percentage(2/5)
    .sm\:w-3\/5 
        width: percentage(3/5)
    .sm\:w-4\/5 
        width: percentage(4/5)
    .sm\:w-1\/6,
    .sm\:w-2\/12
        width: percentage(1/6)
    .sm\:w-5\/6,
    .sm\:w-10\/12
        width: percentage(5/6)
    .sm\:w-1\/12
        width: percentage(1/12)
    .sm\:w-5\/12
        width: percentage(5/12)
    .sm\:w-7\/12    
        width: percentage(7/12)
    .sm\:w-11\/12
        width: percentage(11/12)
@media screen and (min-width: 900px)
    .md\:w-1\/2,
    .md\:w-2\/4,
    .md\:w-3\/6,
    .md\:w-6\/12
        width: percentage(1/2)
    .md\:w-1\/3,
    .md\:w-2\/6,
    .md\:w-4\/12
        width: percentage(1/3)
    .md\:w-2\/3,
    .md\:w-4\/6,
    .md\:w-8\/12
        width: percentage(2/3)
    .md\:w-1\/4,
    .md\:w-3\/12
        width: percentage(1/4)
    .md\:w-3\/4,
    .md\:w-9\/1
        width: percentage(3/4)
    .md\:w-1\/5 
        width: percentage(1/5)
    .md\:w-2\/5 
        width: percentage(2/5)
    .md\:w-3\/5 
        width: percentage(3/5)
    .md\:w-4\/5 
        width: percentage(4/5)
    .md\:w-1\/6,
    .md\:w-2\/12
        width: percentage(1/6)
    .md\:w-5\/6,
    .md\:w-10\/12
        width: percentage(5/6)
    .md\:w-1\/12
        width: percentage(1/12)
    .md\:w-5\/12
        width: percentage(5/12)
    .md\:w-7\/12    
        width: percentage(7/12)
    .md\:w-11\/12
        width: percentage(11/12)
@media screen and (min-width: 1200px)
    .lg\:w-1\/2,
    .lg\:w-2\/4,
    .lg\:w-3\/6,
    .lg\:w-6\/12
        width: percentage(1/2)
    .lg\:w-1\/3,
    .lg\:w-2\/6,
    .lg\:w-4\/12
        width: percentage(1/3)
    .lg\:w-2\/3,
    .lg\:w-4\/6,
    .lg\:w-8\/12
        width: percentage(2/3)
    .lg\:w-1\/4,
    .lg\:w-3\/12
        width: percentage(1/4)
    .lg\:w-3\/4,
    .lg\:w-9\/1
        width: percentage(3/4)
    .lg\:w-1\/5 
        width: percentage(1/5)
    .lg\:w-2\/5 
        width: percentage(2/5)
    .lg\:w-3\/5 
        width: percentage(3/5)
    .lg\:w-4\/5 
        width: percentage(4/5)
    .lg\:w-1\/6,
    .lg\:w-2\/12
        width: percentage(1/6)
    .lg\:w-5\/6,
    .lg\:w-10\/12
        width: percentage(5/6)
    .lg\:w-1\/12
        width: percentage(1/12)
    .lg\:w-5\/12
        width: percentage(5/12)
    .lg\:w-7\/12    
        width: percentage(7/12)
    .lg\:w-11\/12
        width: percentage(11/12)
.container
    width: 100%
    &--sm
        width: 320px
    &--md
        width: 768px
    &--lg
        width: 1024px
    &--xl
        width: 1280px
.k-dialog-wrapper
    justify-content: flex-start

.max-width-xl
    max-width: 960px
.flex-tight
    flex-grow: 0
.flex-wide
    flex-grow: 1
.flex-wrap
    flex-wrap: wrap

.z-front
    z-index: 9999
.z-back
    z-index: -9999

.left-0
    left: 0
.top-0
    top: 0