.o-hidden
    overflow: hidden
.o-auto
    overflow: auto
.o-visible
    overflow: visible
.ox-hidden
    overflow-x: hidden
.oy-hidden
    overflow-y: hidden
.ox-auto
    overflow-x: auto
.oy-auto
    overflow-y: auto