@import 'configuration/all';
@import 'helpers/helpers.scss';
/*
  If value don't have unit the fallback is px
*/

// break ('responsive', 'hover', 'focus', 'active')
$breakpoints: (
  'responsive': (
    'sm': 320,
    'md': 768,
    'lg': (min: 1024, max: 56px),
    'xl': (300, 400)
  )
);

// features ('responsive', 'hover', 'focus', 'active')
$modules: (
  'textAlign': ('responsive', 'hover', 'focus'),
  'float': ('responsive'),
  'height': ('responsive'),
  'width': ('responsive'),
  'boxShadow': ('responsive'),
  'color': ('responsive'),
  'fontSize': ('responsive'),
  'alignContent': ('responsive'),
  'alignItems': ('responsive'),
  'alignSelf': ('responsive'),
  'backgroundAttachment': ('responsive'),
  'backgroundPosition': ('responsive'),
  'backgroundRepeat': ('responsive'),
  'flexDirection': ('responsive'),
  'flexWrap': ('responsive'),
  'justifyContent': ('responsive'),
  'listStyleType': ('responsive'),
  'overflow': ('responsive'),
  'pointerEvents': ('responsive'),
  'visibility': ('responsive')
);

/*
  for create the placeholders i need all values
  so for every key i need to create
*/

@function getProperty($property) {
  @if( map-has-key($properties , $property) ){
    @return map-get($properties, $property);
  }
  @else{
    @warn 'the #{$property} property wasn\'t found';
  }
}


$properties: setProperties($modules, $configuration);
$res_properties: setResponsive($modules, $configuration);
$class_properties: setPseudoclass($modules, $configuration);