$responsive_list: ();
$breakpoints: (
  'responsive': (
    'sm': 320,
    'md': 768,
    'lg': (min: 1024, max: 56px),
    'xl': (300, 400)
  )
);
@function setProperties($l1, $l2) {

  @each $k, $v in $l1 {
    @if (type-of($v) == 'bool' and not $v ) {
      $l2: map-remove($l2, $k); 
    }
  }

  @return $l2;

}

@function setResponsive($l1, $l2) {
  $list: ();
  @each $k, $v in $l1 {
    @if($v and index($v, 'responsive') ){
      $list: map-merge( $list, ( $k: map-get($l2, $k) ) );
    }
  }
  @return $list;
}

@function setPseudoclass($l1, $l2){
  $list: ();
  @each $k, $v in $l1 {
    @if($v){

      $pseudoclasses: if(index($v, 'responsive'), remove($v, 'responsive'), $v ) ;
      @each $pc in $pseudoclasses{
        $list: map-merge($list, ($pc: $l2));
      }

    }
  }
  @return $list;
}

@function prependSuffix($suffix, $argument) {
  $string: '';
  @if($suffix){
    $string: #{$suffix}#{'\\:'}#{$argument};
  }@else{
    $string: $argument
  }
  @return $string;
}

@function str_mediaWidth($key, $val, $cnn) {
  @return '#{$cnn} (#{$key}-width: #{unit_px($val)})';
}
// (min-width: ) and (max-width: )
@mixin responsive($list, $breakpoints){
  // placeholder
  $bp: createBreakpoints($breakpoints);
  @each $k, $b in $bp{
    @media#{$b} {
      @each $key, $val in $list {
        $property: str-Cc-separator($key);
        @include make( $k, $property, $val );
        // 
        
      }
    }
  }
  

};

@mixin pseudoClasses($lists) {
  @each $pseudoclass, $list in $lists {
    @each $key, $val in $list {
        $property: str-Cc-separator($key);
        @include make( $pseudoclass, $property, $val );
      }
  }
}

@function remove($list, $value) {
  // se esiste rimuovi sennò ritorna lista;
  $new-list: ();
  @if ( not not index($list, $value) ){
    $i: index($list, $value);
    $index: 1;
    @each $l in $list {
      $new-list: if( ($index != $i), append($new-list, $l), $new-list); 
      $index: $index + 1;
    }
  }@else{
    $new-list: $list;
  }

  @return $new-list;
}

@function unit_px($number){
  @return if( unitless($number), #{$number}px, $number );
}

@function createBreakpoints($breakpoints){
  $bp-list: ();
  @each $breakpoint, $value in $breakpoints {
    @each $key, $size in $value {
      @if( type-of($size) != 'map' and type-of($size) != 'list' ) {
        $string: ' (min-width: #{unit_px($size)})';
        $bp-list: map-merge($bp-list, ($key: $string) );
      }@else{
        $string: '';
        @if( type-of($size) == 'map' ){
          $i: 0;
          @each $_key, $val in $size{

            $connector: if($i == 0, '', ' and');
            $string: $string + str_mediaWidth($_key, $val, $connector);
            $i: $i + 1;
            $bp-list: map-merge($bp-list, ($key: $string) );
          }
        }
        @if( type-of($size) == 'list' ){
          $i: 0;
          @each $val in $size {
            $_key: if($i == 0, 'min', 'max');
            $connector: if($i == 0, '', ' and');
            $string: $string + str_mediaWidth($_key, $val, $connector);
            $i: $i + 1;
            $bp-list: map-merge($bp-list, ($key: $string) );
          }

        }

      }
    };
  }

  @return $bp-list;
}

//@include responsive($responsive_list);



@function _setProperties($l1, $l2) {

  // user map-remove to clean the startlist

  $keys: map-keys($l1);
  $list: ();
  @each $key in $keys {
    @if ( map-get($l1 , $key) ) {
      $list: map-merge( $list, ( $key: map-get($l2, $key) ) );
    };
  }
  @return $list; 
}

@function sfx($list, $suffix){
  $newList: ();
  $keys: map-keys($list);
  @each $key in $keys {
    $newKey: #{$suffix}-#{$key};
    $newList: map-merge($newList, ($newKey: map-get($list, $key)) )
  }
  @return $newList;
}

@function haveUom($value) {
  @if unitless($value) {
    @return #{$value}'px';
  }
  @else {
    @return $value;
  }
}

@function theme($variant, $value){
  @return map-get($theme, $variant);
}

@function contain($list, $value) {
  @return not not index($list, $value);
}

@function getMediaRange($min: 0, $max: 1) {

  $value: ();

  // check if value exists

  @if $max == max($max, $min) {

  }
  @else{

  }
    /*
      parse a string to retrive (min-width: ) and ( max-width: )

      otherwise

      parse a string to retrive (min-width: ) 
      or ( max-width: )

    */

}


// @function createModifier($modifier, $key) {
//   // #{$modifier}

//   @if ($key == 'x') {    
//     padding-top: $value;
//     padding-bottom: $value;
//   }
//   @if ($key == 'y') {
//     padding-left: $value;
//     padding-right: $value;
//   }
  
// }

@function calculateRem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

@function calculateLetterSpacing($size) {
  $remSize: $size / 1000;
  @return #{$remSize}em;
}

@function str-ucwords($string) {
  $progress: $string;
  $result: "";

  $running: true;

  @while $running {
    $index: str-index($progress, " ");
    @if $index {
      $result: $result + capitalize(str-slice($progress, 1, $index));
      $progress: str-slice($progress, ($index + 1));
    }
    @else {
      $running: false;
    }
  }

  @return capitalize($result) + capitalize($progress);
}

/*
  convert a camelcase in string separate by -
  ex: textAlign _> text-align
*/

@function str-Cc-separator($string, $separate: true){

  $alphabet: ( 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z' );
  $currentStr: '';
  $i: 0;

  @while ( $i < str-length($string) + 1 ) {
    $chart: str-slice($string, $i, $i);
    $tempStr: if( index( $alphabet, $chart ), separateByChart( to-lower-case($chart) ), $chart );
    $currentStr: str-insert($currentStr, $tempStr, (str-length($currentStr) + 1) ); 
    $i: $i + 1;
  }

  @return $currentStr;

}

@function separateByChart($chart) {
  @return -#{to-lower-case($chart)};
}

@function cut($string, $separator: '-') {
  $length: str-length($string);
  $i: str-index( $string, $separator );
  @return if($i, str-slice($string, ($i + 1), $length), $string);
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}