$minWidth: 192px
$maxHeight: 256px

@mixin dropdown()
  clear: both
  color: $blue-700
  @include relative
@mixin dropdown-item()
  display: flex
  white-space: nowrap
  width: 100%
  &:hover
    background-color: $blue-100
    color: $grey-700
@mixin dropdown-item-first()
  color: $grey-300

@mixin dropdown-content($min: $minWidth, $max: $maxHeight)
  @include absolute
  @include panel($shadow-l2)
  max-height: $max
  min-width: $min
  overflow: hidden
  overflow-y: auto
  padding: 8px 0
  z-index: 3

@mixin dropdown-selection()
  border-radius: $border-radius
  cursor: pointer
  // min-height: 33px
  display: flex
  align-items: center
  overflow: hidden
  // padding: 0 8px
  position: relative
  transition: background-color 300ms ease
  &:hover,
  &:focus
    background-color: rgba(255,255,255,0.15)
@mixin dropdown-toggle()
  position: absolute
  right: 12px
  top: 50%
  width: 24px
  transform: translateY(-50%)
  text-align: center