.alert
    @extend .br-4
    display: inline-block
    border-top: 3px solid transparent
    line-height: 1.5
    display: grid
    grid-template-columns: 20px 1fr
    grid-gap: 24px
    padding: 24px
    p
        margin: 0
    &.alert--error
        background-color: $red-100
        border-top-color: $red-700
        color: $red-700
        h2
            color: $red-700
        p
            color: $red-500
    &.alert--success
        background-color: $green-100
        border-top-color: $green-700
        color: $green-700
        h2
            color: $green-700
        p
            color: $green-500
    &.alert--warning
        background-color: $yellow-100
        border-top-color: $yellow-700
        color: $yellow-700
        h2
            color: $yellow-700
        p
            color: $yellow-500
    &.alert--info
        background-color: $blue-100
        border-top-color: $blue-700
        color: $blue-700
        h2
            color: $blue-700
        p
            color: $blue-500