.tooltip-box
    .box
        padding: 1rem
        background-color: #191c2b
        border-top: 2px solid #191c2b
        border-radius: 2px
        margin: 10px
.tooltip-box
    bottom: 120%
    width: 180px
    background: #191c2b
    padding: 12px
    left: 50%
    transform: translateX(-50%)
    position: relative
    &.select-layers,
    &.select-displays
        position: absolute
        max-height: 300px
        overflow: auto
    &.select-displays
        left: 0
        transform: none
        width: 220px
.step-track
    background-color: white
    transition: transform 250ms ease
.step-block
    background-color: white
    border-radius: 4px
    display: flex
    flex-direction: column
    &.is-hide
        display: none
    h4
        color: #4d5868
        font-weight: 600
        padding: 9px 15px 6px
.step-item
    display: block
    cursor: pointer
    & + i
        float: right
    label
        display: flex
        padding: 0px 8px
        cursor: pointer
        align-items: center
        justify-content: space-between
    i
        font-size: 16px
        float: right
    &:first-child
        border-top-color: transparent
    &:hover
        background-color: rgba(130, 148, 164, 0.2)

.analysis-tooltip
    background: $grey-200 // @todo modificare
    display: block
    width: 600px
    left: 0
    padding-left: 63px
    padding-right: 21px
    padding-top: 60px
    position: absolute
    top: 0
    bottom: 0
    z-index: 4
    span h2
        color: white
        padding: 12px
        font-size: 14px
        font-weight: 600
    &:after
        content: ""
.case-search-check
    input
        display: none
    label 
        display: inline-block
        font-size: 14px
        white-space: nowrap
    i 
        font-size: 19px
        vertical-align: sub
.button-group
    button
        appearance: none
        border: 0
        background: transparent none

.analysis-list
    height: calc(100vh - 200px)
    overflow-y: auto
.choose-analysis
    > button.btn--primary--sm
        text-align: center
        height: 33px
    .ngx-datepicker-container
        .ngx-datepicker-input
            width: auto !important
            max-width: 100%
    .dropdown
        margin: 0
    .dropdown-wrapper
        min-width: 0
        max-width: 160px

.panel.bg-grey
    margin: 0 3rem 1rem
    padding: 1rem
    h4
        line-height: 1.2
    p
        line-height: 1.5