.breadcrumbs
    > a
        text-decoration: none
        display: inline-block
        color: $grey-700
        padding-right: 0.25rem
        &:hover
            text-decoration: underline
        &:after
            content: '/'
        &.is-current
            color: $grey-500
            pointer-events: none
            &:after
                display: none
