$primary: #526fa5
$primary-hover: #7a8cae
$primary-active: #283e67
$accent: #9ac93b
$accent-hover: #bce36f
$accent-active: #80b021

.pointer
    cursor: pointer
.sf-btn
button,
[class^='btn--'],
input[type="submit"],
button[type="submit"]
    appearance: none
    align-items: center
    background: transparent none
    border: 1px solid transparent
    cursor: pointer
    display: inline-flex
    font-size: 0.875rem
    font-family: sans-serif
    letter-spacing: 0.25px
    line-height: 1
    margin: 4px
    padding: 6px 8px
    border-radius: 4px
    position: relative
    transition: background-color 300ms , color 300ms, border-color 300ms
    text-decoration: none
    text-transform: capitalize
    &[class*='--squared']
        border-radius: 0px
    &[class*='--circle']
        border-radius: 20px
    &[class*='--sm']
        padding: 4px
    &[class*='--lg']
        padding: 12px
    &:focus
        outline: 1px solid white
    
    &[class*='--primary']
        background: $primary
        color: white
        &:hover
            background: $primary-hover
        &:active
            background: $primary-active
        &[disabled="disabled"],
        &[disabled="true"],
        &:disabled
            background-color: $grey-500 !important

    &[class*='--secondary']
        background-color: $blue-500
        color: white
        &:hover
            background-color: $blue-600
        &:active
            background-color: $blue-700
        &[disabled="disabled"],
        &[disabled="true"],
        &:disabled
            background-color: $blue-500 !important
    &[class*='--tertiary']
        border-color: $grey-500
        background-color: white
        color: $grey-500
        &:hover
            background-color: $grey-100
            border-color: $grey-600
            color: $grey-600
        &:active
            background-color: $grey-200
            border-color: $grey-700
            color: $grey-700
        &[disabled="disabled"],
        &[disabled="true"],
        &:disabled
            background-color: white !important
    &[class*='--accent']
        background-color: $accent
        color: white
        &:hover
            background: $accent-hover
        &:active
            background: $accent-active
        &[disabled="disabled"],
        &[disabled="true"],
        &:disabled
            background-color: $grey-500 !important
    &[class*='--link']
        background-color: transparent
        color: $grey-500
        &:hover
            background-color: transparent
            color: $grey-700
        &:active
            background-color: $grey-200
            color: $grey-700
    &[class*='--link--delete']
        background-color: transparent
        color: $grey-500
        &:hover
            background-color: transparent
            color: $red-400
        &:active
            background-color: $grey-200
            color: $red-700
    
    &[class*='--icon']
        padding: 0
        background-color: transparent
        color: $grey-500
        width: 24px
        height: 24px
        font-size: 21px
        justify-content: center
        &[class*='--lg']
            border-radius: 100%
            width: 42px
            height: 42px
            &:hover
                background: rgba(255,255,255,0.15)
        &[disabled="disabled"],
        &[disabled="true"],
        &:disabled
            cursor: not-allowed
            opacity: 0.6

        svg
            height: 24px
        &:hover
            background-color: $grey-200
        &:active
            background-color: $grey-400
    &[class*='--with-icon']
        svg
            height: 16px
        .k-icon,
        svg,
        i
            margin-right: 4px
        
    &[class*='--round']
        background: white
        justify-content: center
        height: 33px
        border-radius: 100%
        width: 33px
        margin-left: 9px
    &[class*='--round--sm']
        justify-content: center
        height: 24px
        width: 24px
        svg
            height: 12px
    &[disabled="disabled"],
    &[disabled="true"],
    &:disabled
        cursor: not-allowed
        opacity: 0.6
        background-color: transparent !important

.main .small-reload
    position: absolute
    top: -6px
    right: -3px
    padding: 0
    background: $grey-200
    width: 18px
    height: 18px
    border-radius: 18px
    display: flex
    justify-content: center
    align-items: center
    font-size: 14px
    box-shadow: 0 4px 4px rgba(0,0,0,0.5)
    color: $blue-700
    z-index: 2
    img
        width: 11px
    &:hover
        background: white
        border-radius: 18px
app-case-control
    .dropdown__head
        justify-content: center
    .dropdown__menu
        left: 2rem
        top: -1.5rem

.cli-suggestion
    position: absolute
    right: 9px
    top: 24px

app-case-detail
    .panel .p-2:first-child:hover
        background-color: #e5eaef


