.chat-broadcast
  font-size: 12px
  background: #f5faff
  line-height: 1
.chat-content
  background: #f5faff
  display: flex
  flex-wrap: nowrap
  font-size: 12px
  padding: 4px
  textarea
    border: 0
    margin: 0
    padding: 8px
    flex: 1
    display: block
.chat-importance
  background: #f5faff
  font-size: 12px
.char-users-list
  width: 30px
  display: block
app-chat-container
  position: relative
.chat-box
  position: absolute
  display: block
  bottom: 0
  left: 56px
  width: 256px
.chat-item
  background-color: grey
  font-size: 12px
  padding: 16px
  border-radius: 4px



$AVATAR_SMALL: 24px
$AVATAR_MEDIUM: 32px
$AVATAR_LARGE: 48px

$BORDER_RADIUS: 4px


.chat
  @extend .panel
  background-color: $grey-100
  display: none
  // grid-template-areas: "users messages" "users input"
  width: 475px
  // grid-template-columns: 48px 1fr
  position: absolute
  bottom: 0
  border: 4px solid $grey-200
  left: 54px
  padding-top: 33px
  &.is-open
    display: flex
.chat__users
  background-color: $grey-200
  grid-area: users
  display: flex
  overflow: auto
  flex-wrap: wrap
  flex-direction: column
  .is-hidden
    display: none
.chat__user
  border-radius: $BORDER_RADIUS
  display: inline-block
  margin: 0.5rem
  cursor: pointer
  align-items: center
  background: green
  display: inline-flex
  width: $AVATAR_MEDIUM
  height: $AVATAR_MEDIUM
  justify-content: center
  font-size: 14px
  color: white
  font-weight: bold
  position: relative
  &.chat__user--case
    background-color: red
  &.chat__user--display
    background-color: green
  &.chat__user--display--case
    background-color: blue
  &:hover
    box-shadow: $shadow-l2
  &:active
    box-shadow: $shadow-l1
.chat__header
  z-index: 2
  height: 33px
  color: white
  position: absolute
  top: 0
  left: 0
  right: 0
  background-color: $blue-500
  font-size: 14px
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 16px
.chas__box
  display: flex
  flex-direction: column
  flex-grow: 1
.chat__messages
  display: flex
  flex-grow: 1
  flex-direction: column
  height: 260px
  padding: 0 8px 32px
  position: relative
  overflow: auto
  background-color: white
.chat__input
  grid-area: input

.chat__avatar
  border-radius: 100%
  margin-right: 4px
  position: relative

.chat__message
  align-self: flex-start
  margin-bottom: 0.5rem
  margin-left: 32px
  display: flex

  width: calc(100% - 35px)
  > div
    width: 80%
  .sf-avatar
    position: relative
    bottom: -12px
    left: -32px
  &:last-child
    border-radius: 0
.has-notification
  background-color: #8df566
  width: 12px
  height: 12px
  position: absolute
  bottom: 0
  right: 0
  display: inline-block
  z-index: 99
  border-radius: 100%


.chat__input
  label
    display: flex
    width: 100%
    padding: 1rem
    margin: 0
  .btn--sm
    color: white
    position: absolute

    right: 17px
    top: 17px
    svg
      width: 12px
  textarea
    border: 0
    border-radius: 4px
    background: #e1e7ec
    padding: 0.25rem 4rem 0.25rem 0.25rem
  div
    width: 100%
    border: 2px solid transparent
    &.has-file-hover
      border-color: grey
  .attachment
    display: inline-flex
    width: 23px
    height: 23px
    justify-content: center
    align-items: center
    position: absolute
    color: $grey-600
    background: #e1e7ec
    border-radius: 4px
    right: 52px
    top: 21px
    &:hover
      color: $grey-400
    &:active
      color: $grey-600
    &.has-attachment
      background: #7a89a1
      color: $grey-100
      &:hover
        color: white
    input
      width: 21px
      height: 21px
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      opacity: 0
.sf-avatar
  width: $AVATAR_SMALL
  height: $AVATAR_SMALL
  display: inline-flex
  background: red
  justify-content: center
  align-items: center
  padding: 0
  position: relative
  font-size: 12px
  color: white
.sf-avatar-list
  .sf-avatar
    border-radius: 100%


.has-notification--label
  position: absolute
  font-size: 12px
  background-color: $grey-100
  color: $blue-700

  display: inline-flex
  width: 16px
  height: 16px
  justify-content: center
  align-items: center
  border-radius: 100%
  top: 0px
  left: 15px
  &.is-warning
    background-color: $c-error
    color: white