sf-chips,
.sf-chips
  align-items: center
  background: $grey-200
  border-radius: 1rem
  color: $grey-700
  display: inline-flex
  font-size: 12px
  margin: 0.25rem
  line-height: 1
  justify-content: flex-start
  padding: 0.25rem
  text-transform: none
  button
    align-items: center
    background: rgba(255,255,255,0.8)
    border-radius: 1rem
    height: 1rem
    padding: 0
    display: inline-flex
    width: 1rem
    justify-content: center
    font-size: 1rem
    line-height: 1rem
    margin: 0
    margin-left: 0.33rem