
.blue-100
    color: $blue-100 !important
.blue-200
    color: $blue-200 !important
.blue-300
    color: $blue-300 !important
.blue
    color: $blue-500 !important
.blue-700
    color: $blue-700 !important
.grey
    color: $grey-500 !important
.dark-grey
    color: $grey-700 !important

.c-white,
.white
    color: $white !important
.bg-grey
    background-color: $grey-200 !important
.bg-grey-100,
.bg-grey--light
    background-color: $grey-100 !important
.bg-blue--light
    background-color: $blue-100 !important
.bg-blue-200
    background-color: $blue-200 !important
.bg-blue--light
    background-color: $blue-100 !important
.focus\:bg-transparent:focus
    background-color: transparent
.focus\:bg-white:focus
    background-color: #ffffff
.focus\:bg-grey-d:focus
    background-color: darken(#8294A4, 25%)
.focus\:bg-grey-l:focus
    background-color: #f6f8fb
.hover\:bg-transparent:hover
    background-color: transparent
.hover\:bg-white:hover
    background-color: #ffffff
.hover\:bg-grey-d:hover
    background-color: darken(#8294A4, 25%)
.focus\:bg-grey-l:focus
    background-color: #f6f8fb
.bg-transparent
    background-color: transparent
.bg-white
    background-color: $white !important
.has-error
    color: $c-error
[class*="focus\:bg"],
[class*="hover\:bg"],
    transition: background-color 250ms ease
a
    color: inherit
.ic-info
    color: $blue-500
.ic-warning
    color: $c-warning
.ic-error
    color: $c-error