.br-4
    obrder-radius: 4px
.input-panel-group
    display: flex
.btn-panel-group
    @extend .br-4 !optional
    @extend .px-4 !optional
    border: 1px solid transparent
    background: transparent none
    cursor: pointer
    color: $c-primary
    &:hover
        background-color: $c-primary-hover
        color: white
    &:focus
        border: 1px solid transparent

// button,
// input[type="submit"],
// [class^="btn-"]
//     @extend .pointer !optional
//     appearance: none
//     background: transparent none
//     border: 0
//     display: inline-block
//     text-decoration: none
//     white-space: nowrap

// [class^="btn-"]
//     @extend .br-4 !optional
//     @extend .buttons !optional
//     border: 1px solid currentColor
//     height: 27px
//     line-height: 27px
//     /* to understan if is a good things */
//     height: 33px
//     line-height: 33px
//     /* to understan if is a good things */
//     padding: 0 0.5em
//     font-size: 1em
//     line-height: 1
//     input[type="file"]
//         display: block
//         position: absolute
//         width: 100%
//         height: 100%
//         opacity: 0
//     &[class*="--lg"]
//         font-size: 1.2rem
//         height: 33px
//         line-height: 33px
//     &[class*="--sm"]
//         height: 22px
//         line-height: 22px
        
//     &[class*="--primary"]
//         border-color: $c-primary
//         &[class*="--wired"]
//             color: $c-primary
//             &:hover
//                 background-color: rgba( $c-primary, .5 )
//                 color: lighten($c-primary, 15%)
//                 border-color: lighten($c-primary, 15%)
//             &:active
//                 background-color: lighten($c-primary, 10%)
//         &:not([class*="--wired"])
//             background-color: $c-primary
//             color: white
//             &:hover
//                 background-color: lighten($c-primary, 15%)
//             &:active
//                 background-color: lighten($c-primary, 10%)

//     &[class*="--secondary"]
//         border-color: $c-secondary
//         &[class*="--wired"]
//             color: $c-secondary
//         &:not([class*="--wired"])
//             background-color: $c-secondary
//             color: white
    
//     &[class*="--tertiary"]
//         border-color: $c-tertiary
//         &[class*="--wired"]
//             color: $c-tertiary
//             &:hover
//                 border-color: lighten($c-tertiary, 10%)
//             &:active
//                 border-color: darken($c-tertiary, 10%)
//         &:not([class*="--wired"])
//             background-color: $c-tertiary
//             color: white
//             &:hover
//                 background-color: lighten($c-tertiary, 10%)
//             &:active
//                 background-color: darken($c-tertiary, 5%)
//     &:disabled,
//     &[disabled="disabled"],
//     &.disabled
//         background-color: rgba( $grey-200, .5 ) !important
//         border-color: rgba( $grey-200, .5 ) !important
//         color: rgba( $grey-400, .9 ) !important
//         cursor: not-allowed !important
//         pointer-events: none !important
//     + [class^="btn--"]
//         margin-left: 24px




// // .main-bton
// //     border: 0
// //     background: none transparent
// //     padding: 0.25rem 0.33em
// //     color: $grey-600
// //     background-color: $grey-300
// //     border-radius: 4px
// //     margin: 0.25rem 0.33rem
// //     cursor: pointer
// //     &:hover
// //         background-color: $grey-400

// .button-text
//     letter-spacing: 0.75px
//     font-weight: 400
//     font-size: 12px
//     line-height: 1
//     color: $grey-600
//     &:hover
//         color: $blue-600
// [class*="--link"]
//     border: 0
//     padding: 0.5rem
//     height: auto
//     line-height: 1
//     display: inline-block

app-case-control 
    position: relative
    display: block
    .dropdown__menu
        left: 2rem
        top: -1.5rem
.main
    button:not(.btn-round)
        line-height: 0
        &:hover
            background: rgba(255, 255, 255, 0.15)
            vertical-align: top
            border-radius: 4px

.main .small-reload
    position: absolute
    top: -6px
    right: -3px
    padding: 0
    background: $grey-200
    width: 18px
    height: 18px
    border-radius: 18px
    display: flex
    justify-content: center
    align-items: center
    font-size: 14px
    box-shadow: 0 4px 4px rgba(0,0,0,0.5)
    z-index: 2
    color: $blue-700
    img
        width: 11px
    &:hover
        background: white
        border-radius: 18px

.cursor-pointer
    cursor: pointer



.btn-round
    align-items: center
    background-color: white
    border: 0
    border-radius: 100%
    color: $grey-700
    display: flex
    font-size: 21px
    // filter:
    box-shadow: $shadow-l1
    justify-content: center
    height: 33px
    width: 33px
    transition: box-shadow 125ms ease
    &:hover
        box-shadow: $shadow-l2
        transition: box-shadow 125ms ease
    &:active
        box-shadow: $shadow-l4
        transition: box-shadow 125ms ease
    
    &.is-hide
        display: none
    app-element-panel &
        position: absolute
        left: 12px
        margin-left: 0
        //top: 107px
        top: 60px
        z-index: 40
.btn--icon
    color: $grey-500
    &:hover
        color: $blue-500