app-display-list
    display: block
    > button
        background-color: white
        border-radius: 4px
        box-shadow: $shadow-l1
        display: block
        &:hover
            box-shadow: $shadow-l2

    .squared
        display: flex
        justify-content: center
        align-items: center
        font-size: 1rem
        position: absolute
        left: 8px
        background-color: $blue-200
        color:  $blue-700
        &.is-selected
            color: white
            background-color: $blue-400
    
.display-tag
    background: transparent
    color: $grey-600
    display: block
    font-style: normal
    font-weight: normal

.display-title
    font-style: normal
    font-weight: 600
    line-height: normal
    letter-spacing: 0.03em
    display: block
    color: $grey-700
    color: #2a3241
    overflow: hidden
    text-overflow: ellipsis
    width: 100%
    white-space: nowrap