.dropdown
  @include dropdown
.dropdown__head
  @include dropdown-selection
  white-space: nowrap
  min-height: 33px
.dropdown__head--sm
  line-height: 21px
  height: 21px
.dropdown__menu
  @include dropdown-content
  .auxiliary &
    bottom: 18px
    left: 2rem
  app-switch-display &
    bottom: 20px

  app-tooltip &
    top: auto
    bottom: 0
    max-height: 130px
.dropdown__group
  align-items: center
  display: flex !important
  padding: 0 16px
  justify-content: space-between
  color: $grey-700
  svg
    display: none

.dropdown__toggle
  @include dropdown-toggle

.dropdown__option:not(.btn--link)
  @include dropdown-item
.dropdown__option
  display: block
  color: $blue-600
  font-size: 0.875rem
  &.active
    background: #d5e0ea
    width: calc(100% - 8px)
    color: #32373b

  label
    cursor: pointer
    display: block
    line-height: 33px
    white-space: nowrap
  p
    display: flex
    color: $grey-600
    > span
      margin: 0 8px
.dropdown__option--first
  @include dropdown-item-first

.dropdown__btn
  background-color: transparent
  border-color: transparent
  color: $grey-600
  cursor: pointer
  display: inline-flex
  font-size: 0.875rem
  padding: 8px
  text-decoration: none
  margin: 4px
  width: calc(100% - 8px)
  i
      font-size: 1.2rem
      margin-right: 0.5rem
      vertical-align: text-bottom
  &:hover
    background-color: $grey-100
    color: $grey-700
  &:active
    background-color: $grey-200
    color: $grey-700
  &.active
    color: $grey-700
    font-weight: $f-bold
    &:active
      background-color: $blue-200
    &.is-selected
      background-color: $blue-200
app-choose-displays .dropdown__menu
  right: 0
  width: 220px
.panel-contents
  .dropdown
    margin-top: 0
    margin-bottom: 0
form .dropdown,
.dropdown-wrapper
  background-color: $grey-200
  border-radius: 4px
  .dropdown__head 
    display: block
  app-element-panel &
    min-width: 150px
.dropdown-wrapper .dropdown__option
  line-height: 33px
  padding: 0 16px
  cursor: pointer

.dropdown-selected-placeholder
  color: #00184f
  padding-right: 32px

.dropdown-selected,
.dropdown-selected-placeholder
  text-overflow: ellipsis
  width: 90%
  white-space: nowrap
  overflow: hidden

.dropdown-selected span,
.dropdown-selected-placeholder span
    display: block
    font-size: 12px
    line-height: 2.5
    padding-left: 0.25rem
.has-selection
  .dropdown-selected-placeholder span
    font-size: 10px
    position: absolute
    top: -6px
    opacity: 0

.dropdown-wrapper
  min-width: 200px
  .has-selection
    .dropdown-selected-placeholder
        margin-top: -2px
  .dropdown__toggle
    position: absolute
    width: 21px
kendo-dialog
  .dropdown__menu
    bottom: 0
    right: 0
    max-height: 170px
  app-ui-dropdown
    position: absolute !important
    top: 6px
    right: 0
app-navigate-elements
  .btn-round
    top: 50%
    transform: translate3d(0,-50%,0)
table
  .dropdown__menu
    max-height: 144px