.element-detail
    color: $grey-700
    bottom: 0
    position: absolute
    top: 0
    left: 0
    z-index: 30
    transition: all 250ms ease
    &.is-close
        z-index: -1
        transition: all 250ms ease
.element-detail__wrap
    // background-color: $grey-200
    font-size: 0.875rem
    width: 100%
    height: 100%
    overflow: auto
    padding-left: 54px
    // box-shadow: 3px 0 12px rgba(0,0,0,0.05), 1px 0 6px rgba(0,0,0,0.1)
    .pm-tabs
        border-bottom: 1px solid $grey-200
        padding-bottom: 0
    .pm-tab
        padding-top: 8px
        padding-bottom: 8px
        span:after
            display: none
    > .panel
        margin-bottom: 1rem

    // .btn
    //     background-color: transparent
    //     border: 0
    //     color: #000000
    //     font-size: 27px
    //     position: absolute
    //     right: 6px
    //     height: 40px
    //     width: 40px
    //     top: 57px
    // .search-bar--sm
    //     width: 330px
    //     float: left
    // &.is-close
    //     transform: translate3d(-100%,0,0)
    // &.is-active
    //     transform: translate3d(0,0,0)
    app-proprieties
        grid-column: 1/3
    app-accordion
        grid-column: 1/4

.pmsft-proprieties-panel
    background-color: white
    .main-graph
        text-align: center
        h4
            font-weight: 400
            color: red
            font-size: 1em
        p
            font-weight: bold
            font-size: 2em

.search-box
    @include panel
        // position: absolute
        // top: 12px
        // left: 65px
        // left: 70px
        width: 490px
        box-shadow: $shadow-l3
        transition: transform 250ms ease
        z-index: 40
    input:focus
        outline: 0
        background-color: $grey-100
    &.is-hide
        transform: translateY(-100vh)
        transition: transform 250ms ease 
    form
        display: flex
        input
            flex-grow: 1
            border: 0

.ancor-list
    @extend .between
    align-items: center
    display: flex
    width: 80%

.pm-table--header
    width: 100%
    th
        font-weight: $f-bold
    button
        appearance: none
        border: 0
        background: none transparent
        padding: 0.1rem 0.2rem
        font-weight: inherit
        &:hover
            background-color: $grey-l
.pt-table__th
    font-size: 12px
    font-weight: 600
    padding: 0.5rem
    background: $grey-100
.pt-table__tr:hover
    background: $grey-200
.pt-table__td
    padding: 0.25rem 0.5rem
    font-size: 0.6875rem
.attribute-panel
    max-height: 50vh
    overflow-x: hidden
    overflow-y: auto

.definitions
    display: grid
    grid-template-columns: 1fr 2fr
    padding: 0.25rem
    color: $grey-500
    strong
        color: $grey-700
.objectstatus
    float: right
    padding: 12px 12px 0
    font-size: 12px


.pt-sneak
    position: fixed
    bottom: 50%
    left: 50%
    z-index: 9
    color: #001a4e
    padding: 12px
    border-radius: 4px
    box-shadow: $shadow-l3
    background-color: white
    transform: translate3d(-50%,-50%,0)