input[type="number"],
input[type="search"]
    appearance: none
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
    display: none
.form-login
    @include panel
    min-width: 560px
    padding: calc(16px * 3)
.form__inner
    p
        margin: 1rem 0
    header
        margin-bottom: 2rem
    footer
        margin-top: 1rem
        border-top: 1px solid #ccc
input[type="number"],
input[type="text"],
input[type="email"],
input[type="password"]
    @extend .px-2
    background-color: $grey-100
    border: 1px solid $grey-200
    width: 100%
    border-radius: 3px
    display: block
    font-size: 12px
    height: 28px
    line-height: 28px
    width: 100%
    padding: 0 0.25rem


    app-case-creator & 
        background-color: $grey-100
        border: 1px solid $grey-100
    &::-webkit-input-placeholder 
    &:-moz-placeholder
    &::-moz-placeholder
    &:-ms-input-placeholder
    &::-ms-input-placeholder
    &::placeholder
        color: $grey-600
    &:focus
        color: $grey-700
input[type="number"],
input[type="text"],
input[type="email"],
input[type="password"]
    &:hover
        border-color: $blue-200
    &:focus
        border-color: $blue-300
// form-group fg--inline fg--block
.form-group
    margin-bottom: 24px
    position: relative
.form-group--inline
    @extend .form-group
    display: grid
    grid-gap: 18px
    grid-template-columns: 120px 1fr 
    label 
        text-align: right

textarea
    width: 100%
    resize: none
    border-radius: 0

.main-title
    font-weight: 600
    font-size: 21px

.small-text
    font-weight: 400
    font-size: 18px
    text-align: left
.text-center
    text-align: center

.is-select
    background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVR42mNgwAfKy8v/48I4FeA0AacVDFQBAP9wJkE/KhUMAAAAAElFTkSuQmCC") no-repeat scroll right center transparent
    -webkit-appearance: textfield
    border: 0
    border-bottom: 1px solid #e5e5e5
    padding: 0.8em
    font-size: 14px
    &::ms-expand
        display: none

.input-group
    padding: 6px
    margin-bottom: 6px
    display: flex
    &:not(.is-wide)
        width: 50%
    &:first-child:last-child
        width: 100%

    input[type="text"],
    input[type="number"],
    input[type="email"],
    textarea
        // border: 1px solid #95a1a5
        border: 1px solid #cfcfcf
        border-radius: 3px
        // padding: 0.6rem 1rem
        padding: 0.1em 0.2em 0.3em
        display: block
        color: #2f3435
        font-size: 16px
        line-height: 1
        width: 100%
        display: inline-block
        flex-grow: 0
        flex-shrink: 1
    &.is-light
        background-color: white
    &.is-inline
        @extend .between
        align-items: center
        flex-direction: row
        &.t-r
            text-align: right
        label
            margin-right: 6px
            width: 120px
        input
            flex-grow: 1
            flex-shrink: 1
    &.is-block
        flex-direction: column

.is-checkbox
    @extend .caption
    color: $grey-500
    cursor: pointer
    i
        font-size: 1.5em
    input
        display: none !important
    &.is-checked
        color: $grey-600

// .progress__value
input[type='number']
    -moz-appearance: textfield
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance: none

.edit-fields
    padding: 0 0.5em
    border-radius: 4px
    background-color: $white
    box-shadow: $shadow-l2
    &.is-correct
        border: 1px solid $c-success
    &.is-incorrect
        border: 1px solid $c-error
    > span
        border-right: 1px solid $grey-200
        &:last-child
            border-right: 0
    select,
        background-color: transparent
        border: 0
        font-size: 12px
        height: 36px
app-panel .edit-fields
    box-shadow: none
app-adjustment:first-of-type .edit-fields
    border-radius: 4px 4px 0 0
    margin-top: 0.5rem
app-adjustment:last-of-type .edit-fields
    border-radius: 0 0 4px 4px
    margin-bottom: 1rem
app-adjustment:first-of-type:last-of-type .edit-fields
    border-radius: 4px
.inline-panel
    display: flex
    padding-bottom: 8px
    .main-panel
        display: flex
        align-items: center
        i
            font-size: 21px
.simple-tabs
    display: flex
    align-items: center
    padding: 0 12px
    border-bottom: 1px solid rgba(0,0,0,0.2)
.simple-tab
    padding: 0px 16px
.tooltip app-adjustment .edit-fields 
    display: block
.form-panel
    margin: 0 16px
    width: auto
    background: #f9fafb
    border-radius: 4px
    grid-column: 1 / span 2
.form-panel__title
    grid-column: 1 / span 2
    padding: 8px
    background: #eff2f6
    color: #001b4e
[for="file"]
    display: block
    border: 3px dashed #e1e7ec
    width: calc(100% - 16px)
    padding: 4px
    input
        width: 100%
        display: block
.is-disabled,
[ng-reflect-disabled="true"]
    opacity: 0.8
    pointer-events: none
.pt-form-control
    margin-bottom: 18px
.pt-form-control:last-child
    margin-bottom: 0
.pt-fieldset
    margin-bottom: 12px
    padding-top: 8px


.sf-form-group
    display: flex
.sf-form-group--search
    .sf-input
        border-radius: 4px 0 0 4px
        flex-grow: 1
        padding: 0 4px
    .sf-btn--search
        border-radius: 0 4px 4px 0
        margin: 0
.sf-input 
    border-radius: 4px
    border: 1px solid $grey-200
    background-color: $grey-100
    &:hover
        background-color: white
        border-color: $grey-200
    &:focus
        border-color: $blue-400

    //   <button type="submit" class="sf-btn sf-btn-primary">search</button>
    // </form>
// .Adjustment .k-autocomplete
//     width: 100%
//     max-width: 70px
//     min-width: 50px
//     padding-right: 0.5rem