@font-face
    font-family: $iconsetname
    src: url( "assets/fonts/sigmafine-font.woff" ) format("woff")
    font-weight: normal
    font-style: normal
    font-stretch: normal
html, *
    
    user-select: touch
    -ms-overflow-style: -ms-autohiding-scrollbar
    &:focus
        outline: none
/* ::-webkit-scrollbar
    display: none */
body
    // font-family: $font-family-sans-serif
    background-color: $grey-100
    line-height: 1
.relative
    position: relative
.absolute
    position: absolute
.fixed
    position: fixed

.pointer
    cursor: pointer
.shadow
    box-shadow: $shadow-l1
    transition: box-shadow 250ms ease
.scrollable-x
    width: 100%
    overflow-x: auto
    display: inline-flex
.scrollable-y
    height: 100%
    overflow-y: auto
    display: inline-flex
.h\:shadow:hover
    box-shadow: $shadow-l2
    transition: box-shadow 250ms ease
.h\:shadow:active
    box-shadow: $shadow-l3
    transition: box-shadow 250ms ease
.br-3
    border-radius: 4px
.br-4
    border-radius: 4px
.brt-4
    border-radius-top: 4px
.brr-4
    border-radius-right: 4px
.brb-4
    border-radius-bottom: 4px
.brl-4
    border-radius-left: 4px
.br-100
    border-radius: 100%
.border-blue
    border-color: #8294A4


.main-login-box
    padding: 40px 0
    justify-content: center
    align-items: center
    max-width: 1140px
    margin: 0 auto

.pm-stage
    padding-top: 65px
    z-index: 4
    position: relative
.status-bar
    width: 100%
    overflow: hidden

.status-bar__trak
    width: 200%
    transform: translateX(0%)
    transition: transform 250ms ease
    .is-active &
        transform: translateX(-50%)
        transition: transform 250ms ease
    > span
        width: 50%
        display: block
        float: left

.track__container
    transition: transform 300ms ease
.track__content
    > ul
        width: 400px
        padding: 0 6px
        float: left

.canvas_mask
    &.is-active
        background-color: transparent
.selectionObject
    background-color: rgba(0,255,5,0.05) !important
    position: fixed
    z-index: 99
    pointer-events: none
    
    border: 1px solid #00FF19

.l-page 
    width: auto
    padding: 20px 0 0 78px
    max-width: 960px
    margin: 30px auto
.t-logged

.l-container
    background-color: white
    // max-width: 940px
    // margin: 0 auto
    // min-height: calc(100vh - 40px)
    // border-radius: 3px
app-tooltip app-adjustment .level-item:first-of-type
    display: none !important

/**/
.is-pin
    position: fixed
    left: 0
    top: 0
    z-index: 4
    cursor: pointer

    &:hover
        span
            transform: scale(2)
    div
        width: 45px
        height: 45px
        z-index: 6
        transform: translate3d(10%, -60%, 0)
    object
        pointer-events: none
        display: block
.is-pin
    position: fixed
    top: 0
    left: 0
    display: block
    width: 30px
    height: 30px
    background: transparent url('assets/img/PinIconCurrent.png') 0 0 no-repeat
    background-size: 100% 100%
    &.is-current
        background-image: url('assets/img/PinIcon.png')
    &:hover
        z-index: 5
.element-list-item
    align-items: center
    background: white
    margin: 0 5px 2px
    display: flex
    padding: 4px 8px
    justify-content: space-between
    font-weight: 500
    border-radius: 4px
    &.is-selected,
    &:hover
        background: $blue-200
    button
        border: 0
        background: none transparent
        font-size: 14px

.main-paragraph
    margin-bottom: 50px
    @media screen and (min-width: 60em)
        max-width: 80%
        
    footer
        margin-top: 3rem
.footer
    color: white
    font-size: 0.8rem
    bottom: 0
    padding: 1rem
    color: $grey-400
    a
        color: $grey-600
.columns
    display: flex
    flex-wrap: wrap
[class^="column-"]
    padding: 0 20px
.column-half
    flex-shrink: 0
    flex-grow: 0
    overflow: hidden
    flex-basis: 80%
    @media screen and (min-width: 64rem)
        flex-basis: 50%
.half-columns
    display: flex
    flex-wrap: wrap
    & > * 
        flex-shrink: 0
        flex-grow: 0
        flex-basis: auto
        width: 50%
.main-navigation__btn
    color: $grey-500
    text-align: center
    display: block
    cursor: pointer
    padding: 0.6rem 0.5rem
    font-size: 1.25rem
    background: transparent
    border-color: transparent
    appearance: none
    position: relative
    &:hover,
    &.is-active
        color: $grey-300

.profile-box
    @extend .absolute
    bottom: 12px

    .select-displays
    bottom: 0px
    left: 10px

.web-app
    min-width: 340px
    padding-left: 13px
    > a
        align-items: center
        display: flex
        padding: 8px 4px
        text-decoration: none
        svg
            max-width: 33px
            margin-right: 8px
        .svg-icon
            margin-right: 9px
[class*="_br"]
    border-radius: 3px

.is-grid
    display: grid
    grid-gap: 10px
    &.is-grid--thirds
        grid-template-columns: 66% 33%
    &.is-grid--half
        grid-template-columns: 50% 50%
    &.is-grid--third
        grid-template-columns: 33% 33% 33%
    &.is-grid--fourtysixty
        grid-template-columns: 40% 60%


.grid--2columns--spaced
    display: grid !important
    grid-template-columns: repeat(2 , calc(50% - 8px) )
    grid-gap: 16px


[class^="grid"]
    display: grid
    &[class*="--half"]
        grid-template-columns: 50% 50%
.v-center
    top: 50%
    transform: translate3d(0,-50%,0)
.h-center
    left: 50%
    transform: translate3d(-50%,0,0)
.absolute-center
    top: 50%
    left: 50%
    transform: translate3d(-50%,-50%,0)

.user-select-none
    user-select: none

.search-titles
    background: $grey-100
    padding: 0.5em 16px
    font-size: 12px
    display: block

.diagnostic-chart
    max-width: 210px
    margin: 0 auto
.diagnostic-grid
    // display: flex
    // flex-wrap: nowrap
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 16px
    &.is-active
        display: grid
    > *
        padding: 0 18px
        min-width: 240px
        max-width: calc(50% - 16px)
        margin: 8px
.diagnostic-grid--horizontal
    flex-direction: row
.diagnostic-grid--vertical
    flex-direction: column
    max-height: 80vh
    flex-wrap: wrap


.diagnostic-grid__item

.graph
    
.graph--horizontal
.graph--card

.graph__title
    padding: 16px 0 
    color: $grey-600
    letter-spacing: 0.25px
.graph__value
    display: block
    margin-top: 3px
    font-weight: 600
    font-size: 21px
    color: $blue-700
.graph__legend
    background-color: $grey-100
    margin: 0 -18px
    border-radius: 0 0 4px 4px
    padding: 18px 18px 1px
    li
        display: flex
        align-items: flex-end
        margin-bottom: 11px
.graph__item




.graph-selector
    grid-column: 1 / span 2
    display: grid
    grid-template-columns: 45% 60%
    background: #f8f9fa
    padding: 1em 0
    border-radius: 4px
.folder--first
    margin-left: auto
    margin-right: 6px
.folder
    border-radius: 4px
    background-color: #e1e7ec
    padding: 0.5em
    color: #8795a6
    align-items: center
    display: inline-flex
    line-height: 27px
    height: 27px
    &:first-child,
    &:first-of-type
       
    svg
        margin-right: 0.5rem

.case-button
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    padding: 8px
    padding: 8px
.toolbar-group
  .dropdown__menu
    right: 0

#myDiagramDiv:after
    content: ""
    background: #f8f9fa
    display: block
    width: 200px
    height: 100px
    z-index: 2
    position: absolute
    top: 0
    left: 0

app-search-field-dropdown app-dropdown
    &:first-child
        margin-left: 8px
    &:last-child
        margin-right: 8px

.bar:h-grey-900
    color: grey
.content-center
    justify-content: center
.flex-tight
    flex-grow: 0
.flex-wide
    flex-grow: 1
.flex-wrap
    flex-wrap: wrap

.visually-hidden
    position: absolute !important
    height: 1px
    width: 1px
    overflow: hidden
    clip: rect(1px 1px 1px 1px)
    clip: rect(1px, 1px, 1px, 1px)
    white-space: nowrap

[aria-hidden="true"]
    display: none

// [hidden] 
//     display: none !important