.main-header
    width: 56px
    height: 56px
    display: flex
    justify-content: center
    padding: 5px 0px
    svg
        width: 100%
        height: 100%
[data-title]:after
    transform: translate3d(100%, -50%, 0) !important;
.logo
    margin-top: 4px
    margin-left: 5px

.header--fixed 
    position: fixed
    top: 12px
    left: 12px
    right: 12px

.has-children .is-children
    max-height: 0
    overflow: hidden
    position: absolute
    top: 100%
    
.has-children .is-children.is-open
    max-height: 100vh

.nav-submenu
    background-color: white
    min-width: 200px
    right: 0
    
.nav-submenu__item
    padding: 1rem
    border-bottom: 1px solid $grey-d
    cursor: pointer
    i
        margin-right: 0.5rem
        color: black
    &:hover
        background-color: $grey-d
        color: $grey-x
        i
            color: $grey-x
.nav-submenu__item:last-child
    border-bottom-color: transparent