[class^="#{unquote($prefix)}-"], [class*=" #{unquote($prefix)}-"]
    @include bootstrap-icon($iconsetname)

@each $icon in $icon-lists
    @include generate-icons(nth($icon,1),nth($icon,2),$prefix)
.icon-text
    display: flex
    align-items: center
    span
        font-size: 12px
        margin-left: 1em