.level
    align-items: center
    justify-content: space-between
    display: flex
.level-left,
.level-right
    align-items: center
    display: flex
    flex-basis: auto
    flex-grow: 0
    flex-shrink: 0
.level-left
    justify-content: flex-start
.level-right
    justify-content: flex-end

.level-item
    align-items: center
    display: flex
    flex-basis: auto
    flex-grow: 1
    flex-shrink: 0
    // justify-content: flex-start
    justify-content: center
    text-align: center
    input[type="text"],
    input[type="number"],
    input[type="email"]
        font-size: 12px

.level-item--value
    width: 120px
