.horizontal-list,
.vertical-list
  display: flex
.horizontal-list
  flex-direction: row
  &.reverse
    flex-direction: row-reverse
.vertical-list
  flex-direction: column
  &.reverse
    flex-direction: column-reverse
