.menu
    @extend .mb-6
    line-height: 1.5
    color: $grey-700
    h3
        color: $grey-400
    .active
        color: $c-secondary
    a
        color: $grey-700
        text-decoration: none
        &:hover
            color: $c-secondary