
.panel
    @include panel()
    &.is-selected
        background-color: $grey-200
        box-shadow: $shadow-l3
        color: #2e3e47 !important
    &.hide
        display: none !important
a.panel:hover
    box-shadow: $shadow-l2
.panel__row
    border-top: 1px solid $grey-200
    min-height: 2rem
    padding: 0.5rem 0
    margin: 0 1rem
.panel__background
    background-color: transparentize($blue-700, 0.5)
    position: absolute
    z-index: 2
    top: 0
    left: 0
    right: 0
    border: 0
    height: 100%
    transition: opacity 500ms ease 250ms
    &.is-active
        opacity: 1
        transition: opacity 500ms ease
.panel__close
    background-color: #e1e7ec
    border-radius: 100%
    width: 24px
    height: 24px
    cursor: pointer
    display: flex
    justify-content: center
    align-self: center
    color: #001b4e
    font-size: 18px
    padding: 0

    position: absolute
    top: 13px
    right: 10px
.panel__footer
    border-radius: 0 0 4px 4px
.panel__header
    display: flex
    justify-content: space-between
    color: $blue-700
    font-weight: 500
    border-radius: 4px 4px 0 0
    width: 100%
.panel--list
    position: relative
    padding: 16px 0
    margin: 8px
    ul
        max-height: 50vh
        overflow-y: auto
    .panel__title
        display: flex
        justify-content: space-between
        font-size: 16px
        font-weight: $f-medium
        color: $grey-700
        padding: 0 45px 16px 16px
    .panel__count
        @include f-normal()
        color: $grey-500
        font-size: 12px
        strong
            font-size: 14px
            color: $blue-700
.panel--cases
    background-color: $grey-200
    color: $blue-600
    padding: 1rem
    .body-2
        line-height: 1.5
.pm-panel
    background: inherit
    clear: both
    // filter: drop-shadow( 0 3px 6px rgba(0,0,0,0.05) )
    .sidebar-navigation &
        display: none
    &.is-open
        display: block
.panel-body
    // background-color: #d6dfe6
.pm-panel__header
    margin-bottom: 0.5em
    padding-top: 0.2em
    input[type="text"]
        border: 0
        border-radius: 0
        background: none transparent
        width: auto
        display: inline-block
        padding: 0
    span
        font-weight: 500
    small
        display: block
        font-size: 12px
        font-weight: 600
        letter-spacing: 0.04em
        opacity: 0.8
        margin-bottom: 0.2rem
.pm-panel__body,
.pm-panel__inner
    display: flex
    flex-wrap: wrap
.pm-panel__inner
    width: 100%
.bordered-box
    border: 1px solid $c-tertiary 
.bordered-box--overflow
    overflow: auto
    max-height: 100vh

.input-panel__item
    padding: 0 6px
    &:first-child
        padding-left: 0
    &:last-child
        padding-right: 0
    &:first-child:last-child
        padding: 0

.pm-panel--list
    &.is-close
        max-height: 0
        overflow: hidden
    &.is-open
        max-height: 100vh

.panel-heading
    i
        float: right
.panel-body
    // background: rgba(255,255,255,0.6)
    border-radius: 0 0 4px 4px

.panel__title
    font-style: normal
    font-weight: 600
    line-height: normal
    font-size: 14px
    color: #4D4D4D
    .sidebar-navigation &
        margin-top: 1rem
        padding-bottom: 1rem
.panel__content
    height: 400px
    overflow-y: auto

.round 
    display: inline-block
    width: 8px
    height: 8px
    border-radius: 12px

    margin-right: 8px
    vertical-align: middle
    &-1
        width: 1rem
        height: 1rem
    &-2
        width: 2rem
        height: 2rem
    &-3
        width: 2.5rem
        height: 2.5rem
    &-4
        width: 3rem
        height: 3rem
    &.is-adjustment
        background-color: #7CFFD0
.is-pink
    background-color: #ff6384
.is-blue
    background-color: #36a2eb

.tr-options
    text-align: right
    padding: 10px
    font-size: 12px


.pmsft-box
    border-radius: 2px
    //border: 1px solid #8C9CAB
    display: block
    overflow: hidden
    h4
        background-color: white
        font-weight: 500
        padding: 9px 12px
        text-transform: capitalize
        border-bottom: 1px solid #8c9cab
    ul
        max-height: 350px
        overflow: auto
    ul > li
        background-color: white
        border-bottom: 1px solid #8C9CAB
        &:hover
            background-color: rgba(130, 148, 164, 0.2)
        &:last-child
            border-bottom-width: 0px

.definition-list-title
    font-size: 12px
    font-weight: 600
    text-overflow: ellipsis
    overflow: hidden
.definition-list-content
    word-break: break-all
    padding: 0 10px 9px
    font-size: 11px

.attributePanel
    &.is-adjustament
        border-left: 3px solid #7cffd0
.attributePanel__heading
    display: grid
    grid-template-columns: 4rem 1fr 10rem

.attributePanel__header
    border-left: 3px solid transparent
    cursor: pointer
    display: grid
    grid-template-columns: 1rem 1fr 10rem 1rem
    position: relative
    transition: background-color 250ms ease
    .toggle-button
        display: none
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 4px
    &:hover
        background-color: $grey-100
        transition: background-color 250ms ease
        .toggle-button
            display: inline-block
    .is-adjustment &
        border-left-color: #7CFFD0



.header-value
    width: 100px
    padding-right: 30px

.is-boxed
    border: 1px solid #95a1a5
    width: 15px
    height: 17px
    display: block
    text-align: center
    font-weight: 500
    text-transform: lowercase
.is-graph
    h4, p
        text-align: center
    p
        font-size: 1.5rem
        font-weight: bold
        small
            font-size: 0.5rem
    h4
        font-weight: bold
        font-size: 1.5em

.ps-panel
    // background: white
    // box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.05)
    border-radius: 3px
    // padding: 18px
    margin-bottom: 6px
    position: relative
    display: block

    // filter: drop-shadow(0 3px 5px rgba(0,0,0,0.2))
    box-shadow: $shadow-l2
    background: white

.animate
    color: black
    &.rotate
        animation: spin 1s linear infinite

@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

.panel-contents
    align-items: center
    display: flex
    justify-content: space-between
    padding: 0.5rem
    width: 100%
    &:not(:last-child)
        border-bottom: 1px solid $grey-200

.toggle-group 
    display: flex
    justify-content: space-between
    margin-bottom: 0.25rem
    padding-top: 0.25rem
    color: $grey-600
    font-size: 0.875rem
.indented
    padding-left: 2rem

.tooltip.is-active
    .adjustament
        width: 200px
        flex-wrap: wrap
        > *
            width: 100%
            border-bottom: 1px solid $grey-100

app-case-runner-button .panel
    &:hover
        box-shadow: $shadow-l3


kendo-dialog app-loader
    position: absolute