.search
    position: relative
    height: 42px
    padding: 3px 0
    // width: 360px
    input
        height: 37px
        width: 100%
        font-size: 14px
.search input
    padding: 0 9px
.autocomplete__header
    // border: 1px solid #8294a4
    display: flex
    height: 36px
    justify-content: center
    align-items: center
    input
        flex-grow: 1
        appearance: textfield
        -webkit-appearance: textfield
        height: 34px
    > button
        border: 0
        // background: white none
        width: 42px
        font-size: 18px
        border-radius: 0 5px 5px 0
        // border-left: 1px solid #8294a4
        // text-align: center
        // line-height: 1
    .is-hide
        opacity: 0

.autocomplete__result:not(.is-open)
    max-height: 0
    transition: max-height 300ms ease

.autocomplete__result
    background: white
    display: block
    padding: 0
    border: 0
    top: calc(100% - 2px)
    transition: max-height 300ms ease
    transform: scale(1)
    width: 100%
    left: 0
    max-height: calc(100vh - 222px)
    overflow: hidden
    li
        &:empty
            display: none


.autocomplete__list
    max-height: calc(100vh - 300px)
    overflow-y: auto
    overflow-x: hidden
    .is-open &
        min-height: 300px
.autocomplete__item--group
    background-color: #fff
    display: block
    width: 100%
    // padding: 0.5rem
    // color: $grey-700
    // border-bottom: 1px solid $blue-200
    // font-weight: 500
    font-size: 14px
    button 
        font-size: 14px
    i
        color: $grey-600
        font-size: 21px
        margin-right: 12px
        position: relative
        top: -2px
    &:hover
        background-color: $blue-200
        color: $grey-700
.autocomplete__item
    cursor: pointer
    /* margin: 0.5rem */
    padding: 0.33rem 0.5rem
    font-size: 14px
    color: $grey-600
    display: flex
    justify-content: space-between
    &.is-selected
        background-color: $blue-100
        font-weight: 600
    &:hover
        background-color: $grey-200
        font-weight: 600
    &.is-selected,
    &:hover
        background-color: $grey-100
        font-weight: 600
    > *
        @extend .between
        flex-grow: 1
        max-width: calc(100% - 55px)
        overflow: hidden
        text-overflow: ellipsis
        display: block
        padding: 2px
    .actions
        flex-grow: 0
    button
        border: 0
        padding: 0 3px
        margin: 0 3px
        font-size: 16px
        cursor: pointer
        background: transparent none
        



.search-bar--sm
    position: relative
    display: flex
    height: 30px
    i
        position: absolute
        top: 50%
        left: 0
        font-size: 24px
        transform: translateY(-50%)
    input
        display: block
        padding-left: 30px
        width: 100%
        border: 0
        background-color: white
        border-radius: $border-radius