.sidebar__title
    background-color: $blue-500
    > *
        color: white
    p
        color: $blue-600

    display: flex
    flex-direction: column
    justify-content: flex-end
    // min-height: 96px
    min-height: 120px
    padding: 0 1rem 0.5rem
// .sidebar__title--xl
//     padding-top: 4rem
.sidebar__subtitle
    padding: 0 1rem
    position: relative
.sidebar__title--tabs
    padding-top: 4rem
    padding-bottom: 0
.sidebar-tabs
    display: flex
    font-size: 14px
.sidebar-tab
    border-bottom: 3px solid transparent
    padding: 1rem 0.5rem 0.75rem
    color: $blue-100
    cursor: pointer
    &.is-selected
        cursor: default
        color: $blue-700
        border-bottom-color: $blue-600
.sidebar-navigation
    background-color: $grey-100
    box-shadow: $shadow-l2
    width: 290px
    z-index: 10
    transform: translate3d(-100vw,0,0)
    position: absolute
    top: 0
    bottom: 0
    padding-left: 54px
    transition: transform 250ms ease
    max-height: 100vh
    overflow: hidden
    @media screen and (min-width: 600px)
        width: 342px
    &.is-active
        transform: translate3d(0%,0,0)
        transition: transform 250ms ease

.list-items 
    overflow-y: auto
    padding: 0 1rem
    &.list-items--display
        max-height: calc(100vh - 140px)
        i
            left: 7px

.inner
    padding: 6px
    font-size: 12px
    padding-left: 36px
    position: relative
    svg
        position: absolute
        left: 0
        top: 0