.pm-tabs
    display: flex
    justify-content: flex-start
    margin-bottom: 1rem
    app-diagnostic &
        margin-bottom: 0
        background: hsla(210, 18%, 94%, 1)
        padding: 1rem 0 0.25rem
        border-radius: 4px
.pm-tabs--centered .pm-tabs
    justify-content: center
.pm-tab
    @extend .f-uppercase
    color: $grey-500
    padding: 0.5rem
    span
        @include subtitle-2
        display: inline-block
        &:after
            content: ''
            border-radius: 2px 2px 0 0
            background-color: transparent
            display: inline-block
            position: relative
            left: -5px
            width: calc(100% + 10px)
            height: 3px
    &:not(.is-selected)
        cursor: pointer
    &.is-selected,
    &:first-child:last-child
        color: $grey-700
        span:after
            background-color: $c-secondary
.tab-content
    background-color: white



