
// table
//     background: white
//     border-collapse: collapse
//     border-spacing: 0
//     table-layout: auto
//     width: 100%
//     button
//         background: none transparent
//         border: 0
//         cursor: pointer
//         font-size: inherit
//     tr
//         td
//             color: lighten($c-text,5%)
//             font-size: 0.8rem
//             letter-spacing: 0.03rem
//             padding: 0.6em
//         &:hover 
//             background-color: rgba(0,0,0,0.05)
//             td
//                 color: $c-text
//         &.is-selected
//             background-color: rgba(0,0,0,0.05)
// .pm-table
//     max-height: 340px
//     overflow: auto
// .pm-table--header
//     color: red
//     button
//         appearance: none
//         border: 0
//         padding: 0
//         background: none transparent
// .pm-table__header
//     @extend .f-uppercase
//     font-size: 14px
//     font-weight: bold
//     text-align: left
//     padding: 1rem
//     background: white
//     color: #5c6467
//     &.is-small
//         width: 21px
//         padding: 1rem 0.5rem
//     button
//         border: 0
//         padding: 0
//         background: transparent none

%table
    background-color: white
    border-bottom: 1px solid $grey-200

[class^='table--']
    width: 100%
    table-layout: fixed
.table
    color: $grey-700
    &__row
        display: grid
        grid-template-columns: 2rem 2fr 1fr 2rem
        transition: background-color 250ms ease

        &.is-expanded
            background-color: $grey-100
        &:hover > *
            background-color: $grey-100
            color: $blue-700
            transition: background-color 250ms ease
    &__col
.table--high
    @extend %table
    th
        color: $blue-700
        font-weight: 500 
    td,
    th
        padding: 0.5rem 1rem
    td
        color: $grey-600
        app-ui-toggle
            margin-left: 1rem
    .table__col
        // padding: 0.45rem 0.25rem
        // display: inline-block

        height: 40px
        display: flex
        align-items: flex-end
        padding-bottom: 1em

.table-col
    padding: 0.5rem 1rem
.table--low
    @extend %table
.table--medium
    @extend %table
.table__row.table__detail
    grid-template-columns: 1fr
.table__detail
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.03))
    padding: 0 20px

.k-hierarchy-cell,
.k-hierarchy-cell + td
    background-color: #ededed


.panel__inner--open
    background: $grey-200
    padding-left: 33px

.toggle--twoline
    color: #001b4e
    font-size: 13px
    padding-right: 27px
    text-align: right

    margin-left: auto
    margin-right: 30px
    span
      display: block
      text-align: right
      color: #8795a6
    i
        color: #8b99a9
        font-size: 21px
        position: absolute
        right: 0px
        top: 50%
        transform: translate3d(0, -50%, 0)
.k-grid-header, .k-grid-toolbar, .k-grouping-header, .k-grid-add-row, .k-grid-footer 
    color: $blue-700
    background-color: #ffffff
.k-hierarchy-cell, .k-hierarchy-cell + td
    background-color: $grey-100

.k-grid-header, .k-header, .k-grid-header-wrap, .k-grouping-header, .k-grouping-header .k-group-indicator, .k-grid td, .k-grid-footer, .k-grid-footer-wrap, .k-grid-content-locked, .k-grid-footer-locked, .k-grid-header-locked, .k-filter-row>td, .k-filter-row>th 
    border-color: hsl(210, 37%, 91%)
.k-grid tbody tr:hover, .k-grid tbody tr.k-state-hover
    color: $blue-700
    background-color: $blue-100
.k-grid tr.k-alt
    background-color: transparentize($blue-100, 0.6)
    

.setting-graphic
    display: grid
    grid-template-columns: 46% 46%
    grid-gap: 20px

.mimic
    display: grid !important
    grid-template-columns: 33% 33% 33%
    & > label
        grid-column: 2 / span 2
    & > div
        grid-column: 3 / span 1
    app-setting-graphic
        grid-column: 1 / span 2
.table-flex
    display: flex
    justify-content: space-between
    padding: 9px 12px
.table-flex__col
    flex-grow: 1
    flex-shrink: 0
    display: block
.table-flex__col:last-child
    text-align: right
.chart-list .table-flex
    border-bottom: 1px solid $grey-200
    background: $blue-100
    color: $blue-700

.pt-table
    table-layout: fixed
    width: 100%
.pt-table .pt-table__row
.pt-table .pt-table__column
    border: 0
    border-bottom: 1px solid $grey-200

.table__col .dropdown__menu
    right: 15px

.pt-table
    th
        background-color: $grey-100
        color: $grey-600
        padding: 0.33rem 0
    td
        padding: 0.33rem 0
        border-bottom: 1px solid $grey-300
        color: $grey-600
        button
            display: inline-flex
            i
                font-size: 18px
    td.title button
        color: $grey-600
        font-size: 12px
        letter-spacing: 0.8px
        position: relative
        
        &:hover
            color: $blue-500

.panel__template-setting
    display: grid !important
    grid-template-areas: 'quicksummary objectstatus' 'quicksummary quickindex' 'quicksummary quickindex'
    grid-template-columns: repeat(2 ,calc(50% - 8px))
    grid-gap: 8px
.panel__objectstatus
    grid-area: objectstatus
.panel__quickindex
    grid-area: quickindex
.panel__quicksummary
    grid-area: quicksummary
   
.panel__graphic,
.panel__quicksummary
    .form-group
        display: grid
        grid-template-columns: 1fr 60px
        grid-column-gap: 8px
    .dropdown
        margin-bottom: 0

.panel__objectstatus,
.panel__quickindex,
.panel__quicksummary
    border: 1px solid $grey-200
    padding: 8px
    margin: 8px
    border-radius: 4px
    &.is-current
        border-color: $blue-400

.input-color
    width: 21px
    height: 21px
    display: inline-block
    margin-right: 12px
    border-radius: 33px
    margin: 5px 12px 5px 0px
    color: transparent
    border: 0

.attribute__detail
    height: 200px
    min-height: 200px
    background-color: #f8f9fa
    td
        vertical-align: top
        padding: 0 16px
.panel__aspect
    display: grid !important
    grid-gap: 8px
    grid-template-areas: 'aspectype diagnostic' 'graphic graphic'
    grid-template-columns: repeat(2 , calc(50% - 4px))
.panel__aspectype
    grid-area: diagnostic
.panel__diagnostic
    grid-area: aspectype
.panel__graphic
    grid-area: graphic

.k-grid td, .k-grid th
        padding: 4px 8px
.k-grid td
    border-width: 0px 0 1px 0
    height: 33px
.k-grid th
    padding: 8px

.k-grid .k-detail-cell
    overflow: visible !important

app-attributes
    .k-grid td
        overflow: hidden !important

.k-pager-numbers .k-link
    color: #526fa5
    border-radius: 100%
.k-pager-numbers .k-link:hover, .k-pager-numbers .k-link.k-state-hover
    color: #526fa5
    background-color: $grey-200
.k-pager-numbers .k-state-selected
    background-color: #526fa5
    color: #ffffff

.k-grid tr.k-alt
    background-color: white
.dropdown.dropdown-wrapper.dropdown-autocomplete
    min-width: 50px
    width: 50px

.dropdown-autocomplete .dropdown__menu.is-open
    display: block
.dropdown-autocomplete .dropdown__menu
    display: none