.tag
    background-color: $grey-200
    border-radius: 4px
    color: $grey-700
    display: inline-flex
    align-items: center
    margin-right: 6px
    min-width: 21px
    padding: 2px 4px
    text-align: center
    white-space: nowrap
    text-transform: uppercase
    &.squared
        width: 32px
        height: 32px
    &.success
        background-color: $green-200
        color: $green-700
    &.error
        background-color: $red-200
        color: $red-700
    &.warning
        background-color: $yellow-200
        color: $yellow-700
.tag--info
    background-color: $blue-200
    color: $blue-700
.tag--success
    background-color: $green-200
    color: $green-700
.tag--error
    background-color: $red-200
    color: $red-700
.tag--warning
    background-color: $yellow-200
    color: $yellow-700
.tag--avatar
    display: inline-flex
    justify-content: center
    align-items: center
    padding: 4px
.tag--small
    width: 24px
    height: 24px
    font-size: 14px
.tag--disabled
    background: rgba(0,0,0,0.1)
    font-weight: 400
    opacity: 0.6
    transition: all 250ms ease
.notification-badge .tag
    position: absolute
    top: 0px
    right: -11px
    padding: 0
    border-radius: 15px

.filter-slider__header
    white-space: nowrap
    padding: 0 0 12px
    overflow: auto
