
.toolbar-left
    text-align: left
    justify-content: flex-start
.toolbar-right
    justify-content: flex-end
.toolbar-left,
.toolbar-right
    flex-grow: 1
    flex-shrink: 0
    align-items: center
    display: flex
    white-space: nowrap
    flex-shrink: 0
    width: 50%

.ic-signal_cellular_4_bar
    color: #1ee81e
.ic-perm_scan_wifi
    color: #F44336
.toolbar-item
    @extend .px-2
    cursor: pointer
    // height: 24px
    // line-height: 24px
    display: inline-block
    vertical-align: middle
    transition: background-color 250ms
    text-transform: capitalize
    &:not([disabled])
        color: #191c2b
button.toolbar-item,
a.toolbar-item,
    &:hover
        background-color: darken( $grey-l, 10%)
        transition: background-color 250ms
    &:active
        background-color: darken( $grey-l, 15%)


