[data-title]
    position: relative
    &:hover:after
        content: attr(data-title)
        display: inline-block
    &:after
        position: absolute
        color: white
        background: #2b2b2b
        border-radius: 3px
        display: inline-block
        padding: 6px 12px
        font-size: 10px
        letter-spacing: 0.04em
        z-index: 2
        white-space: nowrap
        line-height: 1.25
        top: 50%
        right: 0
        transform: translate3d(100%, -50%, 0)
        font-weight: 400
        pointer-events: none
        user-select: none
        text-transform: capitalize !important

// remove
.pmsft-tooltip
    position: absolute
    background: #191c2b
    padding: 9px
    &:after
        content: ""
        border-style: solid
        border-width: 6px 4px 0 4px
        border-color: #191c2b transparent transparent transparent
        position: absolute
        width: 0
        height: 0
        top: 100%
        left: 50%
    &.zoom__container:after
        left: auto
        right: 32px

.pt-tooltip
    background-color: #ffffff
    box-shadow: 0 5px 5px -3px rgba(33, 41, 52, 0.2), 0 8px 10px 1px rgba(33, 41, 52, 0.14), 0 3px 14px 2px rgba(33, 41, 52, 0.12)
    border-radius: 4px
    min-width: 150px
    &.is-active
        width: 390px
        position: relative
.pt-tooltip__content
    padding: 0.5rem 0.5rem
.pt-tooltip__title
    color: $blue-700
    font-size: 14px
    font-weight: 600
    margin-bottom: 0.25rem
.pt-tooltip__subtitle,
.pt-tooltip__text
    color: $blue-500
    font-size: 11px
    margin-bottom: 0.5rem
    letter-spacing: 0.03em
.pt-tooltip__close
    background-color: $grey-200
    color: $blue-700
    font-size: 12px
    display: flex
    justify-content: center
    align-items: center
    padding: 0 6px
    border-radius: 100%
    height: 21px
    width: 21px
    position: absolute
    top: 8px
    right: 8px
.pt-tooltip__charts
    display: flex
    // position: absolute
    position: relative
app-pin-diagnostic.is-open
    z-index: 7