html,
body,
select,
input,
button
    -moz-font-feature-settings: 'kern'
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    direction: ltr
    text-align: left
h1,
h2,
h3,
h4,
h5,
h6
    margin: 0
strong
    @include f-bold
.whitespace-normal
    @include whitespace('normal')
.whitespace-no-wrap
    @include whitespace('nowrap')
.whitespace-pre
    @include whitespace('pre')
.whitespace-pre-line
    @include whitespace('pre-line')
.whitespace-pre-wrap
    @include whitespace('pre-wrap')
.break-normal
    @include word-wrap('normal')
.break-words
    @include word-wrap('break-word')
.align-right
    @include text-align('right')
.align-left
    @include text-align('left')
.align-center
    @include text-align('center')
.f-uppercase
    @include text-transform('uppercase')
.f-lowercase
    @include text-transform('lowercase')
.f-capitalize
    @include text-transform('capitalize')
.f-italic
    @include font-style('italic')
.f-normal
    @include font-style('normal')
.f-light
    @include f-light
.f-normal
    @include f-normal
.f-medium
    @include f-medium
.f-bold,
.bold
    @include f-bold
.no-decoration
    text-decoration: none
.title-h1
    @include title-h1
.title-h2
    @include title-h2
.title-h3
    @include title-h3
.title-h4
    @include title-h4
.title-h5
    @include title-h5
.title-h6
    @include title-h6
.subtitle-1
    @include subtitle-1
.subtitle-2
    @include subtitle-2
.subtitle-3
    @include subtitle-3
.body-1
    @include body-1
.body-2
    @include body-2
.body-3
    @include body-3
.caption
    @include caption
.overline
    @include overline
.label
    @include label
.buttons
    @include buttons
.table-header
    @include table-header
.table-text
    @include table-text
.table-text--selected
    @include table-text(true)
.o-ellipsis
    @include truncate-ellipsis

.paragraph
    margin-bottom: 1em
    line-height: 1.5
    p
        margin-bottom: 18px

.italic
    font-style: italic

// button
// letter-spacing: 0.15px;
// height: auto;
// line-height: 1;
// display: inline-flex;
// justify-content: center;
// align-items: center;
// padding: 0.33rem;
// font-size: 14px;
// text-transform: initial;
// font-weight: 400;