$user-profile: ".user-profile"

#{$user-profile}
    &__navigation
        overflow: hidden

.search-input 
    width: 100%
    border: 0
    padding: 0.45rem 0.8em
    padding-left: 37px
    font-size: 14px
    border-radius: 4px
    &:hover,
    &:focus
        // background: $c-list-hover
        border-color: transparent
        outline: 0
        transition: background 300ms ease
.search-label i
    position: absolute
    top: 50%
    transform: translateY(-50%)
    font-size: 18px
    left: 10px
    color: #95a1a5