.toolbar-group
    position: relative
.zoom-box
    height: 24px
    display: flex
    align-items: center
    span
        width: 40px
        display: block
        text-align: right
    input[type='number']
 
        text-align: right
        border: 0
        height: 100%
        color: white
        display: block
        width: 0px
        background-color: transparent
        &:focus
            background-color: #778c9d
            width: 40px
    button
        border: 0
        background: transparent none
    &:hover
    &.is-focus
        background-color: hsl(208, 16%, 50%)